<md-dialog style="max-width:960px;" arial-label="add produst">
<form ng-submit="$event.preventDefault()" name="addProd">
   <md-toolbar  class="modal-header">
      <div class="md-toolbar-tools">
         <h2>New Line Item</h2>
         <span flex></span>
         <md-button href class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
         </md-button>
      </div>
   </md-toolbar>
   <md-dialog-content style="width:850px;" >
      <div layout layout-sm="column" layout-margin>
         <section-title title="Item Details"> </section-title>
         <md-autocomplete flex="" ng-required="true" 
            ng-keypress="enter($event)"
            md-input-name="autocompleteField"
            md-no-cache="$root.noCache" 
            md-selected-item="$root.selectedItemm" 
            md-search-text="$root.searchTextt"
            md-items="item in $root.querySearchh($root.searchTextt)" 
            md-item-text="item.dis" 
            md-floating-label="Product or Service"
            md-autofocus="true"
            md-selected-item-change="setSelectedClient($root.searchTextt)">
            <md-item-template >
               <span  md-highlight-text="$root.searchTextt">{{item.dis}}</span>
            </md-item-template>
          <!-- <div ng-messages="addProd.autocompleteField.$error" ng-if="addProd.autocompleteField.$touched">
            <div ng-message="required">This is required.</div>
          </div> -->
         </md-autocomplete >
      </div>
      <div layout layout-sm="column" style="margin-top:-45px;" layout-margin >
         <section-title> </section-title>
         <md-input-container flex style="margin-top:0px;">
            <label>Quantity</label>
            <input type="number" ng-model="qty" ng-change="setSelectedClient($root.searchTextt)" required="" md-no-asterisk="" name="quantity"/>
          <div ng-messages="addProd.quantity.$error">
          <div ng-message="required">This is required.</div>
        </div>
         </md-input-container>
         <div flex ng-repeat="pim in promoItems" >
            <md-input-container style=" margin-top:-8px;">
               <label>Unit</label>
               <md-select style="width:150px;"ng-model="pim.ProductUnit" ng-change="setUOM(pim)" flex required="" md-no-asterisk="" name="unit"/>
               <md-optgroup label="Terms type">
                  <md-option ng-repeat="tax in $root.AllUnitOfMeasures" value="{{tax.unitsOfMeasurement}}">
                     {{tax.unitsOfMeasurement}}
                  </md-option>
               </md-optgroup>
               </md-select>
              <div ng-messages="addProd.unit.$error">
              <div ng-message="required">This is required.</div>
            </div>
            </md-input-container>
         </div>
        <md-input-container ng-repeat="pim in promoItems" style=" margin-top:-3px;" flex>
          <label>Price</label>
          <input type="text" ng-model="pim.price" required="" name="price" md-no-asterisk="" ng-change="setprice(pim)"/>
               <div ng-messages="addProd.price.$error">
              <div ng-message="required">This is required.</div>
            </div>
         </md-input-container>
      </div>
      <div layout layout-sm="column" layout-margin>
         <section-title></section-title>
         <md-input-container ng-show="displayDiscountLine"  flex>
            <label>Discount</label>
            <input type="text" ng-model="discount" />
            <md-icon md-svg-src="img/disc.svg"  md-ink-ripple style="margin-left:-30px;margin-top:-5px;" ></md-icon>
         </md-input-container>
         <div flex ng-repeat="pim in promoItems" ng-show="$root.DisplayTaxes">
            <md-input-container flex style=" margin-top:2px;">
               <label>Tax</label>
               <md-select style="width:150px;" ng-model="pim.tax.taxname" ng-disabled="TaxDisabled" ng-change="setTax(pim)" flex ng-required="true"/>
               <md-optgroup label="Tax">
                  <md-option ng-repeat="tax in $root.taxType" value="{{tax.taxname}}">
                     {{tax.taxname}} 
                  </md-option>
               </md-optgroup>
               </md-select>
            </md-input-container>
         </div>
         <md-input-container style=" margin-top:5px;" flex>
            <label>Amount</label>
            <span style="display:none">{{calAMount()}}</span >
            <input ng-model="Amount| currency:$root.BaseCurrency1" ng-disabled="true">
         </md-input-container>
      </div>
      <div layout layout-sm="column" layout-margin>
         <section-title > </section-title>
         <md-input-container flex>
            <label>Optional line comment</label>
            <input type="text" ng-model="olp"/>
         </md-input-container>
      </div>
      <md-divider></md-divider>
   </md-dialog-content>

   <div class="md-actions" layout="row">
   <div  ng-show="showProduct" >
       <span style="color:red" flex>Please fill out required fields </span>
   </div>
      <span flex></span>
      <md-button href ng-click="addproductToarray(pim)" class="md-primary">OK</md-button>
   </div>
   </form>
</md-dialog>