<style>
  .md-datepicker-input-container
  {
      width: 80%
  }
  .datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */ }
  .datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }
  .datepickerdemoBasicUsage .validation-messages {
    font-size: 11px;
    color: darkred;
    margin: 10px 0 0 25px; }
}
</style>
<div class="card-container" style="padding:20px;">
    <!--WHITEFRAME START-->
    <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" ng-repeat="TDinvoice in invoiceArray" style="border:1px solid #ccc;max-width:960px;margin:0 auto">
        <!--FORM START-->
        <form name="editForm"  style="width:960px;"  >
            <md-content flex>
                <div layout layout-sm="column" layout-margin  >
                    
                     <section-title title="Customer Details"> </section-title>
                    <md-input-container flex="70" style="margin-top: 30px;">
                        <label>Customer Name</label>
                        <input  ng-model="TDinvoice.Name " />
                    </md-input-container>
                </div>
                <div layout layout-sm="column" layout-margin>
                    <section-title> </section-title>
                     
                    <md-input-container flex="70" ng-show="Billingaddress">
                        <label>Billing Address</label>
                        <input  ng-model="TDinvoice.billingAddress " />
                    </md-input-container>
                    <md-input-container flex="70" ng-show="Shippingaddress" >
                        <label>Shipping Address</label>
                        <input  ng-model="TDinvoice.shippingAddress " />
                    </md-input-container>

                     <div style="height:30px;width:30px;margin-top:35px;"> 
                    <md-button aria-label="changeAdd" ng-click="changeAddress()" style="height:30px;" href>
                    <md-icon md-svg-src="img/ic_swap_vert_24px.svg" class="iconColor"  md-ink-ripple style="right:1px;left:95%;top:20px;" ></md-icon>
                    </md-button>
                    </div>
                </div>
                <div layout layout-sm="column" layout-margin>
                    <section-title> </section-title>
                   
                    <md-input-container flex>
                        <label>Profile No</label>
                        <input ng-model="refNo" ng-disabled="true">
                        </md-input-container>

                    <md-datepicker ng-model="Startdate" md-placeholder="Start Date" required flex style="margin-top:15px; width:230px;"></md-datepicker>

                    </div>
                    <div layout layout-sm="column" layout-margin>
                       
                        <section-title > </section-title>
                       
                        <md-input-container flex >
                        <label>Billing Frequency</label>
                        <md-select ng-model="TDinvoice.billingFrequency" flex required>
                            <md-option value="weekly">Weekly</md-option>
                            <md-option value="2weeks">2 Weeks</md-option>
                            <md-option value="4weeks">4 Weeks</md-option>
                            <md-option value="Monthly">Monthly</md-option>
                            <md-option value="2Months">2 Months</md-option>
                            <md-option value="3Months">3 Months</md-option>
                            <md-option value="6Months">6 Months</md-option>
                            <md-option value="Yearly">Yearly</md-option>
                            <md-option value="2Years">2 Years</md-option>
                            <md-option value="3Years">3 Years</md-option>
                       
                    </md-select>
                                </md-input-container>
                     <md-input-container flex >
                            <label>Occurences</label>
                            <input ng-model="TDinvoice.occurences" >
                            </md-input-container>

                   <!--  <md-datepicker ng-model="TDinvoice.occurences" md-placeholder="Occurences" required flex style="margin-top:25px; width:230px;"></md-datepicker> -->
                </div>
                <div layout layout-sm="column" layout-margin>
                   
                    <section-title > </section-title>
        
                             <md-input-container flex >
                            <label>Internal Note</label>
                            <input ng-model="TDinvoice.inNote" >
                            </md-input-container>

                               <md-input-container flex >
                            <label>Comment</label>
                            <input ng-model="TDinvoice.comments">
                            </md-input-container>
                        </div>
                        <md-divider></md-divider>
  <div >
      <div layout layout-sm="row" layout-margin  >
          <section-title title="Invoice Items"> </section-title>
    <div>
          <ul as-sortable="sortableOptions"  ng-model="TDinvoice.invoiceProducts"  flex>
              <li ng-repeat="item in TDinvoice.invoiceProducts" as-sortable-item flex style="margin-bottom:20px !important;">
               <md-card style="margin-left:-30px;" as-sortable-item-handle flex>
              <md-card-content >
               <div style="margin-top:0px;">
                        <span >
                          {{item.Productname}}
                          <md-tooltip>Product Name</md-tooltip>
                        </span>
                        <md-menu md-position-mode="target-right target" layout="row" flex-sm="100" flex="5" layout-align="center center" style="margin-top:-30px; margin-left:550px">
                            <md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                                <md-icon md-menu-origin  md-svg-src="img/ic_more_horiz_24px.svg"></md-icon>
                              </md-button>
                              <md-menu-content width="4">
                                <md-menu-item>
                                  <md-button href ng-click="viewProduct(item)">
                                    <p>Edit</p>
                                    <md-icon md-menu-align-target></md-icon>
                                  </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                  <md-button href ng-click="deleteproduct()">
                                    <p>Delete</p>
                                    <md-icon md-menu-align-target ></md-icon>
                                  </md-button>
                                </md-menu-item>
                              </md-menu-content>
                            </md-menu>
                            <md-divider></md-divider>
                        </div> 
                         
                       <div layout="row" layout-sm="column" style="height:20px; margin-top:10px;">
                     <div flex >
                         <span style="color:#808080;">{{item.quantity}} 
                         <md-tooltip>Quantity</md-tooltip>
                         </span> 
                         <span style="color:#808080;">{{item.ProductUnit}} 
                         <md-tooltip>UOM</md-tooltip>
                         </span>
                      </div>
                       <div flex>
                         <span style="color:#808080;">{{item.price|currency}}
                         <md-tooltip>Price</md-tooltip>
                         </span> 
                      </div>
                      <div flex >
                         <span style="color:#808080;">{{item.discount}}%
                         <md-tooltip>Discount</md-tooltip>
                         </span> 
                      </div>
                       <div flex>
                         <span style="color:#808080;">{{item.tax.taxname}}
                          <span style="color:#808080;" ng-if="item.tax.type == 'individualtaxes' " >({{item.tax.rate}}%)</span>
                              <md-tooltip>Tax</md-tooltip>
                          
                           <span style="color:#808080;" ng-repeat="tt in item.tax.individualtaxes">({{tt.rate}}%)</span>
                              <md-tooltip>Tax</md-tooltip>
                          </span> 
                      </div>
                      <div flex >
                         <span style="color:#808080;">{{item.amount|currency}}
                         <md-tooltip>Amount</md-tooltip>
                         </span> 
                      </div>
                </div>                                                                       
              </md-card-content>
              </md-card></li>
            </ul>
              <div layout="row" layout-sm="column"   flex style="margin-left:10px; margin-top:25px;">
                               <md-button href class="md-raised md-primary" style="height:5px; " ng-click="addProductArray(TDinvoice.recurringProducts)">New Line</md-button>
                          </div>
                         </div>
                      </div>
           <md-divider></md-divider>
                          <!-- <div style="overflow:hidden;"> -->
                          <div layout layout-sm="column" layout-margin>
                          
                           <section-title title="Totals"> </section-title>
                          </div>
                        <div layout layout-sm="column" layout-margin style="overflow:hidden;margin-top:-50px;">
                        <div flex="5"></div>
                        <div flex="20" style=""></div>
                        <div flex="10">
                            <label>Sub Total</label>
                        </div>
                        <md-input-container flex="20" >
                            <input type="text" aria-label="total" ng-model="TDinvoice.fdiscount" style="display:none" />
                        </md-input-container>
                        <div flex="5">
                            <label></label>
                        </div>
                        <div flex="30">
                            <span>{{calculatetotal(TDinvoice)|currency}}</span>
                        </div>
                    </div>
                    <div layout layout-sm="column" layout-margin style="overflow:hidden;margin-top:20px;">
                        <div flex="5"></div>
                        <div flex="20" style="margin-top:35px;"></div>
                        <div flex="10">
                            <label>Discount</label>
                        </div>
                        <md-input-container flex="20" >
                            <input type="text" aria-label="discount" ng-model="TDinvoice.fdiscount" />
                        </md-input-container>
                        <div flex="5">
                            <label></label>
                        </div>
                        <div flex="30" >
                            <label>{{finaldiscount(TDinvoice) | currency}}</label>
                        </div>
                    </div>
                    <div layout layout-sm="column" ng-repeat="tt in taxArr3" layout-margin 
                   style="overflow:hidden;">
                   <!-- {{tt}} -->
                                <div flex="5"></div>
                             
                                <div flex="20" style="margin-top:35px;"></div>
                                <div flex="10">
                                    <label>{{tt.taxName}}</label>
                                </div>
                                <md-input-container flex="20" >
                                    <input type="text"  ng-model="tt.rate" aria-label="sales tax" style="margin-top:-12px;"/>
                                </md-input-container>
                                <div flex="5">
                                    <label></label>
                                </div>
                                <div flex="30" >
                                    <label>{{tt.salesTax| currency}}</label>
                                </div>
                            </div>
                    
                    <div layout layout-sm="column" layout-margin style="overflow:hidden;">
                        <div flex="5"></div>
                        <div flex="20" style="margin-top:35px;"></div>
                        <div flex="10">
                            <label>Shipping</label>
                        </div>
                        <md-input-container flex="20" >
                            <input type="text" aria-label="shipping" ng-model="TDinvoice.shipping" />
                        </md-input-container>
                        <div flex="5">
                            <label></label>
                        </div>
                        <div flex="30">
                            <span >{{TDinvoice.shipping| currency}}</span>
                        </div>
                    </div>
                    <center>
                        <md-divider style="width:60%"></md-divider>
                    </center>
                    <div layout layout-sm="column" layout-margin style="overflow:hidden;">
                        <div flex="5"></div>
                        <div flex="20" style="margin-top:35px;"></div>
                        <div flex="10">
                            <label>
                                <b>Total USD</b>
                            </label>
                        </div>
                        <md-input-container flex="20" ></md-input-container>
                        <div flex="5">
                            <label></label>
                        </div>
                        <div flex="30">
                            <span ng-model="creditNote.totalUSD">
                                <b>{{finalamount(TDinvoice)| currency}}</b>
                            </span>
                        </div>
                    </div>
                                  <md-divider></md-divider>
                                  <div layout layout-sm="column"  layout-margin  >
                                      
                                      <section-title title="Optional Details"> </section-title>
                                      <md-input-container style="margin-top: 30px;" flex >
                                          <label>Notes</label>
                                          <input ng-model="TDinvoice.notes">
                                          </md-input-container>
                                      </div>
                                      <div layout layout-sm="column"  layout-margin>
                                 <section-title > </section-title>
                                  <md-select placeholder="Payment Method" style="margin-top: -5px;" ng-model="TDinvoice.paymentMethod" flex>
                                      <md-optgroup >
                                            <md-option ng-repeat="pay in paymentMethod" value="{{pay.paymentmethod}}">{{pay.paymentmethod}}</md-option>
                                        </md-optgroup>
                                  </md-select>
                              </div>
                               <div layout layout-sm="column" layout-margin>
                                 
                                  <section-title> </section-title>
                                  <md-input-container flex style="margin-top: 30px;" required>
                            <label>Invoice Settings</label>
                            <md-select  ng-model="TDinvoice.saveOption" flex>
                                      <md-optgroup label="Invoice Settings">
                                         <md-option value="saveAsPending">Save As Pending</md-option>
                                         <md-option value="saveAndEmail">Save and Email </md-option>
                                         <md-option value="saveandCharage">Save, Email and Charge Customer</md-option>
                                      </md-optgroup>
                                  </md-select>
                      </md-input-container></div>
                                      <div layout layout-sm="column" layout-margin>
                                         <section-title> </section-title>
                                          <div ng-init="DemoCtrl()" layout="column" class="chipsdemoBasicUsage" flex>
                                              <md-content class="md-padding" layout="column" style="margin-left:-15px;">
                                                  <md-chips
                                                  ng-model="TDinvoice.roFruitNames"
                                                  readonly="readonly"
                                                  placeholder="Enter a tag"
                                                  delete-button-label="Remove Tag"
                                                  delete-hint="Press delete to remove tag"
                                                  secondary-placeholder="+Tag">
                                                  </md-chips>
                                              </md-content>
                                          </div>
                                      </div>
                               <!--    </div> -->
                                  <md-divider></md-divider>
                              <div class="md-actions" layout="row" layout-sm="column" layout-align="end start" >
                                 <div style="padding-left:20px; margin-top:20px;">
                                <md-button flex  class="md-raised md-primary" ng-click="copyToProfile(TDinvoice)">
                                  <span class="loginBtnLabel">Save</span>
                              </md-button>
                              </div>
                              </md-content>
                          </form>
                      </md-whiteframe>

                      <!--WHITEFRAME END-->
                  </div>
                  <!--CARD CONTAINER END-->
                  <div  class="lock-size" layout="row" >
                  <md-button href class="md-fab" aria-label="Profile" ng-click="viewProfile()" style="position:fixed;top:270px;right:50px;background:#db4437">
                              <md-icon md-svg-src="img/ic_add_24px.svg" ></md-icon>
                              <md-tooltip md-direction="left">All Recurring Profiles</md-tooltip>
                          </md-button>
                      </div>
                     
