
            <md-dialog style="max-width:960px;" arial-label="email">
            <div layout layout-sm="column" layout-margin >
            <div flex="90"></div>
            <md-button href class="md-icon-button"  ng-click="cancel()">
                  <md-icon md-svg-src="img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
       </div>
        <md-dialog-content style="width:650px;" >
            <div layout layout-sm="column" layout-margin ng-init="recipientCtrl()" >
                      <label>To</label>
                         <md-chips flex
                            style="margin-top: -10px;margin-left:45px;"
                            ng-model="emailrec"
                            readonly="readonly"
                            delete-button-label="Remove Tag"
                            md-on-append="myFn($chip)"
                            delete-hint="Press delete to remove tag"
                            secondary-placeholder="To">
                            </md-chips>
                        </div>

                        <div layout layout-sm="column"  style="margin-top: 5px;" layout-margin ng-init="bccCtrl()" >
                        <label>Bcc</label>
                         <md-chips flex
                            style="margin-top: -10px;margin-left:40px;"
                            ng-model="emailBCCrec"
                            readonly="readonly"
                            delete-button-label="Remove Tag"
                            delete-hint="Press delete to remove tag"
                            secondary-placeholder="BCC">
                            </md-chips>
                        </div>
            
               <div layout layout-sm="column" layout-margin style="margin-top:10px; "> 
                    <label style="margin-top:10px;">Subject</label>
                    <md-input-container flex style="margin-top: 5px;">
                        <input ng-model="subject">
                        </md-input-container>
                    </div>
              <div layout layout-sm="column" layout-margin >
             <textarea style="width:100%;"> {{test.emailBody}}</textarea>
             </div>  
             </md-dialog-content>    
                   

            <div class="md-actions" layout="row">
                <span flex></span>
                 <md-button href ng-click="sendmail()" class="md-raised md-primary">Send</md-button>
            </div>
    </md-dialog>

