<style>
  .md-datepicker-input-container
  {
      width: 70%
  }
</style>

<div class="card-container" style="padding:20px;">
    <!--WHITEFRAME START-->
    <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" style="border:1px solid #ccc;max-width:960px;margin:0 auto">
        <!--FORM START-->
        <form name="editForm" ng-submit="submit()" style="width:960px;"  >
            <md-content flex>
                <div layout layout-sm="column" layout-margin  >
                   <section-title title="Customer Details"> </section-title>
                    <md-autocomplete flex="67" required="" 
                    md-input-name="autocompleteField"
                         md-no-cache="ctrl.noCache" 
                         md-selected-item="$root.selectedItem1" 
                         md-search-text="ctrl.searchText"
                          md-items="item in ctrl.querySearch(ctrl.searchText)" 
                          md-item-text="item.display" 
                          md-floating-label="Customer"
                          md-autofocus="true"
                           md-selected-item-change="selectedItemChange($root.selectedItem1)"
                          >
                        <md-item-template>
                            <span  md-highlight-text="ctrl.searchText"  md-highlight-flags="^i">{{item.display}}</span>
                            <span class="item-metadata">
                              <span class="item-metastat">
                                <strong>{{item.value.Email}}</strong> 
                              </span><md-divider></md-divider></span>
                        </md-item-template>
                    </md-autocomplete>
                    <!-- <custom-input button="newOption()" button-icon="switch"></custom-input> -->
                    <div layout="row" layout-align="center center" style="height:30px; width:30px; margin-top:40px;">
                        <md-menu md-position-mode="target-right target">
                            <md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                                <md-icon md-menu-origin md-svg-src="img/ic_more_horiz_24px.svg"></md-icon>
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item >
                                    <md-button href ng-click="addCustomer()">
                                        <p>New Contact</p>
                                        <md-icon href md-menu-align-target ></md-icon>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item ng-show="showEditCustomer">
                                    <md-button href ng-click="editContact()">
                                        <p>Edit Contact</p>
                                        <md-icon md-menu-align-target ></md-icon>
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </div>
                <div layout layout-sm="column" layout-margin>
                    <section-title> </section-title>
                     
                    <md-input-container flex="67" ng-show="Billingaddress">
                        <label>Billing Address</label>
                        <input  ng-model="$root.selectedItem1.BillingValue " aria-label="billing" ng-disabled="true"/>
                    </md-input-container>
                    <md-input-container flex="67" ng-show="Shippingaddress" >
                        <label>Shipping Address</label>
                        <input  ng-model="$root.selectedItem1.shippingValue" aria-label="shipping" ng-disabled="true"/>
                    </md-input-container>

                     <div style="height:30px;width:30px;margin-top:35px;"> 
                    <md-button ng-click="changeAddress()" style="height:30px;" aria-label="addressChange" href>
                    <md-icon md-svg-src="img/ic_swap_vert_24px.svg" class="iconColor"  md-ink-ripple style="right:1px;left:95%;top:20px;" ></md-icon>
                    </md-button>
                    </div>
                   
                </div>
                <div layout layout-sm="column" layout-margin>
                    <section-title> </section-title>
                   
                    <md-input-container flex >
                        <label>Profile Name</label>
                        <input ng-model="TDinvoice.profileRefName" ng-disabled="true">
                        </md-input-container>
                        
                         <md-datepicker ng-model="TDinvoice.Startdate" md-placeholder="Start Date" required flex style="margin-top:25px; width:230px;"></md-datepicker>

                    </div>
                    <div layout layout-sm="column" layout-margin>
                        <section-title> </section-title>
                       
                        <md-input-container flex required>
                            <label>Billing Frequency</label>
                            <md-select ng-model="TDinvoice.billingFrequency" ng-required="true" flex />
                            <md-optgroup label="Terms type">
                                <md-option value="weekly">Weekly</md-option>
                                <md-option value="2weeks">2 Weeks</md-option>
                                <md-option value="4weeks">4 Weeks</md-option>
                                <md-option value="Monthly">Monthly</md-option>
                                <md-option value="2Months">2 Months</md-option>
                                <md-option value="3Months">3 Months</md-option>
                                <md-option value="6Months">6 Months</md-option>
                                <md-option value="Yearly">Yearly</md-option>
                                <md-option value="2Years">2 Years</md-option>
                                <md-option value="3Years">3 Years</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                    
                     <md-input-container flex >
                            <label>Occurences</label>
                            <input ng-model="TDinvoice.occurences"  ng-required="true" >
                            </md-input-container>
                </div>
                <div layout layout-sm="column" layout-margin>
                    <section-title> </section-title>
        
                             <md-input-container flex >
                            <label>Internal Note</label>
                            <input ng-model="TDinvoice.inNote" >
                            </md-input-container>

                               <md-input-container flex >
                            <label>Comment</label>
                            <input ng-model="TDinvoice.comments">
                            </md-input-container>
                        </div>
                        <md-divider></md-divider>
                        <div >
                            <div layout layout-sm="row" layout-margin  >
                                
                                 <section-title title="Invoice Items"> </section-title>
                                        <div>
                                              <ul as-sortable="sortableOptions"  ng-model="prodArray.val"  flex>
                                                  <li ng-repeat="item in prodArray.val" as-sortable-item flex style="margin-bottom:20px !important;">
                                                   <md-card style="margin-left:-30px;" as-sortable-item-handle flex>
                                                  <md-card-content >
                                                   <div style="margin-top:0px;">
                                                            <span >
                                                              {{item.Productname}}
                                                              <md-tooltip>Product Name</md-tooltip>
                                                            </span>
                                                            <md-menu md-position-mode="target-right target" layout="row" flex-sm="100" flex="5" layout-align="center center" style="margin-top:-30px; margin-left:550px">
                                                                <md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                                                                    <md-icon md-menu-origin  md-svg-src="img/ic_more_horiz_24px.svg"></md-icon>
                                                                  </md-button>
                                                                  <md-menu-content width="4">
                                                                    <md-menu-item>
                                                                      <md-button href ng-click="saveProduct()">
                                                                        <p>Save Product</p>
                                                                        <md-icon md-menu-align-target ></md-icon>
                                                                      </md-button>
                                                                    </md-menu-item>
                                                                    <md-menu-item>
                                                                      <md-button href ng-click="viewProduct(item)">
                                                                        <p>Edit</p>
                                                                        <md-icon md-menu-align-target></md-icon>
                                                                      </md-button>
                                                                    </md-menu-item>
                                                                    <md-menu-item>
                                                                      <md-button href ng-click="deleteproduct()">
                                                                        <p>Delete</p>
                                                                        <md-icon md-menu-align-target ></md-icon>
                                                                      </md-button>
                                                                    </md-menu-item>
                                                                  </md-menu-content>
                                                                </md-menu>
                                                                <md-divider></md-divider>
                                                            </div> 
                                                             
                                                           <div layout="row" layout-sm="column" style="height:20px; margin-top:10px;">

                                                         <div flex >
                                                             <span style="color:#808080;">{{item.quantity}} 
                                                             <md-tooltip>Quantity</md-tooltip>
                                                             </span> 
                                                             <span style="color:#808080;">{{item.ProductUnit}} 
                                                             <md-tooltip>UOM</md-tooltip>
                                                             </span>
                                                          </div>

                                                           <div flex>
                                                             <span style="color:#808080;">{{item.price|currency}}
                                                             <md-tooltip>Price</md-tooltip>
                                                             </span> 
                                                          </div>

                                                          <div flex >
                                                             <span style="color:#808080;">{{item.discount}}%
                                                             <md-tooltip>Discount</md-tooltip>
                                                             </span> 
                                                          </div>

                                                           <div flex="35" >
                                                            <span style="color:#808080;">{{item.tax.taxname}}
                                                            <span style="color:#808080;" ng-if="item.tax.type == 'individualtaxes' " >({{item.tax.rate}}%)</span>
                                                                <md-tooltip>Tax</md-tooltip>
                                                        
                                                             <span style="color:#808080;" ng-repeat="tt in item.tax.individualtaxes">({{tt.rate}}%)</span>
                                                                <!-- <md-tooltip>Tax</md-tooltip> -->
                                                            </span>
                                                           
                                                        </div>

                                                          <div flex >
                                                             <span style="color:#808080;">{{item.amount|currency}}
                                                             <md-tooltip>Amount</md-tooltip>
                                                             </span> 
                                                          </div>

                                                    </div>                                                                       
                                                  </md-card-content>

                                                  </md-card></li>
                                                  
                                                </ul>
                                                  <div layout="row" layout-sm="column"  flex style="margin-left:10px; margin-top:25px;">
                                                     <md-button href class="md-raised md-primary" style="height:5px; " ng-click="addproduct()">New Line</md-button>
                                                </div>
                                               </div>
                                            </div>
                                       <md-divider></md-divider>
                                       <div ng-if="prodArray.val.length != 0" > 
                            <div layout layout-sm="column" layout-margin>
                                <section-title title="Totals"> </section-title>
                            </div>
                            <div layout layout-sm="column" layout-margin style="overflow:hidden;margin-top:-50px;">
                                <div flex="5"></div>
                                <div flex="20" style=""></div>
                                <div flex="10">
                                    <label>Sub Total</label>
                                </div>
                                <md-input-container flex="20" >
                                    <input type="text"  ng-model="tdi.fdiscount" aria-label="discount" style="display:none" />
                                </md-input-container>
                                <div flex="5">
                                    <label></label>
                                </div>
                                <div flex="30">
                                    <span>{{calculatetotal() | currency}}</span>
                                </div>
                            </div>
                            <div layout layout-sm="column" layout-margin style="overflow:hidden;margin-top:20px;" ng-show="Displaydiscount">
                                <div flex="5"></div>
                                <div flex="20" style="margin-top:35px;"></div>
                                <div flex="10">
                                    <label>Discount</label>
                                </div>
                                <md-input-container flex="20" >
                                    <input type="text"  ng-model="TDinvoice.fdiscount" aria-label="discount" style="margin-top:-12px;" ng-disabled="checkDiscout"/>
                                </md-input-container>
                                <div flex="5">
                                    <label></label>
                                </div>
                                <div flex="30">
                                    <label>{{finaldiscount(TDinvoice.fdiscount) | currency}}</label>
                                    <label style="display:none">{{CalculateTax()}}</label>
                                </div>
                            </div>
                            <div layout layout-sm="column" ng-repeat="tt in taxArr" layout-margin style="overflow:hidden;">
                                <div flex="5"></div>
                             
                                <div flex="20" style="margin-top:35px;"></div>
                                <div flex="10">
                                    <label>{{tt.taxName}}</label>
                                </div>
                                <md-input-container flex="20" >
                                    <input type="text"  ng-model="tt.rate" aria-label="sales tax" style="margin-top:-12px;"/>
                                </md-input-container>
                                <div flex="5">
                                    <label></label>
                                </div>
                                <div flex="30" >
                                    <label>{{tt.salesTax| currency}}</label>
                                   <!--  <span style="display:none">{{CalculateTax()}}</span > -->
                                </div>
                            </div>
                            <div layout layout-sm="column" layout-margin style="overflow:hidden; height:50px;" ng-show="ShippingCharges">
                                <div flex="5"></div>
                                <div flex="20" style="margin-top:35px;"></div>
                                <div flex="10">
                                    <label>Shipping</label>
                                </div>
                                <md-input-container flex="20" >
                                    <input type="text" ng-model="TDinvoice.shipping" aria-label="shipping" style="margin-top:-12px;" ng-change="finalamount(TDinvoice.shipping)"/>
                                </md-input-container>
                                <div flex="5">
                                    <label></label>
                                </div>
                                <div flex="15">
                                    <span >{{TDinvoice.shipping| currency}}</span>
                                </div>
                            </div>
                            <center>
                                <md-divider style="width:60%"></md-divider>
                            </center>
                            <div layout layout-sm="column" layout-margin style="overflow:hidden;">
                                <div flex="5"></div>
                                <div flex="20" style="margin-top:35px;"></div>
                                <div flex="10">
                                    <label>
                                        <b>Total USD</b>
                                    </label>
                                </div>
                                <md-input-container flex="20" ></md-input-container>
                                <div flex="5">
                                    <label></label>
                                </div>
                                <div flex="27">
                                    <span ng-model="TDinvoice.totalUSD">
                                        <b>{{finalamount()| currency}}</b>
                                    </span>
                                </div>
                                <div style="height:30px; width:40px;">
                                    <md-button ng-click="acceptAccount()" style="height:30px;" aria-label="accept account" href>
                                        <md-icon md-svg-src="img/ic_more_horiz_24px.svg" class="iconColor"  md-ink-ripple style="right:1px;margin-right:0px;" ></md-icon>
                                    </md-button>
                                </div>
                            </div>
                            </div>
                          <md-divider></md-divider>
                          <div layout layout-sm="column" layout-margin  >
                              
                               <section-title title="Optional Details"> </section-title>
                              <md-input-container flex >
                                  <label>Notes</label>
                                  <input ng-model="TDinvoice.notes">
                                  </md-input-container>
                              </div>
                              <div layout layout-sm="column" layout-margin>
                                 
                                  <section-title> </section-title>
                                   <md-select placeholder="Payment Method" ng-model="TDinvoice.paymentMethod" flex ng-change="getPayement(TDinvoice.paymentMethod)">
                                        <md-optgroup >
                                            <md-option ng-repeat="pay in paymentMethod" value="{{pay.paymentmethod}}">{{pay.paymentmethod}}</md-option>
                                            <!-- <md-option value="Stripe ">Stripe </md-option> -->
                                        </md-optgroup>
                                    </md-select>
                              </div>
                              <div layout layout-sm="column" layout-margin>
                                 
                                  <section-title> </section-title>
                                  <md-input-container flex required>
                            <label>Invoice Settings</label>
                            <md-select  ng-model="TDinvoice.saveOption" flex>
                                      <md-optgroup label="Invoice Settings">
                                         <md-option value="saveAsPending">Save As Pending</md-option>
                                         <md-option value="saveAndEmail">Save and Email </md-option>
                                         <md-option value="saveandCharage">Save, Email and Charge Customer</md-option>
                                      </md-optgroup>
                                  </md-select>
                    </md-input-container>
                                  
                              </div>
                              <div layout layout-sm="column" layout-margin>
                                   <section-title> </section-title>
                                  <div ng-init="DemoCtrl()" layout="column" class="chipsdemoBasicUsage" flex>
                                      <md-content class="md-padding" layout="column" style="margin-left:-15px;">
                                          <md-chips
                                          ng-model="TDinvoice.roFruitNames"
                                          readonly="readonly"
                                          placeholder="Enter a tag"
                                          delete-button-label="Remove Tag"
                                          delete-hint="Press delete to remove tag"
                                          secondary-placeholder="+Tag">
                                          </md-chips>
                                      </md-content>
                                  </div>
                              </div>
    
                           <div layout layout-sm="column" layout-margin  >
                              
                               <section-title> </section-title>
                                <div layout="row" layout-sm="column"  flex style="margin-left:10px; margin-top:25px;">
                             <md-button href class=" md-primary" style="height:5px; " ng-click="upload()"> upload
                            <!--  <md-icon md-svg-src="img/ic_attach_money_24px.svg" class="iconColor"  md-ink-ripple style="" ></md-icon> -->
                             </md-button>
                                 </div>
                              </div>
                          </div>
                          <md-divider></md-divider>
                      <div class="md-actions" layout="row" layout-sm="column" layout-align="end start" >
                       <div style="margin-top:20px;">
                              <md-button id="" class="md-raised md-primary" style="" type="submit">
                                  <span class="loginBtnLabel">SAVE</span>
                              </md-button>
                              </div>
                              
                               <div style="padding-left:20px; margin-top:20px;">
                               <md-button href class="md-raised md-primary" ng-click="cancelrec()">
                                  <span class="loginBtnLabel">Cancel</span>
                              </md-button></div>
                      </md-content>
                      
                  </form>
              </md-whiteframe>

                      <!--WHITEFRAME END-->
                  </div>
                  <!--CARD CONTAINER END-->
                  <div  class="lock-size" layout="row" >
                  <md-button href class="md-fab" aria-label="Profile" ng-click="viewRec()" style="position:fixed;top:270px;right:50px;background:#db4437">
                              <md-icon md-svg-src="img/ic_add_24px.svg" ></md-icon>
                              <md-tooltip md-direction="left">All Recurring Profiles</md-tooltip>
                          </md-button>
                      </div>
                     
