<!--CARD CONTAINER START-->
<div class="card-container" style="padding:20px;" >
   <!--WHITEFRAME START-->
   <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" style="border:1px solid #ccc;max-width:960px;margin:0 auto;z-index:2" ng-repeat="expense in ViewExpense">
      <!--FORM START-->
      <form name="editForm" ng-submit="submit()" style="width:100%">
         <md-content flex>
            <div layout="row" layout-sm="column" style="background-color: rgba(128, 128, 128, 0.05);    height: 60px;">
               <div style="margin-left: 20px;" flex layout="row" layout-sm="column" layout-align="start center">
                  <span style="">
                  Expense Number.{{expense.expense_code}}
                  </span>
                  <span style="padding-left: 16px;">
                  - USD {{expense.totalUSD}}.00
                  </span>
                  <span style=" padding-left: 16px; margin-left: 16px;   width:71px; background-color: #FF0000; " ng-if="expense.Status == 'Unpaid'">
                  <b style=" width:70px; font-color:#FFFFFF;padding-right: 15px;">
                  <font color="white">{{expense.Status}}</font>
                  </b>
                  </span>
                  <span style="padding-left: 16px; background-color: #339C38; margin-left: 16px; width: 50px;" ng-if="expense.Status == 'Paid'">
                  <b style="font-color:#FFFFFF;padding-right: 15px;">
                  <font color="white">{{expense.Status}}</font>
                  </b>
                  </span>
                  <span style="padding-left: 16px; background-color: #212121; margin-left: 16px; width: 100px;" ng-if="expense.Status == 'Cancelled'">
                  <b style="font-color:#FFFFFF;padding-right: 15px;">
                  <font color="white">{{expense.Status}}</font>
                  </b>
                  </span>
                  <!-- <span style="padding-left: 16px;"  >
                     {{expense.Status}}
                     </span>
                     -->
               </div>
               <div flex="10" hide-sm>
               </div>
               <div flex layout layout-align="end center" >
                  <div  style="margin-top:-20px;">
                     <md-button ng-click="print()" style="height:30px;" aria-label="change address" href>
                        <md-icon md-svg-icon="img/ic_print_24px.svg" style="height:20px; width:20px;"></md-icon>
                     </md-button>
                     <md-menu md-position-mode="target-right target"  >
                        <md-button href aria-label="Open demo menu" class="md-icon-button" 
                           ng-click="$mdOpenMenu()" style="height:30px;" >
                           <md-icon md-svg-icon="img/ic_file_download_24px.svg" style="height:20px; width:20px;margin-top: -10px;"></md-icon>
                        </md-button>
                        <md-menu-content width="4">
                           <md-menu-item >
                              <md-button href ng-click="ConvertToPdf(expense)">
                                 <p>Summary</p>
                                 <md-icon href md-menu-align-target ></md-icon>
                              </md-button>
                           </md-menu-item>
                           <md-menu-item >
                              <md-button href ng-click="ConvertToPdfAttachment(expense)">
                                 <p>Summary With Attachment</p>
                                 <md-icon href md-menu-align-target ></md-icon>
                              </md-button>
                           </md-menu-item>
                        </md-menu-content>
                     </md-menu>
                     <md-menu md-position-mode="target-right target"  ng-if="expense.Status != 'Cancelled'">
                        <md-button href aria-label="Open demo menu" class="md-icon-button"  ng-click="$mdOpenMenu()">
                           <md-icon md-menu-origin md-svg-src="img/ic_more_horiz_24px.svg"style="margin-top:10px;" ></md-icon>
                        </md-button>
                        <md-menu-content width="4">

                           <md-menu-item >
                              <md-button href ng-click="ChangeStatus(expense)">
                                 <p>{{ExpenseStatus}}</p>
                                 <md-icon md-menu-align-target ></md-icon>
                              </md-button>
                           </md-menu-item>

                           <md-menu-item >
                              <md-button href ng-click="BillCustomer(expense)">
                                 <p>Bill Customer</p>
                                 <md-icon md-menu-align-target ></md-icon>
                              </md-button>
                           </md-menu-item>
                           <md-menu-item >
                              <md-button href ng-click="EditExpense(expense)">
                                 <p>Edit</p>
                                 <md-icon href md-menu-align-target ></md-icon>
                              </md-button>
                           </md-menu-item>
                           <md-menu-item >
                              <md-button href ng-click="CancelStatus(expense)">
                                 <p>Cancel</p>
                                 <md-icon md-menu-align-target ></md-icon>
                              </md-button>
                           </md-menu-item>
                           <md-menu-item >
                              <md-button href ng-click="ExpensesDelete(expense)">
                                 <p>Delete</p>
                                 <md-icon href md-menu-align-target ></md-icon>
                              </md-button>
                           </md-menu-item>                           
                          
                        </md-menu-content>
                     </md-menu>
                  </div>
               </div>
            </div>
            <div layout layout-sm="column" layout-margin>
               <section-title title="Expense Summary"> </section-title>
            </div>
            <div layout layout-align="start start" layout-sm="column" id="contentDiv" >
               <div flex="5" hide-sm></div>
               <div flex="45">
                  <div flex="80" ng-if="FileType == 'png'" style="padding-left: 28px;">
                     <img style="width: 90%" ng-src="data:image/png;base64,{{ImageData.Body}}" />                  
                  </div>
                  <div flex="80" ng-if="FileType == 'jpg' || FileType == 'jpeg' " style="padding-left: 28px;">
                     <img style="width: 90%" ng-src="data:image/jpeg;base64,{{ImageData.Body}}" />                  
                  </div>
                  <div flex="80" ng-if="FileType == 'svg'" style="padding-left: 28px;">
                     <img style="width: 90%" ng-src="data:image/svg+xml;base64,{{ImageData.Body}}" />             
                  </div>
               </div>
               <div flex="5" hide-sm></div>
               <div flex="40" style="width:67%;margin-left: 16px; ">
                  <div flex style="height:15%;background-color:rgba(182, 182, 182, 0.46);">
                     <div layout layout-align="center center" style="height:100%">
                        <span style="font-size:23px;"><b>USD {{expense.totalUSD}}.00</b></span>
                     </div>
                  </div>
                  <div style="height:15px;"></div>
                  <div flex layout="row">
                     <div flex>
                        <span>Expense No </span>
                     </div>
                     <div flex>
                        <span>{{expense.expense_code}} </span>
                     </div>
                  </div>
                  <div style="height:15px;"></div>
                  <div flex layout="row">
                     <div flex>
                        <span>Expense Date </span>
                     </div>
                     <div flex>
                        <span>{{expense.date}} </span>
                     </div>
                  </div>
                  <div style="height:15px;"></div>
                  <div flex layout="row">
                     <div flex>
                        <span>Category</span>
                     </div>
                     <div flex>
                        <span>{{expense.Category}} </span>
                     </div>
                  </div>
                  <div style="height:15px;"></div>
                  <div flex layout="row">
                     <div flex>
                        <span>Description</span>
                     </div>
                     <div flex>
                        <span>{{expense.description}} </span>
                     </div>
                  </div>
                  <div style="height:15px;"></div>
                  <div flex layout="row">
                     <div flex>
                        <span>Amount </span>
                     </div>
                     <div flex>
                        <span>{{expense.Amount}} </span>
                     </div>
                  </div>
                  <div style="height:15px;"></div>
                  <div flex layout="row">
                     <div flex>
                        <span>Tax</span>
                     </div>
                     <div flex>
                        <span>{{expense.Tax}} </span>
                     </div>
                  </div>
                  <div style="height:15px;"></div>
                  <div flex layout="row">
                     <div flex>
                        <span>Supplier</span>
                     </div>
                     <div flex>
                        <span>{{expense.Vendor}} </span>
                     </div>
                  </div>
                  <div style="height:15px;"></div>
                  <div flex layout="row">
                     <div flex>
                        <span>Reference</span>
                     </div>
                     <div flex>
                        <span>{{expense.Reference}} </span>
                     </div>
                  </div>
                  <div style="height:15px;"></div>
                  <div flex layout="row">
                     <div flex>
                        <span>Status</span>
                     </div>
                     <div flex>
                        <span>{{expense.Status}} </span>
                     </div>
                  </div>
                  <div style="height:15px;"></div>
                  <div flex layout="row">
                     <div flex>
                        <span>Due Date</span>
                     </div>
                     <div flex>
                        <span>{{expense.Duedate}} </span>
                     </div>
                  </div>
                  <div style="height:15px;"></div>
                  <div flex layout="row">
                     <div flex>
                        <span>Assign To</span>
                     </div>
                     <div flex>
                        <span>{{expense.Assigncustomer}} </span>
                     </div>
                  </div>
                  <div style="height:15px;"></div>
                  <div flex layout="row">
                     <div flex>
                        <span>Billable</span>
                     </div>
                     <div flex>
                        <span>{{expense.Billable}} </span>
                     </div>
                  </div>
                  <div style="height:15px;"></div>
                  <div flex layout="row">
                     <div flex>
                        <span>Tags</span>
                     </div>
                     <div flex layout="row"  layout-sm="row">
                        <div flex ng-repeat="item in expense.roFruitNames">
                           <span>{{item}}</span>
                        </div>
                     </div>
                  </div>
                  <div style="height:15px;"></div>
                  <div flex="5" hide-sm>
                  </div>
               </div>
            </div>
            <div layout="row" layout-align="end start" layout-margin  ng-show="true" >
               <div style="margin-left: 15px;">
                  <md-button style="margin-left: 15px;" class="md-raised"  type="button" ng-click="viewExpense()">Cancel</md-button>
               </div>
            </div>
         </md-content>
      </form>
   </md-whiteframe>
   <br><br>
   <!--WHITEFRAME END-->
</div>