<div ng-init="loadAllcontact()" ></div>
<div class="collapse-card ng-scope" ng-repeat="contact in contacts | filter:ctrl.searchText||undefined | orderBy: prodSearch " ng-class="{ active: $active }" style="">
   <div class="collapse-card__heading" layout="row" layout-align="start start" >
      <div class="collapse-card_header_content_controls" flex="5" layout="column" layout-align="center start">
         <div style="width:9%">
            <div  ng-hide="contact.favoritestar" class="blankspace collapse-card_header_content_info" 
               ng-click="favouriteFunction(contact)" layout="row">
               <img src="img/directive_library/star-empty-lg.png" style="margin-top:14px;margin-left:7px;  height:23px;width:23px;"/>
            </div>
            <div  ng-show="contact.favoritestar" class="blankspace collapse-card_header_content_info" 
               ng-click="favouriteFunction(contact)" layout="row">
               <img src="img/directive_library/star-fill-lg.png" style="margin-top:14px;margin-left:7px; height:23px;width:23px;"/>
            </div>
         </div>
         <md-button aria-label flex ng-if="content.favourite == false" ng-disabled="false" class="md-icon-button launch" 
            ng-click="selectItem(content)">
            <md-icon md-svg-icon="img/ic_check_box_outline_blank_24px.svg"></md-icon>
         </md-button>
         <md-button aria-label flex ng-if="content.favourite == true" ng-disabled="false" class="md-icon-button launch" 
            ng-click="selectItem(content)">
            <md-icon md-svg-icon="img/ic_check_box_24px.svg"></md-icon>
         </md-button>
      </div>
      <div class="collapse-card_header_content_info" layout="row" layout-align="center start" flex="80" ng-click="$active = !$active; closeAll();" style="margin-top: 1.4%;">
         <div layout-sm="row" flex>
            <div layout-sm="column" flex>
               <span style="padding-right: 15px; border-right-style: solid; border-width:1px;" class="collapse-card__title"><b>   {{contact.Name}}</b></span>
               <span style="  padding-right: 15px;margin-left:-20px;border-right-style: solid; border-width:1px;" class="collapse-card__title"><b> {{contact.Email}}</b></span>
               <span  class="collapse-card__title"style="  padding-right: 15px;margin-left:-20px;border-width:1px;"><b>{{contact.CustomerFname}} {{contact.CustomerLname}} </b></span>
               <span style="padding-right: 15px; padding-left: 15px; font-size:13px; width:70px; height:40px; border: 1px solid green;background-color: #4CAF50;" ng-if="contact.status == 'Active'">
                  <b style=" width:70px; font-color:#FFFFFF;">
                      <font color="white">{{contact.status}}</font>
                  </b>
               </span>
               <span style="padding-right: 15px; padding-left: 15px; font-size:13px; width:70px; height:40px; border: 1px solid #000000; background-color: #000000;" ng-if="contact.status == 'Inactive'">
                 <b style="width:70px; font-color:#FFFFFF;"> 
                  
                      <font color="white">{{contact.status}}</font>
                  </b>
               </span>
            </div> 
         </div>
      </div>
      <div style="width:5%;padding-left:10%;">
         <div class="collapse-card_header_content_controls" flex="10" layout="column" layout-align="center start">
            <md-menu md-position-mode="target-right target">
               <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                  <md-icon md-svg-icon="img/ic_more_vert_24px.svg"></md-icon>
               </md-button>
               <md-menu-content width="4">
                  <md-menu-item>
                     <md-button ng-click="updateCustomer(contact,contact.customerid)">
                        <div layout="row">
                           <p flex>Update Timesheet</p>
                           <md-icon md-svg-icon="img/ic_save_24px.svg"></md-icon>
                        </div>
                     </md-button>
                  </md-menu-item>
                  <md-menu-item>
                     <md-button ng-click="deleteCustomer(contact,contact.customerid)">
                        <div layout="row">
                           <p flex>Delete</p>
                           <md-icon md-svg-icon="img/ic_delete_24px.svg"></md-icon>
                        </div>
                     </md-button>
                  </md-menu-item>
                   <md-menu-item>
                     <md-button ng-click="customerNotes(contact)">
                        <div layout="row">
                           <p flex>Customer Notes</p>
                           <md-icon md-svg-icon="img/ic_print_24px.svg"></md-icon>
                        </div>
                     </md-button>
                  </md-menu-item>
                  <md-menu-item ng-if="contact.status == 'Active' ">
                     <md-button ng-click="changeStatus(contact)">
                        <div layout="row">
                           <p flex>Inactive</p>
                           <md-icon md-svg-icon="img/ic_print_24px.svg"></md-icon>
                        </div>
                     </md-button>
                  </md-menu-item>
                  <md-menu-item ng-if="contact.status == 'Inactive' ">
                     <md-button ng-click="changeStatus(contact)">
                        <div layout="row">
                           <p flex>Active</p>
                           <md-icon md-svg-icon="img/ic_print_24px.svg"></md-icon>
                        </div>
                     </md-button>
                  </md-menu-item>
               </md-menu-content>
            </md-menu>
         </div>
      </div>
   </div>
   <div class="collapse-card__body">
      <form id="form" name="editForm">
         <md-content>
            <div layout layout-sm="column" layout-margin>
               <section-title title = "Customer Name"></section-title>
               <md-input-container id="accContainer" flex >
                  <label>Company or Individual Name</label>
                  <input  ng-model="contact.Name" ng-disabled="true"> 
               </md-input-container>
               <md-input-container id="accContainer" flex >
               <label>Email</label>
               <input type="email" ng-model="contact.Email" ng-disabled="true"> 
            </div>
            <md-divider></md-divider>
            <div layout layout-sm="column" layout-margin>
               <section-title title = "Contact Person"></section-title>
               <md-input-container id="accContainer" flex >
                  <label>First Name</label>
                  <input id="accNo" ng-model="contact.CustomerFname" ng-disabled="true"> 
               </md-input-container>
               <md-input-container flex >
                  <label>Last Name</label>
                  <input ng-model="contact.CustomerLname" ng-disabled="true"> 
               </md-input-container>
            </div>
            <md-divider></md-divider>
            <div ng-show="showBilling" flex>
               <div layout layout-sm="column" layout-margin >
                  <section-title title = "Billing Address"></section-title>
                  <md-input-container id="accContainer" flex >
                     <label>Street</label>
                     <input id="accNo" ng-model="contact.baddress.street" required ng-disabled="true"> 
                  </md-input-container>
               </div>
               <div layout layout-sm="column" layout-margin>
                  <section-title></section-title>
                  <md-input-container id="accContainer" flex >
                     <label>City</label>
                     <input id="accNo" ng-model="contact.baddress.city" ng-disabled="true"> 
                  </md-input-container>
                  <md-input-container id="accContainer" flex >
                     <label>State</label>
                     <input id="accNo" ng-model="contact.baddress.state" ng-disabled="true"> 
                  </md-input-container>
               </div>
               <div layout layout-sm="column" layout-margin>
                  <section-title></section-title>
                  <md-input-container id="accContainer" flex >
                     <label>Zip code</label>
                     <input id="accNo" ng-model="contact.baddress.zip" ng-disabled="true"> 
                  </md-input-container>
                  <md-input-container  flex >
                     <label>Country</label>
                     <md-select ng-model="contact.baddress.country" flex ng-disabled="true">
                        <md-optgroup label="Country">
                        <md-option value="Maldives">Maldives</md-option>
                        <md-option value="Sri lanka">Sri lanka</md-option>
                        <md-option value="India">India</md-option>
                     </md-select>
                  </md-input-container>
               </div>
            </div>
            <div ng-show="showShipping" flex>
               <div layout layout-sm="column" layout-margin >
                  <section-title title="Shipping Address"></section-title>
                  <md-input-container id="accContainer" flex >
                     <label>Street</label>
                     <input id="accNo" ng-model="contact.saddress.s_street" ng-disabled="true"> 
                  </md-input-container>
               </div>
               <div layout layout-sm="column" layout-margin>
                  <section-title></section-title>
                  <md-input-container id="accContainer" flex >
                     <label>City</label>
                     <input id="accNo" ng-model="contact.saddress.s_city" ng-disabled="true"> 
                  </md-input-container>
                  <md-input-container id="accContainer" flex >
                     <label>State</label>
                     <input id="accNo" ng-model="contact.saddress.s_state" ng-disabled="true"> 
                  </md-input-container>
               </div>
               <div layout layout-sm="column" layout-margin>
                  <section-title></section-title>
                  <md-input-container id="accContainer" flex >
                     <label>Zip code</label>
                     <input id="accNo" ng-model="contact.saddress.s_zip" ng-disabled="true"> 
                  </md-input-container>
                  <md-input-container  flex >
                     <label>Country</label>
                     <md-select ng-model="contact.saddress.s_country" flex ng-disabled="true">
                        <md-optgroup label="Country">
                        <md-option value="Maldives">Maldives</md-option>
                        <md-option value="Sri lanka">Sri lanka</md-option>
                        <md-option value="India">India</md-option>
                     </md-select>
                  </md-input-container>
               </div>
            </div>
            <md-divider></md-divider>
            <div layout layout-sm="column" layout-margin>
               <section-title title="Contact Numbers"></section-title>
               <md-input-container id="accContainer" flex >
                  <label>Phone</label>
                  <input type="phone" ng-model="contact.Phone" ng-disabled="true"> 
               </md-input-container>
               <md-input-container id="accContainer" flex >
                  <label>Mobile</label>
                  <input type="phone" ng-model="contact.Mobile" ng-disabled="true">
               </md-input-container>
            </div>
            <div layout layout-sm="column" layout-margin>
               <section-title></section-title>
               <md-input-container id="accContainer" flex >
                  <label>Fax</label>
                  <input id="accNo" ng-model="contact.Fax"  ng-disabled="true">
               </md-input-container>
               <md-input-container id="accContainer" flex >
                  <label>Website</label>
                  <input id="accNo" ng-model="contact.Website" ng-disabled="true">
               </md-input-container>
            </div>
            <md-divider></md-divider>
             <div layout layout-sm="column" layout-margin>
               <section-title title = "Optional Details"> </section-title>
               <md-input-container flex>
                  <label>Notes</label>
                  <textarea id="noteTxt" maxlength="200" type="text" ng-model="contact.cnotes" ng-disabled="true"></textarea>  
               </md-input-container>
            </div>
         </md-content>
      </form>
   </div>
</div>