<!--Background banner with parallax effect-->
<md-background-banner color="#235b91" height="300px"> </md-background-banner>
<!--CARD CONTAINER START-->
<div class="card-container" style="padding:20px;">
   <!--WHITEFRAME START-->
   <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" style="border:1px solid #ccc;width:960px;margin:0 auto">
      <!--FORM START-->
      <form name="editForm" ng-submit="submit()" style="width:100%">
         <md-content flex>
            <div layout layout-sm="column" layout-margin>
            <section-title title="Customer Name" > </section-title>
               
               <md-input-container id="accContainer" flex style="margin-top: 30px;">
                  <label>Company or Individual Name</label>
                  <input  ng-model="contact.Name" ng-required="true">
               </md-input-container>
               <md-input-container id="accContainer" style="margin-top: 30px;" flex >
                  <label>Email</label>
                  <input type="email" ng-model="contact.Email" ng-required="true" ng-blur="validateEmail(contact)">
                  <div ng-message="required" ng-show="emailExsist" style="font-size: 13px; color: red;">Email Aready Exist</div>
                 <!--  <span  style="font-size: 13px; color: red; position: absolute; margin-top: 18%;"></span> -->              
               </md-input-container>
              
            </div>
            <md-divider></md-divider>
            <div layout layout-sm="column" layout-margin>
            <section-title title="Contact Person" > </section-title>
               
               <md-input-container id="accContainer" style="margin-top: 30px;"flex >
                  <label>First Name</label>
                  <input id="accNo" ng-model="contact.CustomerFname" >
               </md-input-container>
               <md-input-container flex style="margin-top: 30px;">
                  <label>Last Name</label>
                  <input ng-model="contact.CustomerLname" > 
               </md-input-container>
            </div>
            <md-divider></md-divider>
            <div ng-show="showBilling" flex>
               <div layout layout-sm="column" layout-margin >
               <section-title title="Billing Address" >
                 </section-title>
                    <div><md-icon md-svg-src="img/ic_arrow_drop_down_24px.svg" ng-click="addressChange()" style="margin-left:-90px;margin-top:30px;"></div>
                  
                  <md-input-container id="accContainer" flex style="margin-top: 30px; margin-left: -15px;">
                     <label>Street</label>
                     <input id="accNo" ng-model="contact.baddress.street">
                  </md-input-container>
               </div>
               <div layout layout-sm="column" layout-margin>
                   <section-title title="" ></section-title>
                  <md-input-container id="accContainer" flex >
                     <label>City</label>
                     <input id="accNo" ng-model="contact.baddress.city">
                  </md-input-container>
                  <md-input-container id="accContainer" flex >
                     <label>State</label>
                     <input id="accNo" ng-model="contact.baddress.state">
                  </md-input-container>
               </div>
               <div layout layout-sm="column" layout-margin>
                 
                   <section-title title="" ></section-title>
                 
                  <md-input-container id="accContainer" flex >
                     <label>Zip code</label>
                     <input id="accNo" ng-model="contact.baddress.zip">
                  </md-input-container>
                  <md-input-container  flex >
                     <label>Country</label>
                     <md-select ng-model="contact.baddress.country" flex>
                        <md-optgroup label="Country">
                        <md-option value="Maldives">Maldives</md-option>
                        <md-option value="Sri lanka">Sri lanka</md-option>
                        <md-option value="India">India</md-option>
                     </md-select>
                  </md-input-container>
               </div>
               <div layout layout-sm="column" layout-margin>
                 
                  <section-title title="" ></section-title>
                 
                  <label style="margin-left:12px;">Do you want to use billing address as shipping address?</label>
                  <div style="margin-top:-32px;">
                     <md-switch ng-model="contact.cb" ng-change="onChange(contact.cb)" aria-label="Switch 2"class="md-warn">
                     </md-switch>
                  </div>
               </div>
            </div>
            <div ng-show="showShipping" flex>
               <div layout layout-sm="column" layout-margin >
               <section-title title="Shipping Address" >
                 </section-title>
                    <div><md-icon md-svg-src="img/ic_arrow_drop_down_24px.svg" ng-click="addressChange()" style="margin-left:-70px;margin-top:30px;"></div>
                  
                  <md-input-container id="accContainer" flex style="margin-top: 30px; margin-left: -15px;">
                     <label>Street</label>
                     <input id="accNo" ng-model="contact.saddress.s_street">
                  </md-input-container>
               </div>
               <div layout layout-sm="column" layout-margin>
                 
                   <section-title title="" ></section-title>
                 
                  <md-input-container id="accContainer" flex >
                     <label>City</label>
                     <input id="accNo" ng-model="contact.saddress.s_city">
                  </md-input-container>
                  <md-input-container id="accContainer" flex >
                     <label>State</label>
                     <input id="accNo" ng-model="contact.saddress.s_state">
                  </md-input-container>
               </div>
               <div layout layout-sm="column" layout-margin>
                 
                   <section-title title="" ></section-title>
                 
                  <md-input-container id="accContainer" flex >
                     <label>Zip code</label>
                     <input id="accNo" ng-model="contact.saddress.s_zip">
                  </md-input-container>
                  <md-input-container  flex >
                     <label>Country</label>
                     <md-select ng-model="contact.saddress.s_country" flex>
                        <md-optgroup label="Country">
                        <md-option value="Maldives">Maldives</md-option>
                        <md-option value="Sri lanka">Sri lanka</md-option>
                        <md-option value="India">India</md-option>
                     </md-select>
                  </md-input-container>
               </div>
            </div>
            <md-divider></md-divider>
            <div layout layout-sm="column" layout-margin>
              
                <section-title title="Contact Numbers" ></section-title>
               
              
               <md-input-container id="accContainer" style="margin-top: 30px;" flex >
                  <label>Phone</label>
                  <input type="phone" ng-model="contact.Phone" >
               </md-input-container>
               <md-input-container id="accContainer" style="margin-top: 30px;" flex >
                  <label>Mobile</label>
                  <input type="phone" ng-model="contact.Mobile" >
               </md-input-container>
            </div>
            <div layout layout-sm="column" layout-margin>
              
               <section-title title="" ></section-title>
               
              
               <md-input-container id="accContainer" flex >
                  <label>Fax</label>
                  <input id="accNo" ng-model="contact.Fax" >
               </md-input-container>
               <md-input-container id="accContainer" flex >
                  <label>Website</label>
                  <input id="accNo" ng-model="contact.Website" > 
               </md-input-container>
            </div>
            <md-divider></md-divider>
            <div layout layout-sm="column" layout-margin>
               <section-title title = "Optional Details"> </section-title>
               <md-input-container flex style="margin-top: 30px;" >
                  <label>Notes</label>
                  <textarea id="noteTxt" maxlength="200" type="text" ng-model="cnotes"></textarea>  
               </md-input-container>
            </div>
            <div layout layout-sm="column" layout-margin>
              
               <section-title title="" ></section-title>
               
              
               <div style="margin-left:55%;">
                  <!-- <md-button href class="md-raised md-primary" style="height:5px; " ng-click="save()">Save</md-button> -->
                  <md-button id="mySignup" class="md-raised md-primary" style="width:93%" type="submit"><span class="loginBtnLabel">SAVE</span>
               </md-button>
               </div>
               <div style="margin-left:2%;">
                  <md-button href class="md-raised md-primary" style="height:5px; "ng-click="Customerview()">Cancel</md-button>
               </div>
            </div>
           <!--  <div class="md-actions" layout="row" layout-align="center center" style="display:none">
               <md-button id="mySignup" class="md-raised md-primary" style="width:93%" type="submit"><span class="loginBtnLabel">SAVE</span>
               </md-button>
            </div> -->
         </md-content>
      </form>
   </md-whiteframe>
   <br><br>
   <!--WHITEFRAME END-->
</div> 
