<div class="card-container" style="padding:20px;" ng-controller="AppCtrl as ctrl" >
   <!--WHITEFRAME START-->
   <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" style="border:1px solid #ccc;max-width:960px;margin:0 auto;z-index:2">
      <!--FORM START-->
      <form name="editForm" ng-submit="submit()" style="width:960px;">
         <md-content flex>
            <div layout layout-sm="column" layout-margin>
               <section-title title="Supplier Details" > </section-title>
               <md-autocomplete flex="" required md-input-name="autocompleteField"
                  md-no-cache="ctrl.noCache" 
                  md-selected-item="ctrl.selectedItem" 
                  md-search-text="ctrl.searchText"
                  md-items="item in ctrl.querySearch(ctrl.searchText)" 
                  md-item-text="item.display" 
                  md-floating-label="Supplier">
                  <md-item-template>
                     <span  md-highlight-text="ctrl.searchText">{{item.display}}</span>
                  </md-item-template>
                  <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                     <div ng-message="required">You 
                        <b>must</b> have a favorite state.
                     </div>
                     <div ng-message="minlength">Your entry is not long enough.</div>
                     <div ng-message="maxlength">Your entry is too long.</div>
                  </div>
               </md-autocomplete>
            </div>
            <div layout layout-sm="column" layout-margin>
               <section-title > </section-title>
               <md-input-container flex ng-show="addresshow"  >
                  <label>{{Address}}</label>
                  <textarea maxlength="200" type="text" ng-model="ctrl.selectedItem.BillAddress" required ng-disabled="true">
                  </textarea>             
               </md-input-container>
               <md-input-container flex ng-show="shipaddresshow">
                  <label>{{Address}}</label>          
                  <textarea maxlength="200" type="text" ng-model="ctrl.selectedItem.ShipAddress" required ng-disabled="true">
                  </textarea>
               </md-input-container>
               <md-icon md-svg-src="img/ic_swap_vert_24px.svg" class="iconColor"  md-ink-ripple style="right:1px;left:90%;top:20px;" ng-click="addressfuncold()"></md-icon>
            </div>
            <div layout layout-sm="column" layout-margin>
               <section-title > </section-title>
               <md-input-container flex >
                  <label>GRN No</label>
                  <input ng-model="inventory.GRNno" required>
               </md-input-container>
               <md-date-picker-new model="CurrentDate" req="true" label="Date" dialog-md-theme="datePickerTheme" 
                  style="margin-top: 13px;" flex/>
               </md-date-picker-new> 
            </div>
            <div layout layout-sm="column" layout-margin>
               <section-title > </section-title>
               <md-input-container flex >
                  <label>Internal note</label>
                  <input ng-model="inventory.InternalNote" ></textarea>
               </md-input-container>
               <md-input-container flex >
                  <label>Comment</label>
                  <input ng-model="inventory.Comment" ></textarea>
               </md-input-container>
            </div>
            <md-divider></md-divider>
            <div layout layout-sm="column" layout-margin>
               <section-title title="Item" > </section-title>
               <div layout="column"   flex>
                  <div flex  layout="row" >
                     <ul flex style="max-width:600px;" as-sortable="sortableOptions" ng-model="testArray.val">
                        <li ng-repeat="item in testArray.val track by $index" as-sortable-item style="max-width:600px;">
                           <md-card style="margin-left:-40px; max-width:630px;" as-sortable-item-handle >
                              <md-card-content >
                                 <div layout="row" >
                                    <div flex layout="column" >
                                       <span>
                                          {{item.productname}}
                                          <md-tooltip>Product Name</md-tooltip>
                                       </span>
                                    </div>
                                    <div flex="15" style="margin-top:-17px" layout="column" >
                                       <md-menu md-position-mode="target-right target" layout="row" flex-sm="100" flex="5" layout-align="center center"  >
                                          <md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                                             <md-icon md-menu-origin  md-svg-src="img/ic_more_horiz_24px.svg"></md-icon>
                                          </md-button>
                                          <md-menu-content width="4">
                                             <md-menu-item>
                                                <md-button href ng-click="tableclickadd(item)">
                                                   <p>Edit</p>
                                                   <md-icon md-menu-align-target></md-icon>
                                                </md-button>
                                             </md-menu-item>
                                             <md-menu-item>
                                                <md-button href ng-click="deleteproduct(testArray.val,$index)">
                                                   <p>Delete</p>
                                                   <md-icon md-menu-align-target ></md-icon>
                                                </md-button>
                                             </md-menu-item>
                                          </md-menu-content>
                                       </md-menu>
                                    </div>
                                 </div>
                                 <md-divider></md-divider>
                                 <div layout="row" layout-sm="column" style="min-height:20px; margin-top:10px; width: 15%;">
                                    <div flex >
                                       <span style="color:#808080;">
                                          {{item.Quantity}}
                                          <md-tooltip>Quantity</md-tooltip>
                                       </span>
                                    </div>
                                    <div flex>
                                       <span style="color:#808080;">
                                          {{item.Unit}}
                                          <md-tooltip>Unit</md-tooltip>
                                       </span>
                                    </div>
                                 </div>
                              </md-card-content>
                           </md-card>
                        </li>
                     </ul>
                  </div>
                  <div layout="row" layout-sm="column"  flex  >
                     <md-button href class="md-raised md-primary" style="height:5px; " ng-click="addproductreceipt()">New Line</md-button>
                  </div>
               </div>
            </div>
            <md-divider></md-divider>
            <div layout layout-sm="column" layout-margin>
               <section-title title="Optional Details"> </section-title>
               <md-input-container flex>
                  <label>Notes</label>
                  <textarea maxlength="200" type="text" ng-model="inventory.note"></textarea>  
               </md-input-container>
            </div>
            <div layout layout-sm="column" layout-margin>
               <section-title > </section-title>
               <div ng-init="DemoCtrl()" style="margin-left:-5px; margin-top:-10px;" layout="column" class="chipsdemoBasicUsage" flex>
                  <md-content class="md-padding" layout="column">
                     <md-chips ng-model="inventory.roFruitNames" readonly="readonly" placeholder="Enter a tag" delete-button-label="Remove Tag" delete-hint="Press delete to remove tag" secondary-placeholder="+Tags">
                        <md-chip-template>
                           <strong>{{$chip}}</strong>
                        </md-chip-template>
                     </md-chips>
                  </md-content>
               </div>
            </div>
            <div layout layout-sm="column" layout-margin>
               <section-title > </section-title>
               <div style=" margin-top:20px;margin-left: 15px;">
                  <md-button class="md-raised" ng-click="imageuploader()" type="button">Upload</md-button>
               </div>
            </div>
            <md-divider></md-divider>
            <div layout="row" layout-align="end start" layout-margin  ng-show="true" >
               <div>
                  <md-button id="mySignup" class="md-raised md-primary"  type="submit">Save</md-button>
               </div>
               <div style="margin-left: 15px;">
                  <md-button style="margin-left: 15px;" class="md-raised"  type="button" ng-click="viewInventory()">Cancel</md-button>
               </div>
            </div>
         </md-content>
      </form>
   </md-whiteframe>
   <br><br>
   <!--WHITEFRAME END-->
</div>
