<md-dialog style="width: 700px; overflow:hidden;">
   <div>
   <md-toolbar modal-header style="height: 48px">
      <div class="md-toolbar-tools" >
         <h2>Item Details</h2>
         <span flex></span>
         <md-button class="md-icon-button" ng-click="closeDialog()">
            <md-icon md-svg-src="img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
         </md-button>
      </div>
   </md-toolbar>
   <div class="card-container" style="overflow-y:auto;">
      <form style="width:100%">
         <md-content flex>
            <div layout layout-sm="column" layout-margin>
              <section-title title="Item Details"> </section-title>
             
               <!--  <md-input-container flex >
                  <label>Product or Service Name</label>
                  <input ng-model="inventory.productname" required>
                  </md-input-container> -->
               <!--   -->
               <md-autocomplete flex="" required="" md-input-name="autocompleteField"
                  md-no-cache="noCache" 
                  md-selected-item="selectedItem" 
                  md-search-text="searchText"   
                  md-items="item in querySearch(searchText)"               
                  md-item-text="item.display" 
                  md-floating-label="Product or Service Name">
                  <md-item-template>
                     <span  md-highlight-text="searchText">{{item.display}}</span>
                  </md-item-template>
                  <div ng-messages="searchForm.autocompleteField.$error" 
                     ng-if="searchForm.autocompleteField.$touched">
                     <div ng-message="required">You 
                        <b>must</b> have a favorite state.
                     </div>
                     <div ng-message="minlength">Your entry is not long enough.</div>
                     <div ng-message="maxlength">Your entry is too long.</div>
                  </div>
               </md-autocomplete>
            </div>
            <div layout layout-sm="column" layout-margin>
               <section-title > </section-title>
             
               <md-input-container flex  ng-show="plusdialog">
                  <label>Quantity</label>
                  <input ng-model="inventory.Quantity" required>
                  <md-icon  md-svg-src="img/ic_add_24px.svg" class="iconColor"  md-ink-ripple style="right:1px;left:90%;top:20px;" ng-click="addressfuncissueold(inventory)" ng-hide="checkAbility"></md-icon>
               </md-input-container>
               <md-input-container flex  ng-hide="plusdialog">
                  <label>Quantity</label>
                  <input ng-model="inventory.Quantity" required>
                  <md-icon 
                     md-svg-src="img/ic_remove_24px.svg" class="iconColor"  md-ink-ripple style="right:1px;left:90%;top:20px;" ng-click="addressfuncissueold(inventory)" ng-hide="checkAbility"></md-icon>
               </md-input-container>
               <md-input-container flex>
                  <label>Unit</label>
                  <md-select ng-model="selectedItem.uom"  >
                     <md-optgroup label="Category">
                     <md-option value="Months">Months</md-option>
                     <md-option value="Days">Days</md-option>
                     <md-option value="Units">Units</md-option>
                  </md-select>
               </md-input-container >
            </div>
            <div layout layout-sm="column" layout-margin>
               
               <section-title > </section-title>
               <md-input-container flex >
                  <label>Comment</label>
                  <input ng-model="inventory.Comment">
               </md-input-container>
            </div>
            <md-divider></md-divider>
         </md-content>
      </form>
   </div>
   <div class="md-actions" layout layout="row" ng-show="dialogaddbutton">
      <span flex></span>
      <md-button  ng-click="AddCus(selectedItem.display,inventory.Quantity,selectedItem.uom)" class="md-primary" >
         Add
      </md-button>
      <md-button type ="button" ng-click="closeDialog()" class="md-primary" ng-show="dialogaddbutton">
         Close
      </md-button>
   </div>
   <div class="md-actions" layout="row" ng-show="dialogUpdatebutton">
      <span flex></span>
      <!-- <md-button type ="button" ng-click="deletecus()" class="md-primary">
         Delete
         </md-button> -->
      <md-button type ="button" ng-click="closeDialog(selectedItem.display,selectedItem.uom)" class="md-primary">
         Done
      </md-button>
   </div>
</md-dialog>
