<!--CARD CONTAINER START-->
<div class="card-container" style="padding:20px;" > 
   <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center"
    style="border:1px solid #ccc;max-width:960px;margin:0 auto;z-index:2"  ng-repeat="inventory in ViewInventory" > 
      <form name="editForm" ng-submit="submit()" style="width:100%">
         <md-content flex>
            <div layout="row" layout-sm="column" style="background-color: rgba(128, 128, 128, 0.05);    height: 60px;">
               <div style="margin-left: 20px;" flex layout="row" layout-sm="column" layout-align="start center">
                  <span style="">
                  {{InventoryType}}
                  </span>
                  <span style="padding-left: 16px;">
                  {{InventoryTypeValue}}
                  </span>
                  <span style="padding-left: 16px; background-color: #212121; margin-left: 16px; width: 100px;" ng-if="inventory.Status == 'Cancelled'">
                  <b style="font-color:#FFFFFF;padding-right: 15px;">
                  <font color="white">{{inventory.Status}}</font>
                  </b>
                  </span>
               </div>
               <div flex="10" hide-sm>
               </div>
               <div flex layout layout-align="end center" >
                  <div  style="margin-top:-20px;">
                     <md-button ng-click="print(inventory)" style="height:30px;" aria-label="change address" href>
                        <md-icon md-svg-icon="img/ic_print_24px.svg" style="height:20px; width:20px;"></md-icon>
                     </md-button>
                     <md-button ng-click="ConvertToPdf(inventory)" style="height:30px;" aria-label="change address" href>
                        <md-icon md-svg-icon="img/ic_file_download_24px.svg" style="height:20px; width:20px;"></md-icon>
                     </md-button>
                     <md-button ng-click="SendEmail()" style="height:30px;" aria-label="change address" href>
                        <md-icon md-svg-icon="img/ic_email_24px.svg" style="height:20px; width:20px;"></md-icon>
                     </md-button>
                     <md-menu md-position-mode="target-right target" ng-if="inventory.Status != 'Cancelled'">
                        <md-button href aria-label="Open demo menu" class="md-icon-button"  ng-click="$mdOpenMenu()">
                           <md-icon md-menu-origin md-svg-src="img/ic_more_horiz_24px.svg"style="margin-top:10px;" ></md-icon>
                        </md-button>
                        <md-menu-content width="4">
                           <md-menu-item >
                              <md-button href ng-click="EditInventory(inventory)">
                                 <p>Share Via</p>
                                 <md-icon href md-menu-align-target ></md-icon>
                              </md-button>
                           </md-menu-item>
                           <md-menu-item >
                              <md-button href ng-click="CancelStatus(inventory)">
                                 <p>Cancel</p>
                                 <md-icon md-menu-align-target ></md-icon>
                              </md-button>
                           </md-menu-item>
                           <md-menu-item >
                              <md-button href ng-click="deleteInventory(inventory)">
                                 <p>Delete</p>
                                 <md-icon md-menu-align-target ></md-icon>
                              </md-button>
                           </md-menu-item>
                        </md-menu-content>
                     </md-menu>
                  </div>
               </div>
            </div>
            <div id="convert_to_pdf">
               <div layout layout-sm="column" layout-margin>
                  <div flex="55">
                     <img src="img/inventory.jpg" style="border-radius:20px"/>
                  </div>
               </div>
               <div layout layout-sm="column" layout-margin>
                  <div flex="10">
                  </div>
                  <h3>{{NoteType}} NOTE</h3>
               </div>
               <div layout layout-sm="column" layout-margin>
                  <div flex="15"></div>
                  <div layout = "column" flex = "30" style="max-height: 50px;">
                     <div flex>
                        <span> {{InventoryType}}</span>
                        <span style="margin-left: 60px;"> {{InventoryTypeValue}}</span>
                     </div>
                     <div flex style="margin-top: 10px;">
                        <span> Date</span>
                        <span style="margin-left: 95px;"> {{inventory.date}}</span>
                     </div>
                  </div>
                  <div flex="25"></div>
                  <div flex layout="column">  
                     <span flex> To :</span>
                     <span style="margin-top:5px;" flex> <b>{{AddressOne}}.</b></span>
                     <span style="margin-top:5px;" flex> {{AddressTwo}}</span>
                     <span style="margin-top:5px;" flex> {{AddressThree}}</span>
                     <span style="margin-top:5px;" flex> {{AddressFour}}</span>
                  </div>
               </div>
               <div layout layout-sm="column" layout-margin style="height: 100px;">
                  <div flex="15"></div>
                  <div flex>
                     <span>Comment</span>
                     <span style="margin-left: 60px;"> {{inventory.Comment}}</span>
                  </div>
               </div>
               <div layout="row" layout-sm="row" layout-margin style="height: 18px;">
                  <div flex="15" hide-sm></div>
                  <div flex="60">
                     <span><b>Description</b></span>                   
                  </div>
                  <div flex="5">
                     <span><b>Qty</b></span>                   
                  </div>
                  <div flex="5">
                     <span><b>Unit</b></span>                   
                  </div>
               </div>
               <div layout="row" layout-sm="row" layout-margin >
                  <div flex="15" hide-sm></div>
                  <div flex="75" style="border-bottom: thick solid #000000;border-width:1px;"></div>
               </div>
               <div ng-repeat="items in inventory.itemdetails" style="margin-top: -15px;">
                  <div layout="row" layout-sm="row" layout-margin>
                     <div flex="15" hide-sm></div>
                     <div flex="60" layout="column" layout-sm="row">
                        <div flex layout="row">
                           <span><b>{{items.productname}}</b></span> 
                        </div>
                        <div flex layout="row">
                           <span>{{items.Comment}}</span> 
                        </div>
                     </div>
                     <div flex="5">
                        <span>{{items.Quantity}}</span>                   
                     </div>
                     <div flex="5">
                        <span>{{items.Unit}}</span>                   
                     </div>
                  </div>
                  <div layout="row" layout-sm="row" layout-margin style="margin-top: -15px;">
                     <div flex="15" hide-sm></div>
                     <div flex="75" style="border-bottom: thick solid #000000;border-width:1px;"></div>
                  </div>
               </div>
               <div layout="row" layout-sm="row" layout-margin style="margin-top:150px;">
                  <div flex="15" hide-sm></div>
                  <div flex>
                     <span>Note</span>
                  </div>
               </div>
               <div layout="row" layout-sm="row" layout-margin>
                  <div flex="15" hide-sm></div>
                  <div flex style="margin-top: -15px;">
                     <p>{{inventory.note}}</p>
                  </div>
               </div>
            </div>
         </md-content>
      </form>
   </md-whiteframe> 
</div>