
<div >
   <div  class="collapse-card" ng-repeat="inventory in arReceipt | filter:ctrl.searchText||undefined | 
   orderBy:[prodSearch,latest]" ng-class="{ active: $active }"  ng-if="!inventory.deleteStatus">
      <!--START OF COLLAPSE CARD HEADING-->
      <div class="collapse-card__heading" layout="row" layout-align="start start">
         <!--START OF CARD OPEN SECTION-->
         <div style="width:56px;" >
            <div flex ng-hide="inventory.inventoryFavourite" class="collapse-card_header_content_info" ng-click="favouriteFunction(inventory)" layout="row">
               <img src="../../img/directive_library/star-empty-lg.png" style="margin-top:14px;margin-left:7px; height:23px;width:23px;"/>
            </div>
            <div flex ng-show="inventory.inventoryFavourite" class="collapse-card_header_content_info" ng-click="favouriteFunction(inventory)" layout="row">
               <img src="../../img/directive_library/star-fill-lg.png" style="margin-top:14px;margin-left:7px; height:23px;width:23px;"/>
            </div>
         </div>
         <div class="collapse-card_header_content_info " layout="row" layout-sm="column" layout-align="center start" style="width:90%;height:70px;" ng-click="$active = !$active;">
            <!-- WITHOUT RESPONSIVE -->
            <div layout-sm="row" flex style="margin-top: 13px; margin-left:10px;">
               <div layout-sm="column" flex>
                  <span style="padding-right: 15px; border-right-style: solid; border-width:1px;" class="collapse-card__title">
                  <b> {{inventory.date}}</b>
                  </span>
                  <span style="  padding-right: 15px;margin-left:-20px;border-right-style: solid; border-width:1px;" class="collapse-card__title">
                  <b>GRN No.{{inventory.GRNno}}</b>
                  </span>
                  <span style="  padding-right: 15px;margin-left:-20px;  border-width:1px;" class="collapse-card__title">
                  <b>{{inventory.customerNames}}</b>
                  </span>
                  <!-- initialy this field call status is not exsist -->
                  <span style="padding-left: 16px; background-color: #212121; margin-left: 16px; width: 100px;" ng-if="inventory.Status == 'Cancelled'">
                  <b style="font-color:#FFFFFF;padding-right: 15px;">
                  <font color="white">{{inventory.Status}}</font>
                  </b>
                  </span>

               </div>
            </div>
            <!-- WITH RESPONSIVE -->
            <!--        <div layout= "row" layout-sm="column" flex style="width: 50%">
               <div flex>
                   <span style="padding-right: 15px; border-right-style: solid; border-width:1px;" class="collapse-card__title"><b>  {{inventory.date|date}}</b></span>
               </div>
               <div flex="15">
                  <span style="padding-right: 15px;margin-left:-20px;border-right-style: solid; border-width:1px;" class="collapse-card__title"><b style="padding-left: 20px;">{{inventory.GRNno}}</b></span>
               
               </div>
               <div flex>
                   <span  class="collapse-card__title"style="  padding-right: 15px; margin-left:-20px; border-right-style: solid; border-width:1px;"><b style="padding-left: 20px;">{{inventory.customerNames}}</b></span>
               
               </div>
               </div>
               
               <div layout ="row" style="width:30%;" layout-sm="column" flex >
               <div style="width:60%;"  layout ="row" layout-sm="column" flex ng-repeat="item in inventory.itemdetails | limitTo:1">
               <div flex ="45">
                 <span style="margin-left:10px; padding-right: 15px; font-size:13px; border-right-style: solid; border-width:1px; ">{{item.productname}} </span>                 
               </div>
               <div flex>
                <span style="margin-left:10px; padding-right: 15px; font-size:13px; border-right-style: solid; border-width:1px; ">{{item.Quantity}} </span>                 
               </div>
               
               <div flex>
                <span style="margin-left:10px; padding-right: 15px; font-size:13px; border-right-style: solid; border-width:1px; ">{{item.Unit}} </span>                 
               </div>
               
               </div>
               <div ng-if="inventory.itemdetails.length  > 1" style="margin-left: 7px;">
                <md-icon md-svg-icon="img/ic_keyboard_control_24px.svg"></md-icon>              
               </div>
               
               </div> -->
         </div>
         <!--END OF CARD OPEN SECTION-->
         <!--START OF CARD CONTROLS SECTION-->
         <div class="collapse-card_header_content_controls" style="width:10%; height:100%;" layout="column" layout-align="center end">
            <md-menu md-position-mode="target-right target">
               <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                  <md-icon md-svg-icon="img/ic_more_vert_24px.svg"></md-icon>
               </md-button>
                 <md-menu-content width="4">
                   <md-menu-item>
                          <md-button ng-click="OpenViewScreen(inventory,'GRN')">
                              <md-icon md-svg-icon="img/ic_print_24px.svg"></md-icon>
                              <p>Open</p>
                          </md-button>
                   </md-menu-item>
                   <md-menu-item>
                          <md-button ng-click="printDetails(inventory)">
                              <md-icon md-svg-icon="img/ic_print_24px.svg"></md-icon>
                              <p>Print</p>
                          </md-button>
                   </md-menu-item>
                    <md-menu-item>
                          <md-button ng-click="ConvertToPdf(inventory)">
                              <md-icon md-svg-icon="img/ic_print_24px.svg"></md-icon>
                              <p>Download</p>
                          </md-button>
                   </md-menu-item>             
            </md-menu-content>
            </md-menu>
         </div>
         <!--END OF CARD CONTROLS SECTION-->
      </div>
      <!--END OF COLLAPSE CARD HEADING-->
      <!--START OF CARD BODY-->
      <div class="collapse-card__body">
         <form name="editForm">
            
            <md-content flex>
               <div layout layout-sm="column" layout-margin>
                  <section-title title="Supplier Details"> </section-title>
                  <md-input-container flex >
                     <label>Suplier</label>
                     <input ng-model="inventory.customerNames" required ng-disabled="true">
                  </md-input-container>
               </div>
               <div layout layout-sm="column" layout-margin >
                  <section-title > </section-title>
                  <md-input-container flex ng-if="inventory.AddressName == 'Address'">
                     <label>{{inventory.AddressName}}</label>
                     <textarea maxlength="200" type="text" ng-model="inventory.BillAddress" required ng-disabled="true">
              </textarea>
                     <!--           <md-icon md-svg-src="img/ic_arrow_drop_down_24px.svg" class="iconColor"  md-ink-ripple style="right:1px;left:90%;top:20px;" ng-click="addressChangeview(inventory)" ng-hide="checkAbilityview"></md-icon> -->
                     <!--  <md-menu md-position-mode="target-right target">
                        <md-button type="button" aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()" style="right:1px;left:90%;top:20px;" >
                          <md-icon md-svg-icon="img/ic_more_horiz_48px.svg" ng-hide="checkAbilityview"></md-icon>
                        </md-button>
                        
                        <md-menu-content width="4">
                           
                          <md-menu-item>
                            <md-button ng-click="addressfuncreceipt(inventory)">
                              <p>Address</p>
                             </md-button>
                            </md-menu-item>
                        
                          <md-divider></md-divider>
                        
                          <md-menu-item>
                            <md-button ng-click="shipaddressfuncreceipt(inventory)">
                              <p>Shipping Address</p>
                             </md-button>
                            </md-menu-item>
                        </md-menu-content>
                           </md-menu>
                        --> 
                  </md-input-container>
                  <md-input-container flex ng-if="inventory.AddressName == 'Shipping Address'">
                     <label>{{inventory.AddressName}}</label>
                     <textarea maxlength="200" type="text" ng-model="inventory.ShipAddress" required ng-disabled="true">
              </textarea>
                     <!--   <md-icon md-svg-src="img/ic_arrow_drop_down_24px.svg" class="iconColor"  md-ink-ripple style="right:1px;left:90%;top:20px;" ng-click="addressChangeview(inventory)" ng-hide="checkAbilityview"></md-icon>
                        -->
                     <!-- 
                        <md-menu md-position-mode="target-right target">
                        
                        <md-button type="button" aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()" style="right:1px;left:90%;top:20px;" >
                        <md-icon md-svg-icon="img/ic_more_horiz_48px.svg" ng-hide="checkAbilityview"></md-icon>
                        </md-button>
                        
                        <md-menu-content width="4">
                         
                        <md-menu-item>
                          <md-button ng-click="addressfuncreceipt(inventory)">
                            <p>Address</p>
                           </md-button>
                           </md-menu-item>
                        <md-divider></md-divider>
                        <md-menu-item>
                          <md-button ng-click="shipaddressfuncreceipt(inventory)">
                            <p>Shipping Address</p>
                           </md-button>
                           </md-menu-item>
                        </md-menu-content>
                           </md-menu> -->
                  </md-input-container>
                  <md-icon md-svg-src="img/ic_swap_vert_24px.svg" class="iconColor"  md-ink-ripple style="right:1px;left:90%;top:20px;" ng-click="addressfuncreceiptold(inventory)" ng-hide="checkAbilityview"></md-icon>
               </div>
               <div layout layout-sm="column" layout-margin>
                  <section-title > </section-title>
                  <md-input-container flex >
                     <label>GRN No</label>
                     <input ng-model="inventory.GRNno" required ng-disabled="checkAbilityview">
                  </md-input-container>
                  <md-date-picker model="inventory.date" label="Date" dialog-md-theme="datePickerTheme" 
                     style="margin-top: 13px;" flex/>
                  </md-date-picker>
                  <!-- 
                     <md-input-container flex >
                      <label>Refference Number</label>
                      <input ng-model="inventory.RefferenceNo" required ng-disabled="checkAbilityview">
                     </md-input-container> -->
               </div>
               <div layout layout-sm="column" layout-margin>
                  <section-title > </section-title>
                  <md-input-container flex >
                     <label>Internal note</label>
                     <input ng-model="inventory.InternalNote" required>
                  </md-input-container>
                  <md-input-container flex >
                     <label>Comment</label>
                     <input ng-model="inventory.Comment" required ng-disabled="checkAbilityview">
                  </md-input-container>
               </div>
               <md-divider></md-divider>
               <div layout layout-sm="column" layout-margin>
                  <section-title title="Item"> </section-title>
                  <div layout="column"  flex ng-disabled="checkAbilityview">
                     <div layout="row"  >
                        <!-- <md-table headers="headers" sortable="sortable" filters="search" custom-class="custom" thumbs="thumbs" count="count" content="inventory.itemdetails" ng-click="tableclick(inventory.itemdetails)"></md-table>
                           -->
                        <ul flex style="max-width:600px;" as-sortable="sortableOptions" ng-model="inventory.itemdetails">
                           <li ng-repeat="item in inventory.itemdetails" as-sortable-item style="max-width:600px;">
                              <md-card style="margin-left:-40px; max-width:630px;" as-sortable-item-handle >
                                 <md-card-content >
                                    <div layout="row" >
                                       <div flex="90" layout="column" >
                                          <span>
                                             {{item.productname}}
                                             <md-tooltip>Product Name</md-tooltip>
                                          </span>
                                       </div>
                                       <div flex style="margin-top:-17px" layout="column" >
                                          <!--  <md-button href aria-label="Open demo menu" class="md-icon-button" 
                                             ng-click="tableclick(inventory.itemdetails,item)" >
                                             <md-icon md-menu-origin  md-svg-src="img/ic_more_horiz_24px.svg"></md-icon>
                                             </md-button> -->
                                          <md-menu md-position-mode="target-right target" layout="row" flex-sm="100" flex="5" layout-align="center center"  >
                                             <md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                                                <md-icon md-menu-origin  md-svg-src="img/ic_more_horiz_24px.svg"></md-icon>
                                             </md-button>
                                             <md-menu-content width="4">
                                                <md-menu-item>
                                                   <md-button href ng-click="tableclick(inventory.itemdetails,item)">
                                                      <p>Edit</p>
                                                      <md-icon md-menu-align-target>
                                                      </md-icon>
                                                   </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                   <md-button href ng-click="deleteproductview(inventory.itemdetails,$index)">
                                                      <p>Delete</p>
                                                      <md-icon md-menu-align-target ></md-icon>
                                                   </md-button>
                                                </md-menu-item>
                                             </md-menu-content>
                                          </md-menu>
                                       </div>
                                    </div>
                                    <md-divider></md-divider>
                                    <div layout="row" layout-sm="column" style="width:15%;">
                                       <div flex >
                                          <span style="color:#808080;">
                                             {{item.Quantity}}
                                             <md-tooltip>Quantity</md-tooltip>
                                          </span>
                                       </div>
                                       <div flex>
                                          <span style="color:#808080;">
                                             {{item.Unit}}
                                             <md-tooltip>Unit</md-tooltip>
                                          </span>
                                       </div>
                                    </div>
                                 </md-card-content>
                              </md-card>
                           </li>
                        </ul>
                     </div>
                     <div layout="row" layout-sm="column" ng-hide="checkAbilityview"  flex  >
                        <md-button href class="md-raised md-primary" style="height:5px; " ng-click="addproductview(inventory.itemdetails)">New Line</md-button>
                     </div>
                  </div>
               </div>
               <md-divider></md-divider>
               <div layout layout-sm="column" layout-margin>
                  <section-title title="Optional Details"> </section-title>
                  <md-input-container flex>
                     <label>Notes</label>
                     <textarea maxlength="200" type="text" ng-model="inventory.note"></textarea>  
                  </md-input-container>
               </div>
               <div layout layout-sm="column" layout-margin>
                  <div flex="5" class="blankspace">
                  </div>
                  <div flex="20" class="blankspace">
                  </div>
                  <div layout="column" class="chipsdemoBasicUsage" flex style="margin-left:-5px; margin-top:-10px;">
                     <md-content class="md-padding" layout="column">
                        <md-chips ng-model="inventory.roFruitNames" readonly="readonly"placeholder="Enter a tag" delete-button-label="Remove Tag" delete-hint="Press delete to remove tag" secondary-placeholder="+Tags">
                           <md-chip-template>
                              <strong>{{$chip}}</strong>
                           </md-chip-template>
                        </md-chips>
                     </md-content>
                  </div>
               </div>
            </md-content>
         </form>
      </div>
      <!--END OF CARD BODY-->
   </div>
</div>
<!--END OF COLLAPSE CARDS