<!--CARD CONTAINER START-->
<style type="text/css">
   md-input-container.md-input-focused label {
   display: none
   }
   .ShowLabel{
   display: block !important
   }
   .Hidelabel{
   display: none   !important
   }
</style>
<div class="card-container" style="padding:20px;" >
   <!--WHITEFRAME START-->
   <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" style="border:1px solid #ccc;max-width:960px;margin:0 auto;z-index:2">
      <!--FORM START-->
      <form name="editForm"  style="width:100%">
         <md-content flex>
            <div layout layout-sm="column" layout-margin flex>
               <div flex="10">
                  <label>Project No:</label>
                  <label>{{projectViewObject.projectid}}</label>
               </div>
               <div flex>
                  <span style="padding-left: 16px; background-color: #339C38; margin-left: 16px; width:15%" ng-if="projectViewObject.projectStatus == 'Active'">
                       <b style="font-color:#FFFFFF;padding-right: 15px;">
                           <font color="white">{{projectViewObject.projectStatus}}</font>
                       </b>
                  </span>
                  <span style="padding-left: 16px; background-color: #212121; margin-left: 16px; width: 18%" 
                   ng-if="projectViewObject.projectStatus == 'Inactive'">
                       <b style="font-color:#FFFFFF;padding-right: 15px;">
                           <font color="white">{{projectViewObject.projectStatus}}</font>
                       </b>
                  </span>
               </div>
               
                
               <div layout layout-align="end start" flex style="margin-top:-5px;">
                  <md-button ng-click="print()" style="height:30px;" aria-label="change address" href>
                     <md-icon md-svg-icon="img/ic_print_24px.svg" style="height:20px; width:20px;"></md-icon>
                  </md-button>
                  <md-menu md-position-mode="target-right target" >
                     <md-button href aria-label="Open demo menu" class="md-icon-button"  ng-click="$mdOpenMenu()">
                        <md-icon md-menu-origin md-svg-src="img/ic_more_horiz_24px.svg"style="margin-top:-5px;" ></md-icon>
                     </md-button>
                     <md-menu-content width="4">
                        <md-menu-item >
                           <md-button href ng-click="billCustomer(projectViewObject)">
                              <p>Bill Customer</p>
                              <md-icon md-menu-align-target ></md-icon>
                           </md-button>
                        </md-menu-item>
                        <md-menu-item >
                           <md-button href ng-click="addUser(projectViewObject)">
                              <p>Add Users </p>
                              <md-icon md-menu-align-target ></md-icon>
                           </md-button>
                        </md-menu-item>
                        <md-menu-item ng-if="projectViewObject.projectStatus == 'Active'" >
                           <md-button href ng-click="changeStatus(projectViewObject)">
                              <p>Inactive</p>
                              <md-icon md-menu-align-target ></md-icon>
                           </md-button>
                        </md-menu-item>
                        <md-menu-item ng-if="projectViewObject.projectStatus == 'Inactive'" >
                           <md-button href ng-click="changeStatus(projectViewObject)">
                              <p>Active</p>
                              <md-icon md-menu-align-target ></md-icon>
                           </md-button>
                        </md-menu-item>
                        <md-menu-item >
                           <md-button href ng-click="projectEdit(projectViewObject)">
                              <p>Edit</p>
                              <md-icon md-menu-align-target ></md-icon>
                           </md-button>
                        </md-menu-item>
                        <md-menu-item >
                           <md-button href ng-click="projectDelete(projectViewObject)">
                              <p>Delete</p>
                              <md-icon md-menu-align-target ></md-icon>
                           </md-button>
                        </md-menu-item>
                     </md-menu-content>
                  </md-menu>
               </div>
            </div>



            <div layout layout-sm="column" layout-margin>
               <section-title title="Logged Hours"></section-title>
               <div layout="row" flex layout-sm="column" layout-align="start end">
                  <div flex><lable style="font-size: 12px;"><b>user</b></lable></div>
                  <div flex><lable style="font-size: 12px;"><b>Logged</b></lable></div>
                  <div flex><lable style="font-size: 12px;"><b>Billable</b></lable></div>
                  <div flex><lable style="font-size: 12px;"><b>Billed</b></lable></div>
                  <div flex><lable style="font-size: 12px;"><b>Pending</b></lable></div>
                  <div flex="25"></div>
               </div>                
            </div>
            <div layout layout-sm="column" layout-margin ng-repeat="time in timesheetArr">
            <section-title></section-title>               
               <div layout="row" flex layout-sm="column" layout-align="start end">
                  <div flex><lable style="font-size: 12px;">{{time.user}}</lable></div>
                  <div flex><lable style="font-size: 12px;">{{time.logged}} H</lable></div>
                  <div flex><lable style="font-size: 12px;">{{time.billable}} H</lable></div>
                  <div flex><lable style="font-size: 12px;">{{time.billed}} H</lable></div>
                  <div flex><lable style="font-size: 12px;">{{time.Pending}} H</lable></div>
                  <div flex="25"></div>
               </div>
            </div>
            <div layout layout-sm="column" layout-margin>
               <section-title title="Expenses"></section-title>
               <div layout="row" flex layout-sm="column" layout-align="start end">
                  <div flex><lable style="font-size: 12px;"><b>Date</b></lable></div>
                  <div flex><lable style="font-size: 12px;"><b>Expense No</b></lable></div>
                  <div flex><lable style="font-size: 12px;"><b>Category</b></lable></div>
                  <div flex><lable style="font-size: 12px;"><b>Amount</b></lable></div>
                  <div flex="25"></div>
               </div>                
            </div>
            <div layout layout-sm="column" layout-margin ng-repeat="ex in expenseArr">
            <section-title></section-title>               
               <div layout="row" flex layout-sm="column" layout-align="start end">
                  <div flex><lable style="font-size: 12px;">{{ex.date}}</lable></div>
                  <div flex><lable style="font-size: 12px;">{{ex.expense_code}}</lable></div>
                  <div flex><lable style="font-size: 12px;">{{ex.Category}}</lable></div>
                  <div flex><lable style="font-size: 12px;">{{ex.Amount}}</lable></div>
                  <div flex="25">  
                     <span style="background-color: rgba(97, 96, 134, 0.86);padding-left: 10px; padding-right: 10px;">
                        <b style="font-color:#FFFFFF;">
                           <font color="white">{{ex.Billable}}</font>
                        </b>
                     </span>
                  </div>
               </div>
            </div>
         </md-content>
      </form>
   </md-whiteframe>
   <br><br>
   <!--WHITEFRAME END-->
</div>