<!--CARD CONTAINER START-->
<md-background-banner color="#235b91" height="300px"> </md-background-banner>
<div ng-controller="AppCtrlAddTimesheet as ctrl">
   <!--WHITEFRAME START-->
   <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" style="border:1px solid #ccc;width:960px;margin:0 auto">
      <!--FORM START-->
      <form name="editForm" ng-submit="submit();" style="width:100%">
         <md-content flex>
            <div layout layout-sm="column" layout-margin>
               <section-title title="Log Details"> </section-title>
               <div flex>
                  <md-date-picker model="timeSheet.date" label="Date" dialog-md-theme="datePickerTheme"/>
               </div>
               <div flex>
                  <md-input-container>
                     <label>Hours</label>
                     <input ng-model="timeSheet.hours" required>
                  </md-input-container>
               </div> 
            </div>
            <div layout layout-sm="column" layout-margin>
               <section-title> </section-title>
               <md-input-container flex >
                  <label>Project</label>
                  <md-select  ng-model="timeSheet.selectProject" flex ng-change="projectSelect(timeSheet.selectProject)">
                     <md-optgroup label="Project">
                     <md-option value="{{item}}" ng-repeat="item in projectArr">{{item.proName}}</md-option>
                  </md-select>
               </md-input-container>
               <md-input-container flex >
                  <label>Task</label>
                  <md-select  ng-model="timeSheet.task" flex>
                     <md-optgroup label="Task">
                     <md-option value="task-1">Task-1</md-option>
                     <md-option value="task-2">Task-2</md-option>
                     <md-option value="task-3">Task-3</md-option>
                     <md-option value="task-4">Task-4</md-option>
                  </md-select>
               </md-input-container>
            </div>
            <div layout layout-sm="column" layout-margin>
               <section-title> </section-title>
               <md-input-container flex >
                  <label>Status</label>
                  <md-select  ng-model="timeSheet.status" flex>
                     <md-optgroup label="Status">
                     <md-option value="Bilable">Bilable</md-option>
                     <md-option value="Non-Billable">Non-Billable</md-option>
                     <md-option value="Billed">Billed</md-option>
                  </md-select>
               </md-input-container>
               <md-input-container flex >
                  <label>User</label>
                  <md-select  ng-model="timeSheet.user" flex>
                     <md-optgroup label="Status">
                     <md-option value="user-1">User-1</md-option>
                     <md-option value="user-2">User-2</md-option>
                  </md-select>
               </md-input-container>
            </div>
            <md-divider></md-divider>
            <div layout layout-sm="column" layout-margin>
               <section-title title="Optional Details"> </section-title>
               <md-input-container flex>
                  <label>Notes</label>
                  <textarea ng-model="timeSheet.notes" ></textarea>
               </md-input-container>
            </div>
            <div layout layout-sm="column" layout-margin>
               <section-title> </section-title>
               <div style="margin-left:55%;">
                  <md-button href class="md-raised md-primary" style="height:5px; " ng-click="submit()">Submit</md-button>
               </div>
               <div style="margin-left:2%;">
                  <md-button href class="md-raised md-primary" style="height:5px; "ng-click="cancel()">Cancel</md-button>
               </div>
            </div>
            <div class="md-actions" layout="row" layout-align="center center" style="display:none">
               <md-button id="mySignup" class="md-raised md-primary" style="width:93%" type="submit"><span class="loginBtnLabel">SAVE</span>
               </md-button>
            </div>
         </md-content>
      </form>
   </md-whiteframe>
   <br><br> 
</div>
<!--CARD CONTAINER END-->
