<md-dialog style="max-width:960px;">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>File Uploads</h2>
                <span flex></span>
                <md-button href class="md-icon-button" ng-click="closeDialog()">
                    <md-icon md-svg-src="img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width:850px" >

    <div layout-gt-sm="row">
    
         <section-title></section-title>
           <md-input-container class="md-block" flex-gt-sm >
            <label>Project</label>
            <input ng-model="project" required>
         </md-input-container>

         <md-input-container class="md-block" flex-gt-sm >
            <label>Task</label>
            <input ng-model="task" required >
         </md-input-container>
    </div>
    <div layout-gt-sm="row">       
         <section-title></section-title>

           <md-input-container class="md-block" flex-gt-sm >
            <label>Time</label>
            <input ng-model="time" required>
         </md-input-container>
    </div>
    <div layout-gt-sm="row">       
         <section-title></section-title>

          <md-checkbox ng-model="bilableCheck" aria-label="Checkbox 1">
            Bilable
          </md-checkbox>
    </div>




   </md-dialog-content>
    <div class="md-actions" layout="row" ng-show="addButtonStatus">
                <md-button href ng-click="addNewEvent()" class="md-primary">Add</md-button>
            </div>
   </md-dialog>