<!--START OF COLLAPSE CARDS-->
<div ng-init="loadAllprojects()" ></div>
<div class="collapse-card ng-scope" ng-repeat="project in projects| filter:ctrl.searchText||undefined | orderBy: prodSearch " ng-class="{ active: $active }" style="">
   <!--START OF COLLAPSE CARD HEADING| filter:ctrl.actionSearchText||undefined-->
   <div class="collapse-card__heading" layout="row" layout-align="start start" >
      <div class="collapse-card_header_content_controls" style="width:5%;" flex="5" layout="column" layout-align="center start">
         <div style="width:5%">
            <div  ng-hide="project.favoritestar" class="blankspace collapse-card_header_content_info" 
               ng-click="favouriteFunction(project)" layout="row">
               <img src="img/directive_library/star-empty-lg.png" style="margin-top:14px;margin-left:7px; height:23px;width:23px;"/>
            </div>
            <div  ng-show="project.favoritestar" class="blankspace collapse-card_header_content_info" 
               ng-click="favouriteFunction(project)" layout="row">
               <img src="img/directive_library/star-fill-lg.png" style="margin-top:14px;margin-left:7px; height:23px;width:23px;"/>
            </div>
         </div>
         <md-button aria-label flex ng-if="content.favourite == false" ng-disabled="false" class="md-icon-button launch" 
            ng-click="selectItem(content)">
            <md-icon md-svg-icon="img/ic_check_box_outline_blank_24px.svg"></md-icon>
         </md-button>
         <md-button aria-label flex ng-if="content.favourite == true" ng-disabled="false" class="md-icon-button launch" 
            ng-click="selectItem(content)">
            <md-icon md-svg-icon="img/ic_check_box_24px.svg"></md-icon>
         </md-button>
      </div>
      <div class="collapse-card_header_content_info" layout="row" style="width:5%;" layout-align="center start" flex="80" ng-click="$active = !$active; closeAll();">
         <div layout-sm="row" flex>
            <div layout-sm="column" flex>
               <span style="padding-right: 15px; border-right-style: solid; border-width:1px;" class="collapse-card__title">
               <b> {{project.name}}</b></span>
               <span style="  padding-right: 15px;margin-left:-20px;" class="collapse-card__title"><b> {{project.customerNames}}</b></span> 
            </div>
            <div layout-sm="column" style="margin-top:10px;" flex>
               <span style="padding-right: 15px;border-right-style: solid; border-width:1px; font-size:13px;">Date {{project.date}}</span>
               <span style="padding-right: 15px; padding-left: 15px; border-right-style: solid; border-width:1px; font-size:13px;">Project No {{project.projectid}}</span>
               <span style="padding-left: 16px; background-color: #339C38; margin-left: 16px; width:15%" ng-if="project.projectStatus == 'Active'">
                     <b style="font-color:#FFFFFF;padding-right: 15px;">
                         <font color="white">{{project.projectStatus}}</font>
                     </b>
                 </span>
                 <span style="padding-left: 16px; background-color: #212121; margin-left: 16px; width: 18%" ng-if="project.projectStatus == 'Inactive'">
                     <b style="font-color:#FFFFFF;padding-right: 15px;">
                         <font color="white">{{project.projectStatus}}</font>
                     </b>
               </span>
            </div>
         </div>
      </div>
      <div style="width:5%;padding-left:10%;">
         <div class="collapse-card_header_content_controls" flex="10" style="width:5%;" layout="column" layout-align="center start">
            <md-menu md-position-mode="target-right target">
               <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                  <md-icon md-svg-icon="img/ic_more_vert_24px.svg"></md-icon>
               </md-button>
               <md-menu-content width="4">
                  <md-menu-item>
                     <md-button ng-click="openProject(project.projectid)">
                        <div layout="row">
                           <p flex>Open Project</p>
                           <md-icon md-svg-icon="img/ic_save_24px.svg"></md-icon>
                        </div>
                     </md-button>
                  </md-menu-item>
                  <md-menu-item>
                     <md-button ng-click="deleteProject(project,$event)">
                        <div layout="row">
                           <p flex>Delete project</p>
                           <md-icon md-svg-icon="img/ic_delete_24px.svg"></md-icon>
                        </div>
                     </md-button>
                  </md-menu-item>
                  <md-menu-item>
                     <md-button ng-click="">
                        <div layout="row">
                           <p flex>Print</p>
                           <md-icon md-svg-icon="img/ic_print_24px.svg"></md-icon>
                        </div>
                     </md-button>
                  </md-menu-item>
               </md-menu-content>
            </md-menu>
         </div>
      </div>
   </div>
   <div class="collapse-card__body">
      <form id="form" name="editForm">
         <md-content>
            <md-divider></md-divider>
            <div layout layout-sm="column" layout-margin>
               <section-title title="Project Details"></section-title>
               <md-input-container flex >
                  <label>Project Name</label>
                  <input ng-model="project.name"    ng-disabled="true" >
               </md-input-container>
               <div flex>
                  <md-date-picker model="project.date"   label="Date" dialog-md-theme="datePickerTheme"  ng-disabled="true" />
               </div>
            </div>
            <div layout layout-sm="column" layout-margin>
               <section-title></section-title>
               <md-input-container flex >
               <label>Project Description </label>
               <input ng-model="project.descriptions"    ng-disabled="true" >
               </md-input-container>
            </div>
             <div layout layout-sm="column" layout-margin>
               
               <section-title> </section-title>    

               <md-input-container flex >
               <label>Customer Name</label>
               <input ng-model="project.customerNames"    ng-disabled="true" >
               </md-input-container>
                
                  <md-input-container flex >
                  <label>budgeted Hours</label>
                  <input ng-model="project.bhours"   ng-disabled="true">
               </md-input-container>
               
                   
               </div> 
            <div layout layout-sm="column" layout-margin>
               <section-title></section-title>
               <md-input-container flex >
                  <label>Budgeted Hours</label>
                  <input ng-model="project.bhours"  ng-disabled="true"  >
               </md-input-container>
               <md-input-container flex >
                  <label>Hourly Project Rate</label>
                  <input ng-model="project.prate"    ng-disabled="true" >
               </md-input-container>
            </div>
            <div layout layout-sm="column" layout-margin>
               <section-title></section-title>
               <md-input-container  flex >
                  <label>Billing Method</label>
                  <md-select ng-model="project.billingmethod" flex  ng-disabled="true">
                     <md-optgroup label="Billing Method">
                     <md-option value="Hourly Staff Rate">Hourly Staff Rate</md-option>
                     <md-option value="Hourly Task Rate">Hourly Task Rate</md-option>
                     <md-option value="Hourly Project Rate">Hourly Project Rate</md-option>
                     <md-option value="Flat Project Amount">Flat Project Amount</md-option>
                  </md-select>
               </md-input-container>

               <md-input-container flex ng-if="project.hpRate != ''" >
                  <label>Hourly Project Rate</label>
                  <input  ng-model="project.hpRate" ng-disabled="true">
               </md-input-container>
               <md-input-container flex ng-if="project.fpAmount != ''" >
                  <label>Flat Project Amount</label>
                  <input ng-model="project.fpAmount" ng-disabled="true" >
               </md-input-container>
            </div>
            <md-divider></md-divider>
            <div layout layout-sm="column" layout-margin ng-repeat="item in project.staffs track by $index">
               <section-title ng-if="item.sno =='1'" title="Staff Members"></section-title>
               <div flex="5" ng-if="item.sno !='1'" class="blankspace">
               </div>
               <div flex="15"  ng-if="item.sno !='1'" class="blankspace">
               </div>
               <md-input-container flex>
                  <label>Select a User</label>
                  <input ng-model="item.staffname"    ng-disabled="true" >
               </md-input-container>
               <md-input-container flex>
                  <label>Hourly Rate</label>
                  <input ng-model="item.shr"  ng-disabled="true" >
               </md-input-container>
               <input type="hidden" ng-model="item.sno">
            </div>
            <md-divider></md-divider>
            <div layout layout-sm="column" layout-margin ng-repeat="item in project.tasks track by $index">
               <section-title ng-if="item.tno =='1'" title="Tasks"></section-title>
               <div flex="5" ng-if="item.tno !='1'"  class="blankspace">
               </div>
               <div flex="15"  ng-if="item.tno !='1'" class="blankspace">
               </div>
               <md-input-container flex>
                  <label>Select or enter a task</label>
                  <input ng-model="item.taskName"   ng-disabled="true" >
               </md-input-container>
               <md-input-container flex>
                  <label>Hourly Rate</label>
                  <input ng-model="item.thr"  ng-disabled="true" >
               </md-input-container>
               <input type="hidden" ng-model="item.tno">
            </div>
            <md-divider></md-divider>
            <div layout layout-sm="column" layout-margin>
               <section-title title="Optional Details"></section-title>
               <md-input-container flex>
                  <label>Notes</label>
                  <textarea ng-model="project.notes"  ng-disabled="true"  ></textarea>
               </md-input-container>
            </div>
            <div class="md-actions" layout="row" layout-align="center center" style="display:none">
               <md-button id="mySignup" class="md-raised md-primary" style="width:93%" type="submit"><span class="loginBtnLabel">SAVE</span>
               </md-button>
            </div>
         </md-content>
      </form>
   </div>
   <!--END OF CARD BODY-->
</div>
<!--END OF COLLAPSE CARDS-->
