<style>
   @media screen and (max-width: 599px) {
   .card_container {
   padding-top: 114px!important;
   }
   }
   @media screen and (max-width: 768px) {
   .card_container {
   padding-top: 114px!important;
   }
   }
</style>
<div ng-init="loadAllInventory()"></div>
<div ng-controller="viewctrl as ctrl" >
   <div class="header_container" >
      <md-whiteframe class="md-whiteframe-z1" layout="row" layout-align="start start" style="background-color: #FFFFFF;max-width: 960px;height:40px;">
         <md-autocomplete flex  
            ng-keypress="enter($event)"
            ng-disabled="ctrl.isDisabled"
            md-no-cache="ctrl.noCache"
            md-selected-item="ctrl.selectedItem"
            md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
            md-search-text="ctrl.searchText"
            md-selected-item-change="ctrl.selectedItemChange(item)"
            md-items="item in ctrl.querySearchView(ctrl.searchText)"
            md-item-text="item.ProductCode"
            md-min-length="0"
            placeholder="Action Search">
            <md-item-template>
               <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.ProductCode}}</span>
            </md-item-template>
         </md-autocomplete>
         <!-- <sort-option name-array="testarr" serch-item="prodSearch" star="ctrl.searchText">  </sort-option> -->
         <div layout style='width:50px;'>
            <md-menu md-position-mode='target-right target' style='z-index:99;box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.084); background:rgb(250,250,250); height:40px; width:50px;'>
               <md-button type='button' aria-label='Open demo menu' class='md-icon-button' ng-click='$mdOpenMenu()'>
                  <md-icon md-svg-icon='img/ic_reorder_24px.svg' style='margin-top: -9px;'></md-icon>
               </md-button>
               <md-menu-content width='4'>
                  <div ng-repeat='item in testarr track by $index'>
                     <md-menu-item>
                        <md-button ng-click='starfunc(item,$index)'>
                           <div layout='row'>
                              <p flex>{{item.name}}</p>
                              <div>
                                 <md-icon md-svg-icon='img/ic_arrow_drop_up_48px.svg' style='margin-top:4px; position: absolute; left: 150px;' ng-show='item.upstatus'></md-icon>
                              </div>
                              <div>
                                 <md-icon md-svg-icon='img/ic_arrow_drop_down_24px.svg' style='margin-top:9px;position: absolute; left: 150px;' ng-show='item.downstatus'></md-icon>
                              </div>
                              <md-icon md-menu-align-target md-svg-icon='{{item.src}}' style='margin: auto 25px auto 0;'></md-icon>
                           </div>
                        </md-button>
                        <div ng-click="DefaultCancel(item)" style="width: 18px;z-index: 10;margin-left: -45px; margin-top: 15px;position: absolute;" ng-show='item.close'>
                           <md-icon md-svg-icon='img/ic_close_24px.svg' style='width: 18px;
                              margin-top:-4px;'></md-icon>
                        </div>
                     </md-menu-item>
                     <md-divider ng-show='item.divider'></md-divider>
                  </div>
               </md-menu-content>
            </md-menu>
         </div>
      </md-whiteframe>
      <md-content class="tab_content">
         <md-tabs md-stretch-tabs md-selected="selectedIndex" ng-click="changeTab(selectedIndex)">
            <md-tab label="Receipt" ></md-tab>
            <md-tab label="Issue"></md-tab>
         </md-tabs>
      </md-content>
   </div>
   <div class="card_container" style="padding-top: 117px;">
      <div class="ui-view-container">
         <div class="container" ui-view  viewcss></div>
      </div>
   </div>
</div>
<div id="addinventory" class="fab_button_animation" style="background:red;"></div>
<div id="viewissues" class="fab_button_animation" style="background:#3498db;"></div>
<md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
   ng-class="demo.selectedMode" style="position:fixed;bottom:20px;right:20px;"  ng-if="showaddInventory == true">
   <md-fab-trigger>
      <div style="padding:0px;">
         <md-button aria-label="menu" class="md-fab md-warn" style="background-color:#db4437;">
            <md-icon md-svg-src="img/ic_add_24px.svg" style="width:30px;" ></md-icon>
         </md-button>
      </div>
   </md-fab-trigger>
   <md-fab-actions>
      <div style="padding:5px;">
         <md-button aria-label="Google hangout" class="md-fab md-raised md-mini" ng-click="addInventory()" style="background-color:red;">
            <md-icon md-svg-src="img/ic_note_add_24px.svg"></md-icon>
            <md-tooltip md-direction="left">Add Receipt</md-tooltip>
         </md-button>
      </div>
   </md-fab-actions>
</md-fab-speed-dial>
<md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
   ng-class="demo.selectedMode" style="position:fixed;bottom:20px;right:20px;"  ng-if="showaddInventory == false">
   <md-fab-trigger>
      <div style="padding:0px;">
         <md-button aria-label="menu" class="md-fab md-warn" style="background-color:#db4437;">
            <md-icon md-svg-src="img/ic_add_24px.svg" style="width:30px;" ></md-icon>
         </md-button>
      </div>
   </md-fab-trigger>
   <md-fab-actions>
      <div style="padding:5px;">
         <md-button aria-label="Google hangout" class="md-fab md-raised md-mini" ng-click="addInventoryIssue()" style="background-color:red;">
            <md-icon md-svg-src="img/ic_note_add_24px.svg"></md-icon>
            <md-tooltip md-direction="left">Add Issue</md-tooltip>
         </md-button>
      </div>
   </md-fab-actions>
</md-fab-speed-dial>