<div layout="column" class="progressCirculardemoBasicUsage" ng-app="MyApp">

  <div layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular id="loader" md-mode="indeterminate"></md-progress-circular>
  </div>

</div>
<div md-virtual-repeat-container style="height: {{viewPortHeight}};">
<div  class="card_container" md-virtual-repeat="tdi in TDinvoice  | filter:$root.searchText1||undefined | orderBy:prodSearch "
 ng-class="{'first_card_top_margin_two': $index == '0'}" style="max-width:960px;" ng-controller="viewCtrl as ctrl">
    <div class="collapse-card" ng-class="{'active': toggles[$index]}" style="margin-left:33px">

            <!--START OF COLLAPSE CARD HEADING-->
            <div class="collapse-card__heading" layout="row" layout-align="start start" ng-click="getSelected(tdi)" >
            <!--  -->
                <div style="width:56px;">
                    <div  ng-hide="tdi.favourite" class="collapse-card_header_content_info" ng-click="favouriteFunction(tdi)" layout="row">
                        <img src="../../img/directive_library/star-empty-lg.png" style="margin-top:14px;margin-left:7px; height:23px;width:23px;"/>
                    </div>
                    <div  ng-show="tdi.favourite" class="collapse-card_header_content_info" ng-click="favouriteFunction(tdi)" layout="row">
                        <img src="../../img/directive_library/star-fill-lg.png" style="margin-top:14px;margin-left:7px; height:23px;width:23px;"/>
                    </div>
                </div>
                <!--START OF CARD OPEN SECTION-->
                <div class="collapse-card_header_content_info" layout="row" layout-align="center start" style="width:90%; height:70px;" ng-click="$active = !$active;" layout-sm="row">
                    <div layout-sm="row" flex>
                        <div layout-sm="column" flex>
                            <span style="padding-right: 15px; border-right-style: solid; border-width:1px;" class="collapse-card__title">
                                <b>   {{tdi.Startdate|date}}</b>
                            </span>
                            <span style="  padding-right: 15px;margin-left:-10px;border-right-style: solid; border-width:1px;" class="collapse-card__title" ng-if="tdi.status != 'Draft'">
                                <b>Invoice No. {{tdi.invoiceNo}}</b>
                            </span>
                            <span style="padding-right: 15px;margin-left:-10px;border-right-style: solid; border-width:1px;" class="collapse-card__title" ng-if="tdi.status == 'Draft'">
                                <b>Draft No. {{tdi.invoiceNo}}</b>
                            </span>
                            <span  class="collapse-card__title"style="padding-right: 15px;margin-left:-10px; border-right-style: solid; border-width:1px;">
                                <b>{{tdi.Name}}</b>
                            </span>
                            <span  class="collapse-card__title" style="margin-left:-10px;">
                                <b>Amount {{tdi.finalamount|currency}}</b>
                            </span>
                        </div>
                        <div layout-sm="column" style="margin-top:10px;" flex>
                        <span style="padding-right: 15px; border-right-style: solid; border-width:1px; font-size:13px;">
                                     Balace Due $200.00
                         </span>
                        <span style="padding-right: 15px; padding-left: 15px;  border-width:1px; font-size:13px; " ng-if="tdi.termtype != 'multipleDueDates'">
                                        Due Date {{tdi.duedate|date}}
                                        </span>
                        <span style="padding-right: 15px; padding-left: 15px;  border-width:1px; font-size:13px; " ng-if="tdi.termtype == 'multipleDueDates'">
                                        Due Date. Multiple Due Dates
                                        </span>
                        <span style="padding-right: 15px; padding-left: 15px; font-size:13px; width:70px; height:40px; border: 1px solid green;background-color: #4CAF50;" ng-if="tdi.status == 'Paid'">
                                <b style=" width:70px; font-color:#FFFFFF;">
                                    <font color="white">Paid</font>
                                </b>
                            </span>
                            <span style="padding-right: 15px; padding-left: 15px; font-size:13px; width:70px; height:40px; border: 1px solid red;background-color: #FF0000; " ng-if="tdi.status == 'Unpaid'">
                                <b style="width:70px; font-color:#FFFFFF;">
                                    <font color="white">Unpaid</font>
                                </b>
                            </span>
                             <span style="padding-right: 15px; padding-left: 15px; font-size:13px; width:70px; height:40px; border: 1px solid #D2691E;background-color: #D2691E;" ng-if="tdi.status == 'overdue'">
                                <b style="width:70px; font-color:#FFFFFF;">
                                    <font color="white">Overdue</font>
                                </b>
                            </span>
                             <span style="padding-right: 15px; padding-left: 15px; font-size:13px; width:70px; height:40px; border: 1px solid #FF4500;background-color: #FF4500;" ng-if="tdi.status == 'Partially Paid'">
                                <b style="width:70px; font-color:#FFFFFF;">
                                    <font color="white">Partially Paid</font>
                                </b>
                            </span>
                            <span style="padding-right: 15px; padding-left: 15px; font-size:13px; width:70px; height:40px; border: 1px solid #000000; background-color: #000000;" ng-if="tdi.status == 'Cancelled'">
                                <b style="width:70px; font-color:#FFFFFF;">
                                    <font color="white">Cancelled</font>
                                </b>
                            </span>
                            <span style="padding-right: 15px; padding-left: 15px; font-size:13px; width:70px; height:40px; border: 1px solid #696969;background-color: #696969;" ng-if="tdi.status == 'Draft'">
                                <b style="width:70px; font-color:#FFFFFF;">
                                    <font color="white">Draft</font>
                                </b>
                            </span>
                            <span style="padding-right: 15px; padding-left: 15px; font-size:13px; width:70px; height:40px; border: 1px solid #696969;background-color: #696969;" ng-if="tdi.status == 'Pending'">
                                <b style="width:70px; font-color:#FFFFFF;">
                                    <font color="white">Pending</font>
                                </b>
                            </span>
                            <span style="padding-right: 15px; padding-left: 15px;"> </span>
                            <span style="padding-right: 15px; padding-left: 15px; font-size:13px; width:70px; height:40px; border: 1px solid #696969;background-color: #696969;" ng-if="(tdi.RecurringProfileNo)">
                                <b style="width:70px; font-color:#FFFFFF;">
                                    <font color="white">{{tdi.RecurringProfileNo}}</font>
                                </b>
                            </span>
                        </div>
                    </div>
                    <div>
                        <span style="padding-right: 10px; margin-left:120px;">
                            <md-icon md-svg-icon="img/ic_visibility_24px.svg" style="height:20px; width:20px; color:#778899;"></md-icon>
                        </span>
                        <br>
                            <br>
                                <span style="padding-right: 10px; margin-left:120px;">
                                    <md-icon md-svg-icon="img/ic_drafts_24px.svg" style="height:20px; width:20px; color:#778899;"></md-icon>
                                </span>
                            </div>
                        </div>
                        <!--END OF CARD OPEN SECTION-->
                        <!--START OF CARD CONTROLS SECTION-->
                        <div class="collapse-card_header_content_controls" style="width:10%; height:100%;" layout="column" layout-align="center end">
                            <md-menu md-position-mode="target-right target">
                                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                                    <md-icon md-svg-icon="img/ic_more_vert_24px.svg"></md-icon>
                                </md-button>
                                <md-menu-content width="4">
                                 <md-menu-item >
                                        <md-button ng-click="openOtherView(tdi)">
                                            <md-icon></md-icon>
                                            <p>Open</p>
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item >
                                        <md-button ng-click="download(tdi)">
                                            <md-icon></md-icon>
                                            <p>Download</p>
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item >
                                        <md-button ng-click="email(tdi)">
                                            <md-icon></md-icon>
                                            <p>Email</p>
                                        </md-button>
                                    </md-menu-item>
                                     <md-menu-item >
                                        <md-button ng-click="copyInvoice(tdi)">
                                            <md-icon></md-icon>
                                            <p>Copy</p>
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item >
                                        <md-button ng-click="cancelStatus(tdi)">
                                            <md-icon></md-icon>
                                            <p>Cancel</p>
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item >
                                        <md-button ng-click="convertpdf(tdi)">
                                            <md-icon></md-icon>
                                            <p>PDF</p>
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>
                    <div class="collapse-card__body">
                        <form name="editForm" style="max-width:960px;">
                            <md-divider></md-divider>
                            <md-content flex>
                                <div layout layout-sm="column" layout-margin>

                                     <section-title title="Customer Details"> </section-title>

                                    <md-input-container flex >
                                        <label>Customer</label>
                                        <input ng-model="tdi.Name" ng-disabled="true">
                                        </md-input-container>
                                    </div>
                                    <div layout layout-sm="column" layout-margin>
                                         <section-title> </section-title>
                                        <md-input-container flex="73" ng-show="Billingaddress">
                                            <label>Billing Address</label>
                                            <input  ng-model="tdi.billingAddress" ng-disabled="true"/>
                                        </md-input-container>
                                        <md-input-container flex="73" ng-show="Shippingaddress" >
                                            <label>Shipping Address</label>
                                            <input  ng-model="tdi.shippingAddress" ng-disabled="true"/>
                                        </md-input-container>
                                        <div style="height:30px;width:30px;margin-top:35px;"> 
                                        <md-button ng-click="changeAddress()" style="height:30px;" aria-label="change_Address" href>
                                        <md-icon md-svg-src="img/ic_swap_vert_24px.svg" class="iconColor"  md-ink-ripple style="right:1px;left:95%;top:20px;" ></md-icon>
                                        </md-button>
                                        </div>
                                    </div>
                                    <div layout layout-sm="column" layout-margin>
                                         <section-title > </section-title>
                                        <md-input-container flex >
                                            <label>Invoice No.</label>
                                            <input ng-model="tdi.invoiceNo" ng-disabled="true">
                                            </md-input-container>
                                            <div flex >
                                                <md-date-picker model="tdi.Startdate"  label="Date" dialog-md-theme="datePickerTheme" ng-disabled="true"></md-date-picker>
                                            </div>
                                        </div>
                                        <div layout layout-sm="column" layout-margin>
                                            <section-title > </section-title>
                                            <md-input-container flex >
                                                <label>Payment Terms</label>
                                                <input ng-model="tdi.termtype" ng-disabled="true">
                                            </md-input-container>
                                            <div flex >
                                                <md-date-picker model="tdi.duedate"  label=" Due Date" dialog-md-theme="datePickerTheme" ng-disabled="true"></md-date-picker>
                                            </div>
                                        </div>
                                        <div layout layout-sm="column" layout-margin>
                                            <section-title > </section-title>
                                            <md-input-container flex >
                                                <label>PO No.</label>
                                                <input ng-model="tdi.poNum" ng-disabled="true">
                                                </md-input-container>
                                                <md-input-container flex >
                                                    <label>Comments</label>
                                                    <input ng-model="tdi.comments" ng-disabled="true">
                                                    </md-input-container>
                                                </div>
                        <md-divider></md-divider>
    <div layout layout-sm="column" layout-margin>
         <section-title title="Invoice Items"> </section-title>
        <ul as-sortable="sortableOptions" style=" width:600px" ng-model="tdi.invoiceProducts">
            <li ng-repeat="item in tdi.invoiceProducts" as-sortable-item  style=" width:600px">
                <md-card style="margin-left:-40px; width:630px; margin-bottom:20px !important;" as-sortable-item-handle>
                    <md-card-content >
                        <div style="margin-top:0px;">
                            <span>
                                {{item.Productname}} 
                                <md-tooltip>Product Name</md-tooltip>
                            </span>
                            <md-divider></md-divider>
                        </div>
                        <div layout="row" layout-sm="column" style="height:20px; margin-top:10px;">
                            <div flex >
                                <span style="color:#808080;">{{item.quantity}} 
                 
                                    <md-tooltip>Quantity</md-tooltip>
                                </span>
                                <span style="color:#808080;">{{item.ProductUnit}} 
                 
                                    <md-tooltip>UOM</md-tooltip>
                                </span>
                            </div>
                            <div flex>
                                <span style="color:#808080;">{{item.price|currency}}
                 
                                    <md-tooltip>Price</md-tooltip>
                                </span>
                            </div>
                            <div flex >
                                <span style="color:#808080;">{{item.discount}}%
                 
                                    <md-tooltip>Discount</md-tooltip>
                                </span>
                            </div>
                            <span style="color:#808080;">{{item.tax.taxname}}
                        <span style="color:#808080;" ng-if="item.tax.type == 'individualtaxes' " >({{item.tax.rate}}%)</span>
                            <md-tooltip>Tax</md-tooltip>
                        </span>
                         <span style="color:#808080;" ng-repeat="tt in item.tax.individualtaxes">({{tt.rate}}%)</span>
                            <md-tooltip>Tax</md-tooltip>
                      

                        </div>
                            <div flex >
                                <span style="color:#808080;">{{item.amount|currency}}
                 
                                    <md-tooltip>Amount</md-tooltip>
                                </span>
                            </div>

                             </md-card-content>
                             </md-card>
                        </li>
                    </ul>
            </div>
        <md-divider></md-divider>
                <div layout layout-sm="column" layout-margin>
                    <section-title title="Totals"> </section-title>
                </div>
                <div layout layout-sm="column" layout-margin style="overflow:hidden;margin-top:-50px;">
                    <div flex="5"></div>
                    <div flex="20" style=""></div>
                    <div flex="10">
                        <label>Sub Total</label>
                    </div>
                        <md-input-container flex="20" >
                            <input type="text" style="display:none" aria-label="sub-total"/>
                        </md-input-container>
                  
                    <div flex="5">
                        <label></label>
                    </div>
                    <div flex="30">
                        <span>{{tdi.total | currency}}</span>
                    </div>
                </div>
                <div layout layout-sm="column" layout-margin style="overflow:hidden;margin-top:20px;">
                    <div flex="5"></div>
                    <div flex="20" style="margin-top:35px;"></div>
                    <div flex="10">
                        <label>Discount</label>
                    </div>
               
                        <md-input-container flex="20" >
                            <input type="text"  ng-model="tdi.fdiscount" ng-disabled="true" style="margin-top:-12px;" aria-label="discount"/>
                        </md-input-container>
                 
                    <div flex="5">
                        <label></label>
                    </div>
                    <div flex="30" >
                        <label> - {{tdi.fdiscount | currency}}</label>
                    </div>
                </div>
                <div layout layout-sm="column" layout-margin style="overflow:hidden;">
                    <div flex="5"></div>
                    <div flex="20" style="margin-top:35px;"></div>
                    <div flex="10">
                        <label>Sales Tax</label>
                    </div>
                    
                        <md-input-container flex="20" >
                            <input type="text"  ng-disabled="true" ng-model="tdi.salesTax" style="margin-top:-12px;" aria-label="Slaes_tax"/>
                        </md-input-container>
                    
                    <div flex="5">
                        <label></label>
                    </div>
                    <div flex="30" >
                        <label>{{tdi.salesTaxAmount|currency}}</label>
                    </div>
                </div>
                
                <div layout layout-sm="column" layout-margin style="overflow:hidden;">
                    <div flex="5"></div>
                    <div flex="20" style="margin-top:35px;"></div>
                    <div flex="10">
                        <label>Shipping</label>
                    </div>
                    
                        <md-input-container flex="20" >
                            <input type="text" ng-model="tdi.shipping" ng-disabled="true" style="margin-top:-12px;" aria-label="Shipping"/>
                        </md-input-container>
                    
                    <div flex="5">
                        <label></label>
                    </div>
                    <div flex="30">
                        <span >{{tdi.shipping| currency}}</span>
                    </div>
                </div>
                <center>
                    <md-divider style="width:60%"></md-divider>
                </center>

                <div layout layout-sm="column" layout-margin style="overflow:hidden;">
                    <div flex="5"></div>
                    <div flex="20" style="margin-top:35px;"></div>
                    <div flex="10">
                        <label>
                            <b>Total USD</b>
                        </label>
                    </div>
                        <md-input-container flex="20" >
                            
                        </md-input-container>
                    
                    <div flex="5">
                        <label></label>
                    </div>
                    <div flex="30">
                        <span ng-model="creditNote.totalUSD">
                            <b>{{tdi.finalamount| currency}}</b>
                        </span>
                    </div>
                </div>
                <md-divider></md-divider>
                <div layout layout-sm="column" layout-margin  >
                    <section-title title="Optional Details"> </section-title>
                    <md-input-container flex >
                        <label>Notes</label>
                        <textarea ng-model="tdi.notes" columns="1" md-maxlength="150" ng-disabled="true"></textarea>
                        </md-input-container>
                    </div>
                    <div layout layout-sm="column" layout-margin>
                        <section-title> </section-title>

                        <md-input-container flex >
                       <label>Payment Method</label>
                    <input ng-model="tdi.paymentMethod"  ng-disabled="true">  
                        </md-input-container>
                        
                    </div>
                    <div layout layout-sm="column" layout-margin>
                        <section-title> </section-title>
                        <div layout="column" ng-init="DemoCtrl2()" style="margin-left:0px;" class="chipsdemoBasicUsage" flex>
                            <md-content class="md-padding"  layout="column">
                                <md-chips
                                ng-model="tdi.roFruitNames"
                                readonly="readonly"
                                placeholder="Enter a tag"
                                delete-button-label="Remove Tag"
                                delete-hint="Press delete to remove tag"
                                secondary-placeholder="+Tag">
                                    <md-chip-template>
                                        <strong>{{$chip}}</strong>
                                    </md-chip-template>
                                </md-chips>
                            </md-content>
                        </div>
                    </div>
                    <md-divider></md-divider>
                     <div layout layout-sm="column" ng-if="tdi.termtype == 'multipleDueDates'"layout-margin>
                    <section-title title="Multiple Due dates Details"> </section-title>
                        <table >
                            <tr>
                                <th style="padding: 30px;" flex >Date</th>
                                <th style="padding: 30px;" flex>Percentage</th>
                                <th style="padding: 30px;" flex>Price</th>
                            </tr>
                            <tr ng-repeat="mutidate in tdi.MultiDueDAtesArr">
                                <td style="padding: 30px;" flex>{{mutidate.DueDate|date}}</td>
                                <td style="padding: 30px;" flex>{{mutidate.Percentage}} % </td>
                                <td style="padding: 30px;" flex> {{mutidate.dueDateprice|currency}} </td>
                            </tr>
                        </table>                      
                    </div>
                     <md-divider></md-divider>
                    <div layout layout-sm="column" layout-margin>
                        
                         <section-title title="Uploaded File Details"> </section-title>
                        <div layout="row" layout-align="center center"  flex>
                            <div flex="98" >
                                <md-table headers="headers" sortable="sortable" filters="search" custom-class="custom" thumbs="thumbs" count="count" content="tdi.UploadImages.val"></md-table>
                            </div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                    <div class="md-actions" layout="row" layout-align="center center" style="display:none">
                        <md-button id="mySignup" class="md-raised md-primary" style="width:93%" type="submit">
                            <span class="loginBtnLabel">SAVE</span>
                        </md-button>
                    </div>
                </md-content>
            </form>
        </div>
    </div>
        <!--END OF CARD BODY-->
</div>
</div>
<footer flex>
<div style="display: inline-block;padding-left: 10px;padding-right: 10px;background-color: #FFFFFF;
margin-left:35%;">
     <!-- <p>Posted by: Hege Refsnes</p> -->
      <md-button ng-click="previous()" style="height:30px;" aria-label="previous" href>
        <md-icon md-svg-icon="img/ic_keyboard_arrow_left_24px.svg" ></md-icon>
    </md-button>
    <md-button ng-click="pageOne()" style="height:30px;" aria-label="next" href>
        1
    </md-button>
    <md-button ng-click="pageTwo()" style="height:30px;" aria-label="next" href>
        2
    </md-button>
    <md-button ng-click="pageThree()" style="height:30px;" aria-label="next" href>
       3
    </md-button>
    <md-button ng-click="pageFour()" style="height:30px;" aria-label="next" href>
        4
    </md-button>
    <md-button ng-click="pageFive()" style="height:30px;" aria-label="next" href>
        5
    </md-button>
     <md-button ng-click="next()" style="height:30px;" aria-label="next" href>
        <md-icon md-svg-icon="img/ic_keyboard_arrow_right_24px.svg" ></md-icon>
    </md-button>
  <!--    <img src="img/ic_keyboard_arrow_left_24px.svg">
     <img src="img/ic_keyboard_arrow_right_24px.svg"> -->
</div>
    
</footer>
