<style>
  .md-datepicker-input-container
  {
      width: 70%
  }
</style>

<div class="card-container" style="padding:20px;">
    <!--WHITEFRAME START-->
    <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" style="border:1px solid #ccc;max-width:960px;margin:0 auto" >
        <!--FORM START-->
     <form name="editForm"  style="width:960px;" >
    <!--   -->
            <md-content ng-repeat="tdi in invoiceArray"  flex>
           <!--   -->
           
                <div layout layout-sm="column" layout-margin>
                  <section-title title="Customer Details"> </section-title>
                  <md-input-container flex>
                      <label>Select Customer</label>
                      <input ng-model="tdi.Name">
                      </md-input-container>
                  </div>
                  <div layout layout-sm="column" layout-margin>
                     <section-title > </section-title>
                      <md-input-container flex="70" ng-show="Billingaddress">
                          <label>Billing Address</label>
                          <input  ng-model="tdi.billingAddress" ng-disabled="true"/>
                      </md-input-container>
                      <md-input-container flex="70" ng-show="Shippingaddress" >
                          <label>Shipping Address</label>
                          <input  ng-model="tdi.shippingAddress" ng-disabled="true"/>
                      </md-input-container>
                      <div style="height:30px;width:30px;margin-top:35px;"> 
                      <md-button ng-click="changeAddress()" style="height:30px;" aria-label="change_Address" href>
                      <md-icon md-svg-src="img/ic_swap_vert_24px.svg" class="iconColor"  md-ink-ripple style="right:1px;left:95%;top:20px;" ></md-icon>
                      </md-button>
                      </div>
                  </div>
                <div layout layout-sm="column" layout-margin>
                   
                   <section-title> </section-title>
                   
                    <md-input-container flex >
                        <label>Invoice No.</label>
                        <input ng-model="tdi.invoiceRefNo" ng-disabled="true">
                        </md-input-container>
                        <div flex >
                            <md-date-picker-new model="tdi.Startdate"  label="Date" dialog-md-theme="datePickerTheme" required/></md-date-picker-new>
                        </div>
                     
                    </div>
                    <div layout layout-sm="column" layout-margin>
                       <section-title > </section-title>
                       
                        <md-input-container flex >
                            <label>Payment Terms</label>
                            <md-select ng-model="tdi.termtype" flex required/>
                            <md-optgroup label="Terms type">
                                <md-option value="DueonReceipt" ng-show"dueDtaesShow">Due on Receipt</md-option>
                                 <md-option value="Custom" >Custom</md-option>
                                <md-option value="Net 7 days">Net 7 days</md-option>
                                <md-option value="Net 14 days" ng-click="fourteenDaysClick()">Net 14 days</md-option>
                                <md-option value="Net 21 days">Net 21 days</md-option>
                                <md-option value="Net 30 days">Net 30 days</md-option>
                                <md-option value="Net 45 days">Net 45 days</md-option>
                                <md-option value="Net 60 days">Net 60 days</md-option>
                                 <md-option value="Net 90 days">Net 90 days</md-option>
                                <md-option value="multipleDueDates" ng-click="MultiDuDates()">Multiple Due Dates</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                    <div flex="30" >
                        <md-date-picker-new model="tdi.duedate"  label=" Due Date" dialog-md-theme="datePickerTheme" ng-if="tdi.termtype != 'multipleDueDates' "/></md-date-picker-new>
                    </div>

                    <div style="height:30px; width:30px; margin-top:35px;"> 
                    <md-button ng-click="MultiDuDates()" style="height:30px;" aria-label="multi-dates" href>
                    <md-icon md-svg-src="img/ic_more_horiz_24px.svg" class="iconColor"  md-ink-ripple style="right:1px;left:90%;" ></md-icon></md-button>
                    </div>
                </div>
                <div layout layout-sm="column" layout-margin>
                   <section-title> </section-title>
                    <md-input-container flex >
                        <label>Po No.</label>
                        <input ng-model="tdi.poNum" >
                        </md-input-container>
                        
                        <md-input-container flex >
                            <label>Comment</label>
                            <input ng-model="tdi.comments">
                            </md-input-container>
                        </div>
                        <md-divider></md-divider>
                        <div >
  <div layout layout-sm="row" layout-margin>
      <section-title title="Invoice Items"> </section-title>
              <div>
                    <ul as-sortable="sortableOptions" style=" width:600px" ng-model="tdi.invoiceProducts">
                              <li ng-repeat="item in tdi.invoiceProducts" as-sortable-item  style=" width:600px">
                                  <md-card style="margin-left:-40px; width:630px; margin-bottom:20px !important;" as-sortable-item-handle>
                                      <md-card-content >
                                          <div style="margin-top:0px;">
                                              <span >
                                    {{item.Productname}} 
                                                  <md-tooltip>Product Name</md-tooltip>
                                              </span>
                                              <md-menu md-position-mode="target-right target" layout="row" flex-sm="100" flex="5" layout-align="center center" style="margin-top:-30px; margin-left:550px">
                                                  <md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                                                      <md-icon md-menu-origin  md-svg-src="img/ic_more_horiz_24px.svg"></md-icon>
                                                  </md-button>
                                                  <md-menu-content width="4">
                                                      <md-menu-item>
                                                          <md-button href ng-click="viewSavedProducts(item)">
                                                              <p>view</p>
                                                              <md-icon md-menu-align-target ></md-icon>
                                                          </md-button>
                                                      </md-menu-item>
                                                      <md-menu-item>
                                                          <md-button href ng-click="deleteEditproduct(item, $index)">
                                                              <p>Delete</p>
                                                              <md-icon md-menu-align-target ></md-icon>
                                                          </md-button>
                                                      </md-menu-item>
                                                  </md-menu-content>
                                              </md-menu>
                                              <md-divider></md-divider>
                                          </div>
                                          <div layout="row" layout-sm="column" style="height:20px; margin-top:10px;">
                                              <div flex >
                                                  <span style="color:#808080;">{{item.quantity}} 
                                                      <md-tooltip>Quantity</md-tooltip>
                                                  </span>
                                                  <span style="color:#808080;">{{item.ProductUnit}} 
                                                      <md-tooltip>UOM</md-tooltip>
                                                  </span>
                                              </div>
                                              <div flex>
                                                  <span style="color:#808080;">{{item.price|currency}}
                                                      <md-tooltip>Price</md-tooltip>
                                                  </span>
                                              </div>
                                              <div flex >
                                                  <span style="color:#808080;">{{item.discount}}%
                                                      <md-tooltip>Discount</md-tooltip>
                                                  </span>
                                              </div>
                                              <div flex>
                                                 <span style="color:#808080;">{{item.tax.taxname}}
                                                  <span style="color:#808080;" ng-if="item.tax.type == 'individualtaxes' " >({{item.tax.rate}}%)</span>
                                                      <md-tooltip>Tax</md-tooltip>
                                                  </span>
                                                   <span style="color:#808080;" ng-repeat="tt in item.tax.individualtaxes">({{tt.rate}}%)</span>
                                                      <md-tooltip>Tax</md-tooltip>
                                                  </span>
                                                 </div>
                                              <div flex >
                                                  <span style="color:#808080;">{{item.amount|currency}}
                                   
                                                      <md-tooltip>Amount</md-tooltip>
                                                  </span>
                                              </div>
                                          </div>
                                      </md-card-content>
                                  </md-card>
                              </li>
                          </ul>
                      <div layout="row" layout-sm="column"  flex style="margin-left:10px; margin-top:25px;">
                           <md-button href class="md-raised md-primary" style="height:5px; " ng-click="addProductArray(tdi.invoiceProducts)">New Line</md-button>
                      </div>
                     </div>
                  </div>
             <md-divider></md-divider>
                             <div layout layout-sm="column" layout-margin>
                      
                       <section-title title="Totals"> </section-title>
                  </div>
                  <div layout layout-sm="column" layout-margin style="overflow:hidden;margin-top:-50px;">
                      <div flex="5"></div>
                      <div flex="20" style=""></div>
                      <div flex="10">
                          <label>Sub Total</label>
                      </div>
               
                          <md-input-container flex="20" >
                              <input type="text"  ng-model="tdi.fdiscount" style="display:none" aria-label="sub-total"/>
                          </md-input-container>
                    
                      <div flex="5">
                          <label></label>
                      </div>
                      <div flex="30">
                          <span>{{calculatetotal(tdi)|currency}}</span>
                      </div>
                  </div>
                  <div layout layout-sm="column" layout-margin style="overflow:hidden;margin-top:20px;">
                      <div flex="5"></div>
                      <div flex="20" style="margin-top:35px;"></div>
                      <div flex="10">
                          <label>Discount</label>
                      </div>
                 
                          <md-input-container flex="20" >
                              <input type="text"  ng-model="tdi.fdiscount" style="margin-top:-12px;" aria-label="discount"/>
                          </md-input-container>
                   
                      <div flex="5">
                          <label></label>
                      </div>
                      <div flex="30" >
                          <label> - {{finaldiscount(tdi) | currency}}</label>
                          <span style="display:none">{{CalculateTax()| currency}}</span>
                      </div>
                  </div>
                   <div layout layout-sm="column" ng-repeat="tt in getTax track by $index" layout-margin 
                   style="overflow:hidden;">
                                <div flex="5"></div>
                             
                                <div flex="20" style="margin-top:35px;"></div>
                                <div flex="10">
                                    <label>{{tt.taxName}}</label>
                                </div>
                                <md-input-container flex="20" >
                                    <input type="text"  ng-model="tt.rate" aria-label="sales tax" style="margin-top:-12px;"/>
                                </md-input-container>
                                <div flex="5">
                                    <label></label>
                                </div>
                                <div flex="30" >
                                    <label>{{tt.salesTax| currency}}</label>
                                </div>
                            </div>
                  
                  <div layout layout-sm="column" layout-margin style="overflow:hidden;">
                      <div flex="5"></div>
                      <div flex="20" style="margin-top:35px;"></div>
                      <div flex="10">
                          <label>Shipping</label>
                      </div>
                          <md-input-container flex="20" >
                              <input type="text" ng-model="tdi.shipping" style="margin-top:-12px;" aria-label="Shipping"/>
                          </md-input-container>
                      
                      <div flex="5">
                          <label></label>
                      </div>
                      <div flex="30">
                          <span >{{tdi.shipping| currency}}</span>
                      </div>
                  </div>
                  <center>
                      <md-divider style="width:60%"></md-divider>
                  </center>

                  <div layout layout-sm="column" layout-margin style="overflow:hidden;">
                      <div flex="5"></div>
                      <div flex="20" style="margin-top:35px;"></div>
                      <div flex="10">
                          <label>
                              <b>Total USD</b>
                          </label>
                      </div>
                      
                          <md-input-container flex="20" >
                              
                          </md-input-container>
                      
                      <div flex="5">
                          <label></label>
                      </div>
                      <div flex="30">
                          <span >
                              <b>{{finalamount(tdi) | currency}}</b>
                          </span>
                      </div>
                  </div>
                          <md-divider></md-divider>
                          <div layout layout-sm="column" layout-margin>
                      
                              <section-title title="Optional Details"> </section-title>
                              <md-input-container flex >
                                  <label>Notes</label>
                                  <textarea ng-model="tdi.notes " columns="1" md-maxlength="150"></textarea>
                                  </md-input-container>
                              </div>
                              <div layout layout-sm="column" layout-margin>
                                 <section-title > </section-title>
                                  <md-select placeholder="Payment Method" ng-model="tdi.paymentMethod" flex>
                                      <md-optgroup >
                                            <md-option ng-repeat="pay in paymentMethod" value="{{pay.paymentmethod}}">{{pay.paymentmethod}}</md-option>
                                        </md-optgroup>
                                  </md-select>
                              </div>
                              <div layout layout-sm="column" layout-margin>
                      
                              <section-title > </section-title>
                                <div layout="column" ng-init="DemoCtrl1()" style="margin-left:0px;" class="chipsdemoBasicUsage" flex>
                            <md-content class="md-padding"  layout="column">
                                <md-chips
                                ng-model="tdi.roFruitNames"
                                readonly="readonly"
                                placeholder="Enter a tag"
                                delete-button-label="Remove Tag"
                                delete-hint="Press delete to remove tag"
                                secondary-placeholder="+Tag">
                                    <md-chip-template>
                                        <strong>{{$chip}}</strong>
                                    </md-chip-template>
                                </md-chips>
                            </md-content>
                        </div></div>
                           <div layout layout-sm="column" layout-margin  >
                              
                              <section-title > </section-title>
                                <div layout layout-sm="column" layout-margin  >
                                   <section-title > </section-title>
                                    <div layout="row" layout-sm="column"  flex style="margin-left:-200px; margin-top:0px;">
                                        <md-button href class=" md-primary" style="height:5px; " ng-click="upload()"> upload </md-button>
                                    </div>
                                </div>
                                </div>
                              <md-divider></md-divider>
                       <div class="md-actions" layout="row" layout-sm="column" layout-align="end start" >

                       <div >
                        <md-button href class="md-raised  md-warn" ng-click="cancelinvoice(tdi)" flex>
                                  <span class="loginBtnLabel">Cancel</span>
                              </md-button>
                             </div>
                              
                               <div >
                                <md-button  class="md-raised md-primary" ng-show="editInvoiceB" ng-click="edit(tdi)" flex>
                                  <span class="loginBtnLabel">Update</span>
                              </md-button>
                              </div>
                               <div >
                                <md-button flex  class="md-raised md-primary" ng-show="saveInvoiceB" ng-click="saveInvoice(tdi)">
                                  <span class="loginBtnLabel">Save</span>
                              </md-button>
                              </div>
                               <div >
                                <md-button flex  class="md-raised md-primary" ng-show="showSave" ng-click="savetoInvoices(tdi)">
                                  <span class="loginBtnLabel">Save</span>
                              </md-button>
                              </div>
                          </div>
                              
                      </md-content>

                  </form>
              </md-whiteframe>
                      <!--WHITEFRAME END-->
                  </div>
                  <!--CARD CONTAINER END-->
                  <div  class="lock-size" layout="row" >
                  <md-button href class="md-fab" aria-label="Profile" ng-click="view()" style="position:fixed;top:270px;right:50px;background:#db4437">
                              <md-icon md-svg-src="img/ic_add_24px.svg" ></md-icon>
                              <md-tooltip md-direction="left">All Invoices</md-tooltip>
                          </md-button>
                      </div>


                                              