
<md-dialog style="max-width:850px;" aria-label="multiple due dates">
    <md-toolbar class="modal-header">
        <div class="md-toolbar-tools">
            <h2>Due Dates</h2>
            <span flex></span>
            <md-button href class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="width:800px;">
    <div layout layout-sm="column" layout-margin>
    <div flex="5"></div>
        <h3>Invoice Total USD {{$root.famount|currency}}</h3>
    </div>
        <div layout layout-sm="column" layout-margin ng-if="$root.dateArray.val.length == 0"> 
            <div flex="5"></div>
            <div layout layout-sm="row" layout-margin >
                <div class="table-responsive-vertical"  style="overflow-x:hidden; margin-left:-20px;" >
                    <table id="table"  class="table table-hover table-mc-light-blue" >
                        <tbody>
                            <tr animate ng:repeat="cn in testarr">
                                <td data-title="Item Detail" >
                                    <div layout layout-sm="column" layout-margin>
                                    <md-datepicker ng-model="cn.duedate" md-placeholder="Due Date" required flex style=" width:230px; margin-left:-20px;" ></md-datepicker>
                                    <md-input-container flex style=" padding-left:5px;">
                                            <label>Percentage</label>
                                            <input  ng-model="cn.percentage" id="{{cn.count}}" ng-change="DueAmount(cn,$index)" >
                                             <div ng-messages="projectForm.rate.$error" multiple md-auto-hide="false">
                                              <div ng-message="required" ng-show="showPercentage">
                                                 <b>percentage is exceeded</b>
                                              </div>
                                              <div ng-message="limit" ng-show="$root.showmsg">
                                                  please check the percentage
                                              </div>
                                              </div>
                                            </md-input-container>
                                            
                                            <md-input-container flex style=" padding-left:10px;margin-top:10px;">
                                                <label>Amount</label>
                                                <input ng-model="cn.duDatePrice|currency"  >
                                                </md-input-container>
                                                <md-button  href class="md-mini md-primary" ng-click="removeItem(cn)" style="height:30px;margin-left:-18px;top:10px;">
                                                    <md-icon md-svg-src="img/ic_delete_24px.svg" class="iconColor" style="right:1px;right:90%;" ></md-icon>
                                                    <md-tooltip md-direction="left">Delete</md-tooltip>
                                                </md-button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div layout layout-sm="column" layout-margin>
                                <md-button href class="md-mini md-primary" ng-click="addItem()" style="margin-left:-18px;">
                                    <md-icon md-svg-src="img/ic_add_circle_outline_24px.svg" class="iconColor" style="right:1px;right:90%;top:20px;" ></md-icon>
                                    <md-tooltip md-direction="left">Add another Date</md-tooltip>
                                </md-button>
                            </div>
                        </div>
                    </div>
                </div>
                 
                 <div layout layout-sm="column" layout-margin ng-show="editDueDates"> 
            <div flex="5"></div>
            <div layout layout-sm="row" layout-margin >
                <div class="table-responsive-vertical"  style="overflow-x:hidden; margin-left:-20px;" >
                    <table id="table"  class="table table-hover table-mc-light-blue" >
                        <tbody>
                            <tr animate ng:repeat="cn in testarr">
                                <td data-title="Item Detail" >
                                    <div layout layout-sm="column" layout-margin>
                                    <md-datepicker ng-model="cn.duedate" md-placeholder="Due Date" required flex style=" width:230px; margin-left:-20px;" ></md-datepicker>
                                    <md-input-container flex style=" padding-left:5px;">
                                            <label>Percentage</label>
                                            <input  ng-model="cn.percentage" id="{{cn.uniqueKey}}" ng-change="DueAmount(cn,$index)" >
                                             <div ng-messages="projectForm.rate.$error" multiple md-auto-hide="false">
                                              <div ng-message="required" ng-show="showPercentage">
                                                 <b>percentage is exceeded</b>
                                              </div>
                                              <div ng-message="limit" ng-show="$root.showmsg">
                                                  please check the percentage
                                              </div>
                                              </div>
                                            </md-input-container>
                                            
                                            <md-input-container flex style=" padding-left:10px;margin-top:10px;">
                                                <label>Amount</label>
                                                <input ng-model="cn.duDatePrice|currency"  >
                                                </md-input-container>
                                                <md-button  href class="md-mini md-primary" ng-click="removeItem(cn)" style="height:30px;margin-left:-18px;top:10px;">
                                                    <md-icon md-svg-src="img/ic_delete_24px.svg" class="iconColor" style="right:1px;right:90%;" ></md-icon>
                                                    <md-tooltip md-direction="left">Delete</md-tooltip>
                                                </md-button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div layout layout-sm="column" layout-margin>
                                <md-button href class="md-mini md-primary" ng-click="aaa()" style="margin-left:-18px;">
                                    <md-icon md-svg-src="img/ic_add_circle_outline_24px.svg" class="iconColor" style="right:1px;right:90%;top:20px;" ></md-icon>
                                    <md-tooltip md-direction="left">Add another Date</md-tooltip>
                                </md-button>
                            </div>
                        </div>
                    </div>
                </div>
                <md-divider></md-divider>
                 <div layout layout-sm="column" layout-margin  >
                      <div flex="5"></div>

                   <!--  <section-title > </section-title> -->
                 <table id="table" class="table table-hover table-mc-light-blue" >
                        <tbody>
                            <tr animate ng-repeat="cc in aDatearr.val">
                                <td data-title="Item Detail" >
                                    <div layout layout-sm="column" layout-margin>
                                    <md-input-container flex style="margin-top:-15px; padding-left:10px;">
                                    <label>Date</label>
                                    <input ng-model="cc.DueDate|date" style="margin-top:5px;">
                                    </md-input-container>
                                    <md-input-container flex style="margin-top:-15px; padding-left:5px;" >
                                    <label>Percentage</label>
                                    <input ng-model="cc.Percentage" style="margin-top:5px;" ng-change="DueAmount(cn,$index)">
                                    </md-input-container>
                                    <md-input-container flex style="margin-top:-15px; padding-left:10px;">
                                    <label>Amount</label>
                                    <input ng-model="cc.dueDateprice" style="margin-top:5px;">
                                    </md-input-container>
                                    <md-button href class="md-mini md-primary" ng-click="rmoveDate(cc)" style="height:30px;margin-left:-18px;top:10px;">
                                    <md-icon md-svg-src="img/ic_delete_24px.svg" class="iconColor" style="right:1px;right:90%;" ></md-icon>
                                    <md-tooltip md-direction="left">Delete</md-tooltip>
                                                </md-button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                            
            </md-dialog-content>
             <div class="md-actions" layout="row">
                <span flex></span>
                <md-button href ng-if="$root.dateArray.val.length == 0" ng-click="AddDueDates()" class="md-primary">Save</md-button>
                <md-button href ng-if="$root.dateArray.val.length != 0" ng-click="UpdateDueDates()" class="md-primary">update</md-button>
              </div>
        </md-dialog>


                                   