
   <md-dialog style="max-width:960px;">
        <md-toolbar class="modal-header">
            <div class="md-toolbar-tools">
                <h2>Upload Files</h2>
                <span flex></span>
                <md-button href class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width:850px" >
<div layout layout-sm="column" layout-margin>
    <section-title title="Upload File"> </section-title>
            <div flex="25">
             <file-up-loader-new label="Upload files"></file-up-loader-new>
          </div>

   </div>
    <md-divider> </md-divider>
                        <br>
                        <br>
                        <div layout layout-sm="column" layout-margin>
               
                <section-title title="File Details"> </section-title>
             <div flex="70" >
                              <md-table headers="headers" sortable="sortable" filters="search" custom-class="custom" thumbs="thumbs" count="count" content="uploadimages.val">
                              </md-table>
                              <md-progress-circular md-mode="indeterminate" layout-align="center center"  ng-show="progresshow" style="z-index: 11;"></md-progress-circular>
                           </div>

                        </div>


   </md-dialog-content>
    <div class="md-actions" layout="row">
                <md-button href ng-click="AddImage()" aria-lable="addFile" class="md-primary">Add</md-button>
            </div>
   </md-dialog>