<!--CARD CONTAINER START-->
<style>
  .md-datepicker-input-container
  {
      width:85%
  }
</style>
<div class="card-container" style="padding:20px;" ng-controller="AppCtrl as ctrl" >
   <!--WHITEFRAME START-->
   <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" style="border:1px solid #ccc;max-width:960px;margin:0 auto;z-index:2">
      <!--FORM START-->
      <form name="editForm" ng-submit="submit()" style="width:100%" >
         <md-content flex>
            <div layout layout-sm="column" layout-margin>
              
               <section-title title="Expense Details"> </section-title>
               <!-- <md-date-picker-new model="CurrentDate" label="Date" req="true" dialog-md-theme="datePickerTheme" flex/> -->
               <md-date-picker-new req="true"  model="CurrentDate" label="Due Date" dialog-md-theme="datePickerTheme" 
                  style="<!-- margin-top: 13px; -->" flex/>
               </md-date-picker-new>

                <md-autocomplete flex="" md-input-name="autocompleteField"
                  md-no-cache="noCache" 
                  md-selected-item="selectedItemSupplier" 
                  md-search-text="searchTextSupplier"
                  md-items="item in querySearchSupplier(searchTextSupplier)" 
                  md-item-text="item.display" 
                  md-floating-label="Supplier (Optional)">
                  <md-item-template>                   
                       <span  md-highlight-text="searchTextSupplier">{{item.display}}</span>  
                  </md-item-template>
                  <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                     <div ng-message="required">You 
                        <b>must</b> have a favorite state.
                     </div>
                     <div ng-message="minlength">Your entry is not long enough.</div>
                     <div ng-message="maxlength">Your entry is too long.</div>
                  </div>
               </md-autocomplete>

             <!--   <md-input-container flex >
                  <label>Supplier (Optional)</label>
                  <input ng-model="expense.Vendor">
               </md-input-container> -->
            </div>
            <div layout layout-sm="column" layout-margin>
              
               <section-title> </section-title>
               <md-input-container flex>
                  <label>Description</label>
                  <textarea maxlength="200" type="text" ng-model="expense.description" required>
                  </textarea>
               </md-input-container>
            </div>
            <div layout layout-sm="column" layout-margin>
              <section-title> </section-title>
               <md-input-container flex>
                  <label>Category</label>
                  <md-select ng-model="expense.Category">
                    <md-optgroup label="Category">
                    <md-option ng-repeat="cat in CategoryArray" value="{{cat}}">{{cat}}</md-option>
                  </md-select>
               </md-input-container >
               <md-input-container flex >
                  <label>Reference No.</label>
                  <input ng-model="expense.Reference" >
               </md-input-container>
            </div>
            <div layout layout-sm="column" layout-margin>
              <section-title> </section-title>
               <md-input-container flex >
                  <label>Amount</label>
                  <input ng-model="expense.Amount" required ng-keyup="finalamount(expense)">
               </md-input-container>
               <md-input-container flex>
               <label>Tax</label>
               <md-select ng-model="expense.Tax" flex ng-change="finalamount(expense)">
                  <md-optgroup label="Tax">
                  <md-option value="10">10</md-option>
                  <md-option value="20">20</md-option>
               </md-select>
               </md-input-container flex>
            </div>
            <div layout layout-sm="column" layout-margin style="overflow:hidden;">
               
               <section-title> </section-title>
               <div layout="row" layout-sm="row" flex>
                  
               
               <div flex="40">
                  <label><b>{{TotalText}}</b></label>
               </div>
                
               <div flex="15" >
                  <label></label>
               </div>
               <div flex="20"  style="margin-left:-25px;">
                  <span ><b>{{totalUSD | currency}}</b></span>
               </div>
               <div flex layout layout-align="end start" style="margin-top:-8px;"> 
                    <a class="md-button md-default-theme" ng-click="ChangeAmount(expense)"
                    aria-label="change address" href="" tabindex="0">
                    <md-icon md-svg-src="img/ic_swap_vert_24px.svg" class="iconColor ng-scope ng-isolate-scope md-default-theme" md-ink-ripple="" style aria-hidden="true">
                    </md-icon>
                    </a>
               </div>
               </div>
            </div>
            <md-divider></md-divider>
            <div layout layout-sm="column"  layout-margin>
               
               <section-title title="Optional Details"> </section-title>
               <md-input-container flex>
               <label>Status</label>
               <md-select  ng-model="expense.Status" ng-change="calanderfun(expense)">
                  <md-optgroup label="Status">
                  <md-option value="Paid" selected>Paid</md-option>
                  <md-option value="Unpaid">Unpaid</md-option>
               </md-select>
               </md-input-container flex>
             <!--   <md-date-picker-new  dis="calanderdisable" model="Duedates" label="Due Date" dialog-md-theme="datePickerTheme" 
                  style="margin-top: 13px;" flex/>
               </md-date-picker-new>
 -->     
               <div  ng-show="ShowDate" flex>
                  <md-date-picker-new  dis="calanderdisable"
                 model="EmptyDuedate" label="Due Date" dialog-md-theme="datePickerTheme" 
                  style="margin-top: 13px;" flex/>
               </md-date-picker-new>
               </div >

               <div ng-hide="ShowDate" flex>
                   <md-date-picker-new 
                   model="EmptyDuedate" label="Due Date" dialog-md-theme="datePickerTheme" 
                     style="margin-top: 13px;" flex/>
                  </md-date-picker-new>
               </div>
              

                  <!-- <md-input-container flex>
                   <label>Due Date</label>
                   <input type="date" ng-model="expense.Duedate" ng-disabled="calanderdisable">
                 </md-input-container> -->

                <!--  <md-date-picker model="expense.Duedate" label="Due Date" disable-date-picker="calanderdisable" flex></md-date-picker> -->

            </div>
            <div layout layout-sm="column"  layout-margin >
              <section-title> </section-title>
               <!-- 
                  <md-input-container flex>
                                <label>Assign to Customer</label>
                  <md-select   ng-model="expense.Assigncustomer"  >
                  
                  	<md-optgroup label="Assign">
                  	<md-option value="1">Customer 1</md-option>
                  	<md-option value="2">Customer 2</md-option>
                  
                  </md-select>
                  </md-input-container flex>
                  -->
               <md-autocomplete flex="" required="" md-input-name="autocompleteField"
                  md-no-cache="ctrl.noCache" 
                  md-selected-item="ctrl.selectedItem" 
                  md-search-text="ctrl.searchText"
                  md-items="item in ctrl.querySearch(ctrl.searchText)" 
                  md-item-text="item.display" 
                  md-floating-label="Assign to Customer or Project">
                  <md-item-template>
                     <span class="item-title">
                        <md-icon md-svg-icon="{{item.image}}"></md-icon>
                        <span style="margin-left: 15px;"> {{item.display}} </span>
                     </span>
                     <!-- <span  md-highlight-text="ctrl.searchText">{{item.display}}</span> -->
                  </md-item-template>
                  <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                     <div ng-message="required">You 
                        <b>must</b> have a favorite state.
                     </div>
                     <div ng-message="minlength">Your entry is not long enough.</div>
                     <div ng-message="maxlength">Your entry is too long.</div>
                  </div>
               </md-autocomplete>
               <md-input-container flex>
               <label>Billable</label>
               <md-select  ng-model="expense.Billable"  >
                  <md-optgroup label="Billable">
                  <md-option value="Billable">Billable</md-option>
                  <md-option value="Non-Billable" selected>Non-Billable</md-option>
               </md-select>
               </md-input-container flex>		 
            </div>

            <div layout layout-sm="column" layout-margin>
               
               <section-title> </section-title>
               <div ng-init="DemoCtrl()" style="margin-left:-5px; margin-top:-10px;" layout="column" class="chipsdemoBasicUsage" flex>
                  <md-content class="md-padding" layout="column">
                      
                     <md-chips ng-model="expense.tags" readonly="readonly" placeholder="Enter a tag" delete-button-label="Remove Tag" delete-hint="Press delete to remove tag" secondary-placeholder="+Tags">
                        
                        <md-chip-template>
                           <strong>{{$chip}}</strong>
                        </md-chip-template>
                     </md-chips>
                  </md-content>
               </div>
            </div>
            <div layout layout-sm="column" layout-margin>
              <section-title></section-title>
               <div style="margin-left:-5px; margin-top:-10px;" layout="column" class="chipsdemoBasicUsage" flex>
                  <md-content class="md-padding" layout="column">
                      
                     <md-chips ng-model="custArr" readonly="true" placeholder="Enter a tag" secondary-placeholder="+Tags">
                        
                        <md-chip-template>
                           <strong>{{$chip}}</strong>
                        </md-chip-template>
                     </md-chips>
                  </md-content>
               </div>
            </div>
            
            <div layout layout-sm="column"  layout-margin>
               
               <section-title> </section-title>
               <div style="margin-left: 15px; margin-top:20px;">
                  <md-button class="md-raised" ng-click="uploader()" type="button">Upload</md-button>
               </div>
            </div>
            <md-divider></md-divider>
            <div layout="row" layout-align="end start" layout-margin  ng-show="true" >
               <div>
                  <md-button id="mySignup" class="md-raised md-primary"  type="submit">Save</md-button>
               </div>
               <div style="margin-left: 15px;">
                  <md-button style="margin-left: 15px;" class="md-raised"  type="button" ng-click="viewExpense()">Cancel</md-button>
               </div>
            </div>
         </md-content>
      </form>
   </md-whiteframe>
   <br><br>
   <!--WHITEFRAME END-->
</div>
<!--CARD CONTAINER END-->
<!-- <div  class="lock-size" layout="row">
   <md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
   		ng-class="demo.selectedMode" style="position:fixed;bottom:20px;right:20px;">
   
   <md-fab-trigger>
   
   <div style="padding:5px;">
   		
   		<md-button aria-label="menu" class="md-fab md-warn" style="background-color:#db4437;">
   			<md-icon md-svg-src="img/ic_add_24px.svg" style="width:30px;" ></md-icon>
   		</md-button>
   
   
   
   </div>
   
   </md-fab-trigger>
   
   <md-fab-actions>
   
   <div style="padding:5px;">
   
   <md-button aria-label="twitter" class="md-fab md-raised md-mini" ng-click="save()" style="background-color:#1abc9c;">
   <md-icon md-svg-src="img/ic_save_24px.svg" ></md-icon><md-tooltip md-direction="left">Save Expense</md-tooltip>
   </md-button>
   
   </div>
   
   <div style="padding:5px;">
   
   <md-button aria-label="Google hangout" class="md-fab md-raised md-mini" ng-click="viewExpense()" style="background-color:red;">
   <md-icon md-svg-src="img/ic_visibility_24px.svg"></md-icon><md-tooltip md-direction="left">View Expense</md-tooltip>
   </md-button>
   
   </div>
   
   <div style="padding:5px;">
            <md-button aria-label="Google hangout" class="md-fab md-raised md-mini" ng-click="uploader()" style="background-color:#e67e22;">
               <md-icon md-svg-src="img/ic_cloud_upload_48px.svg"></md-icon>
               <md-tooltip md-direction="left">Upload</md-tooltip>
            </md-button>
         </div>
   
   
   </md-fab-actions>
   </md-fab-speed-dial>
   
   
   </div>
   
   
   -->
