   <md-bottom-sheet class="md-list md-has-header" style="width:50%; height:400px;  overflow-x:hidden; position:absolute; left: 620px;" layout-align="start end" ng-cloak>
    
     <md-toolbar  class="modal-header" style="width:105%; margin-left:-15px;">
              <div class="md-toolbar-tools">
                   <h2>Email</h2>
                   <span flex></span>
                   <md-button href class="md-icon-button" ng-click="CloseDialog()">
                       <md-icon md-svg-src="img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                   </md-button>
               </div>
           </md-toolbar> 
           <md-whiteframe class="md-whiteframe-z1" style="background-color:#FFFFFF;" style="overflow-y:auto;">
           

            <div layout layout-sm="column" layout-margin style="margin-top:-30px;">       
                <md-content class="md-padding" layout="column"  flex>
                  <md-chips ng-model="emailTo" md-autocomplete-snap md-require-match="true" flex>
                    <md-autocomplete
                      md-selected-item="selectedItemTo"
                      md-search-text="searchTextTo"
                      md-items="item in querySearch(searchTextTo)"
                      md-item-text="item.display"
                      placeholder="To">
                      <span md-highlight-text="searchTextTo">{{item.display}}</span>
                    </md-autocomplete>
                    <md-chip-template>
                      <span>
                        <strong>{{$chip.value}}</strong>
                         <em>({{$chip.email}})</em>
                      </span>
                    </md-chip-template>
                  </md-chips>                           
                </md-content>
                </div>


               <div layout layout-sm="column" layout-margin style="margin-top:-30px;">       
                <md-content class="md-padding" layout="column"  flex>
                  <md-chips ng-model="emailBcc" md-autocomplete-snap md-require-match="true" flex>
                    <md-autocomplete
                      md-selected-item="selectedItem"
                      md-search-text="searchText"
                      md-items="item in querySearch(searchText)"
                      md-item-text="item.display"
                      placeholder="BCC">
                      <span md-highlight-text="searchText">{{item.display}}</span>
                    </md-autocomplete>
                    <md-chip-template>
                      <span>
                        <strong>{{$chip.value}}</strong>
                         <em>({{$chip.email}})</em>
                      </span>
                    </md-chip-template>
                  </md-chips>                           
                </md-content>
                </div>
          <div layout layout-sm="column" layout-margin style="margin-top:-30px; "> 
                    <md-content class="md-padding" layout="column"  flex>
                    <md-input-container flex >
                        <label>Subject</label>
                       <!--  <label>Invoice No.{{test.invoiceRefNo}}</label> -->
                        <input ng-model="email.Subject">
                        </md-input-container>
                        </md-content>
                    </div>
               <div layout layout-sm="column" layout-margin >
              
                   <md-card style="width:100%">
                    <md-content class="md-padding" layout="column" >
                   <md-card-content  flex>
                  
                      <textarea type="text" ng-model="email.Body" style="height:250px;width: 575px;"></textarea>                                            
                     
                    </md-card-content> 
                    </md-content>
                   </md-card>
                    
                    </div>
                    <div class="md-actions" layout="row">
                <span flex></span>
                <md-button href class="md-primary" ng-click="SendMail(email)">Send</md-button>
            </div>  
            </md-whiteframe>    
     </md-bottom-sheet>