<!--Background banner with parallax effect-->
<style>
   .md-datepicker-input-container
   {
   width:80%
   }
</style> 
<div class="card-container" style="padding:20px;" ng-controller="AppCtrlAdd as ctrl" ng-init="loadAllInvoiceDetails()"> 
   <md-whiteframe class="md-whiteframe-2dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center" style="margin:0 auto;max-width:960px">  

      <md-content layout-padding style="width:100%; overflow-x: hidden;">

      <form name="editForm" ng-submit="submit()">
            <div layout-gt-sm="row">
               <section-title title="Payment Details"></section-title>
                        
               <md-autocomplete flex="" required="" md-input-name="autocompleteField" md-no-cache="$root.noCache"
                  md-selected-item="$root.selectedItem1" md-search-text="ctrl.searchText" 
                  md-items="item in ctrl.querySearch(ctrl.searchText, $event)" md-item-text="item.display" 
                  md-floating-label="Customer" md-autofocus="true"
                  md-selected-item-change="selectedItemChange(item.display)" 
                  ng-keyup="keyPressAutoComplete($event)" >
                  <md-item-template>
                            <span class="item-title">
                                <span>{{item.display}}</span>
                            </span>
                            <span class="item-metadata">
                                <span class="item-metastat">
                                    <strong>{{item.Email}}</strong>
                                </span>
                                <md-divider></md-divider>
                            </span>
                        </md-item-template>
               </md-autocomplete>
            </div>
            <div layout-gt-sm="row"> 
               <section-title></section-title> 
               <md-input-container class="md-block" flex-gt-sm >
                  <label>Payment Number</label>
                  <input ng-model="payment.paymentref" required>
               </md-input-container class="md-block" flex-gt-sm>
               <div flex style="margin-top:19px;">
                  <md-datepicker ng-model="payment.date" date-disabled="disabled(payment.date, mode)" md-placeholder="Enter date"
                     md-max-date="maxDate"  ></md-datepicker>
               </div>
            </div>
            <div layout-gt-sm="row"> 
               <section-title></section-title> 
               <md-input-container class="md-block" flex-gt-sm >
                  <label>Payment method</label>
                  <md-select  ng-model="payment.paymentMethod" flex>
                     <md-optgroup label="Payment Method">
                     <md-option ng-repeat="item in PayArr" value="{{item}}">{{item}}</md-option>
                  </md-select>
               </md-input-container>
               <md-input-container class="md-block" flex-gt-sm >
                  <label>Amount Received</label>
                  <input ng-model="payment.amountReceived" required ng-change="netAmount()">
               </md-input-container>
            </div>
            <div layout-gt-sm="row"> 
               <section-title></section-title> 
               <md-input-container class="md-block" flex-gt-sm >
                  <label>Bank Charges</label>
                  <input ng-model="payment.bankCharges">
               </md-input-container>
               <md-input-container class="md-block" flex-gt-sm >
                  <label>comment</label>
                  <input ng-model="payment.comments">
               </md-input-container>
            </div>
            <div layout-gt-sm="row" style="overflow:hidden;">
               <section-title></section-title>
               <div layout="row" layout-sm="column" layout-align="start start" flex>                  
                  <div flex layout="row" layout-sm="row" flex-sm="100" style="width: 100%;" >
                     <div flex>
                        <label><b>Unapplied Advances :</b></label>                        
                     </div>
                     <div flex="40">
                         <span><b>{{payment.uAmount | currency}}</b></span>
                     </div>
                  </div>
                  <div flex layout="row" layout-sm="row" flex-sm="100" style="width: 100%;">
                     <div flex>
                        <label><b>Total Available :</b></label>                     
                     </div>
                     <div flex>                        
                        <span><b>{{nAmount | currency}}</b></span>
                     </div>
                  </div>
               </div>
            </div>
            <md-divider></md-divider>
               <div layout-gt-sm="row">
                  <section-title title="invoice details"></section-title>
                  
                  <div layout="column" layout-align="center start" flex>
                     <div layout="row" hide-sm layout-align="start center" flex style="width:100%">
                        <md-whiteframe class="md-whiteframe" flex layout="row"> 
                        <div flex="5" hide-sm></div>
                           <div flex >
                              <label style="font-size: 12px;"><b>Date</b></label>
                           </div>
                           <div flex>
                              <label style="font-size: 12px;"><b>Invoice no</b></label>
                           </div>
                           <div flex >
                              <label style="font-size: 12px;"><b>Due date</b></label> 
                           </div>
                           <div flex>
                              <label style="font-size: 12px;"><b>Amount</b></label> 
                           </div>
                           <div flex >
                              <lable style="font-size: 12px;"><b>Balance</b></lable>
                           </div>
                           <div flex >
                              <lable style="font-size: 12px;"><b>Paid amount</b></lable>
                           </div>
                           <div flex>
                           </div>
                        </md-whiteframe>
                     </div>                                 
                  </div>
               </div>


               <div layout-gt-sm="row" ng-repeat="invo in fullArr track by $index">
                  <section-title></section-title>
                  <div layout="column" layout-align="center start" flex>
                     <div layout="row" layout-align="start center" flex style="width:100%">
                        <md-whiteframe class="md-whiteframe" flex layout="row" layout-sm="column"> 
                           <div flex="5">
                              <md-checkbox md-no-ink ng-disabled="invo.checkDisable"   aria-label="Checkbox No Ink" ng-model="invo.checked" class="md-primary" ng-change="checkItem($index,invo)" style="margin-top: -6px; margin-left: 0px;"></md-checkbox>
                           </div>
                           <div layout-sm="row" flex>
                              <div flex-sm="25" hide-gt-sm>
                                <label style="font-size: 12px;"><b>date</b></label>
                              </div>
                              <div flex>
                                <label style="font-size: 12px;">{{invo.sdate|date}}</label>
                              </div>
                           </div>
                           <div layout-sm="row" flex>
                              <div flex-sm="25" hide-gt-sm>
                                <label style="font-size: 12px;"><b>Invoice no</b></label>
                              </div>
                              <div flex>
                                 <label  style="font-size: 12px;">{{invo.invono}}</label>
                              </div>
                           </div>
                           <div layout-sm="row" flex>
                              <div flex-sm="25" hide-gt-sm>
                                <label style="font-size: 12px;"><b>Due date</b></label>
                              </div>
                           <div  flex>
                              <label  style="font-size: 12px;" >{{invo.mduedate|date}}</label> 
                           </div>
                           </div>
                           <div layout-sm="row" flex>
                              <div flex-sm="25"hide-gt-sm >
                                <label style="font-size: 12px;"><b>Amount</b></label>
                              </div>
                           <div flex>
                              <lable  style="font-size: 12px;">{{invo.famount|currency}}</lable>
                           </div>
                           </div>
                           <div layout-sm="row" flex>
                              <div flex-sm="25" hide-gt-sm>
                                <label style="font-size: 12px;"><b>Balance</b></label>
                              </div>
                              <div flex>
                                 <label style="font-size: 12px;" >{{invo.instalment|currency}}</label>
                              </div>
                           </div> 

                             
                           <div layout-sm="row" flex>
                              <div flex-sm="25" hide-gt-sm>
                                <label style="font-size: 12px;"><b>Paid Amount</b></label>
                              </div>                                                     
                         
                              <div flex >
                                 <md-input-container flex md-no-float style="    margin-top: 0px;">
                                    <input placeholder="Paid Amount" ng-disabled="invo.inputDisable" ng-model="invo.amount" 
                                    ng-change="getPaidAmount(invo, '{{invo.amount}}', $event,$index)" style="height: 25px; font-size: 13px;    margin-top: -9px; width: 100%;">
                                 </md-input-container>
                              </div>
                           </div> 
                           <div  layout-sm="row"  layout="row" layout-align="start start" flex flex-sm="50" >
                              <md-menu>
                                 <div style="margin-top: -18%; margin-right:0px;">
                                    <md-button type="button"   aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                                       <md-icon  md-menu-origin  md-svg-src="img/ic_more_horiz_24px.svg"></md-icon>
                                    </md-button>
                                 </div>
                                 <md-menu-content>
                                    <md-menu-item>
                                       <md-button href ng-click="history(invo)">
                                          <p>View History</p>
                                          <md-icon md-menu-align-target></md-icon>
                                       </md-button>
                                    </md-menu-item>
                                 </md-menu-content>
                              </md-menu>
                           </div>
 
                        </md-whiteframe>
                     </div>                                 
                  </div>

               </div>
               <md-divider></md-divider> 

            <div layout-gt-sm="row" style="overflow:hidden;">
               <section-title></section-title>

               <div layout="row" layout-sm="column" layout-align="start center" flex>                  
                  <div flex layout="row" layout-sm="row" flex-sm="100" style="width: 100%;" >
                    
                  </div>
                  <div flex layout="row" layout-sm="row" flex-sm="100" style="width: 100%;">
                     <div flex>
                        <label><b>Total Payments Applied :</b></label>
                     </div>
                     <div flex flex-gt-sm="40">
                        <span ><b>{{payment.total|currency}}</b></span>
                     </div>
                  </div>
               </div>
            </div>
            <md-divider></md-divider>
            <div layout-gt-sm="row" layout-sm="row">
               
               <section-title title="Optional Details"></section-title>
               <div style="margin-left:1%;margin-top:3%;">
                  <md-button href class="md-raised md-primary" style="height:5px; " ng-click="upload()">Upload File</md-button>
               </div>
            </div>
           
            <div layout-gt-sm="row" ng-repeat="cust in payCustArr" ng-init="cust.value == cust.inputType"> 
               <section-title ng-if="$index == '0'" title="Custom Fields"></section-title>
               <section-title ng-if="$index != '0'" ></section-title>

               <md-input-container style="margin-top: 18px;" ng-if="cust.type == 'textBox'" class="md-block" flex-gt-sm >
                  <label>{{cust.labelshown}}</label>
                  <input ng-model="cust.inputType">
               </md-input-container>

                <md-input-container  ng-if="cust.type == 'selectBox'" class="md-block" flex-gt-sm >
                  <label>{{cust.labelshown}}</label>
                  <md-select  ng-model="cust.inputType" flex>
                     <md-option ng-repeat="item in cust.fields" value="{{item}}">{{item}}</md-option>
                  </md-select>
               </md-input-container>

               <div flex="40"></div>
            </div>
            <md-divider></md-divider>
            <div layout-gt-sm="row"> 
               <section-title></section-title> 
               <div style="margin-left:55%; margin-top: 1%;">
                  <md-button class="md-raised md-warn" href class="md-raised md-primary" style="height:5px; "ng-click="cancelFunc()">Cancel</md-button>
               </div>
               <div style="margin-left:2%;margin-top: 1%;">
                  <md-button href class="md-raised md-primary" style="height:5px; " ng-click="save()">Save</md-button>
               </div>
            </div>
            <div class="md-actions" layout="row" layout-align="center center" style="display:none">
               <md-button id="mySignup" class="md-raised md-primary" style="width:93%" type="submit"><span class="loginBtnLabel">SAVE</span>
               </md-button>
            </div>
         </form>
      </md-content>
   </md-whiteframe>
   <br><br>
   <!--WHITEFRAME END-->
</div>
<!--CARD CONTAINER END-->
