<style type="text/css">

tr.border_bottom td {
  border-bottom:1pt solid black;
}

md-input-container.md-input-focused label {
  display: none
}
.ShowLabel{
  display: block !important
}
.Hidelabel{
   display: none   !important
}

</style>
<div class="card-container" style="padding:20px;">
   <!--WHITEFRAME START-->
   <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" style="border:1px solid #ccc;max-width:960px;margin:0 auto" ng-repeat="item in viewPyamentArr">
      <form name="editForm"  style="width:960px;" ng-controller="AppCtrlAdd as ctrl"  >
         <md-content flex>
         <div ng-show="progressBar" layout="column" layout-sm="column" layout-align="center center" style="background: white;z-index: 10;position: absolute;height: 100%;width: 100%;opacity: 0.8;">
              <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                <span> 
                  <b>Please Wait....</b>
                </span>
          </div>
            <div layout layout-sm="column" layout-margin flex>
               <div flex="15">
                  <label>Payment No:</label>
                  <label ng-if="item.paymentid == '-999'">{{item.paymentref}}</label>
                  <label ng-if="item.paymentid != '-999'">{{item.paymentid}}</label>
               </div>
               <div flex="15">
                  <label>USD: {{item.total}}</label>
               </div>
               <div flex="20">
                  <span style="background-color: #212121; width: 100px;"
                   ng-if="item.paymentStatus == 'Cancelled'">
                      <b style="font-color:#FFFFFF;padding-right: 10px; padding-left : 10px;">
                          <font color="white">{{item.paymentStatus}}</font>
                      </b>
                  </span>
               </div>
               <div layout layout-align="end start" flex style="margin-top:-5px;">
                  <md-button ng-click="print()" style="height:30px;" aria-label="change address" href>
                     <md-icon md-svg-icon="img/ic_print_24px.svg" style="height:20px; width:20px;"></md-icon>
                  </md-button>
                  <md-button ng-click="download()" style="height:30px;" aria-label="change address" href>
                     <md-icon md-svg-icon="img/ic_file_download_24px.svg" style="height:20px; width:20px;"></md-icon>
                  </md-button>
                  <md-button ng-click="email()" style="height:30px;" aria-label="change address" href>
                     <md-icon md-svg-icon="img/ic_email_24px.svg" style="height:20px; width:20px;"></md-icon>
                  </md-button>
                  <md-menu ng-if="item.paymentStatus != 'Cancelled'" md-position-mode="target-right target" >
                     <md-button href aria-label="Open demo menu" class="md-icon-button"  ng-click="$mdOpenMenu()">
                        <md-icon md-menu-origin md-svg-src="img/ic_more_horiz_24px.svg"style="margin-top:-5px;" ></md-icon>
                     </md-button>
                     <md-menu-content width="4">
                        <md-menu-item >
                           <md-button href ng-click="cancelPayment(item)">
                              <p>Cancel</p>
                              <md-icon md-menu-align-target ></md-icon>
                           </md-button>
                        </md-menu-item>
                        <md-menu-item >
                           <md-button href ng-click="deletePayment(item)">
                              <p>Delete</p>
                              <md-icon md-menu-align-target ></md-icon>
                           </md-button>
                        </md-menu-item>
                     </md-menu-content>
                  </md-menu>
               </div>
            </div>
            <md-divider></md-divider>
            <div layout layout-sm="column" layout-margin flex>
               <img src="img/image1.jpg">
            </div>
            <div layout layout-sm="column" layout-margin flex style="margin-top:-50px;">
               <div flex="5" class="blankspace"></div>
               <h1 style="">PAYMENT RECEIPT</h1>
            </div>
            <div layout layout-sm="column" layout-margin style="margin-top:20px;" flex>
               <div flex="5" class="blankspace"></div>
               <label>Payment No:</label>
               <label ng-if="item.paymentid == '-999'">{{item.paymentref}}</label>
               <label ng-if="item.paymentid != '-999'">{{item.paymentid}}</label>
               <div flex="50" class="blankspace"></div>
               <label>To: {{item.customer}}</label>	
            </div>
            <div layout layout-sm="column" layout-margin flex>
               <div flex="5" class="blankspace"></div>
               <label>Payment Date: {{item.date|date}}</label>
               <div flex="60" class="blankspace"></div>
               <label></label>
            </div>
            <div layout layout-sm="column" layout-margin  flex>
               <div flex="5" class="blankspace"></div>
               <label>Payment Method: {{item.paymentMethod}}</label>
               <div flex="60" class="blankspace"></div>
            </div>
            <div layout layout-sm="column" layout-margin  flex>
               <div flex="5" class="blankspace"></div>
               <label>Comments: {{item.paymentComments}}</label>
               <div flex="60" class="blankspace"></div>
            </div>
            <div layout layout-sm="column" style="margin-top:30px;" layout-margin  flex>
               <div flex="5" hide-sm ></div>
               <table style="width: 800px;"  cellspacing="0" >
                  <tr >
                     <th style=" border-bottom: 1px solid;text-align: left;padding-left: 20px;">Date</th>
                     <th style=" border-bottom: 1px solid;text-align: left;padding-left: 20px;" flex>Invoice No.</th>
                     <th style=" border-bottom: 1px solid;text-align: left;padding-left: 20px;" flex>Amount</th>
                     <th style=" border-bottom: 1px solid;text-align: left;padding-left: 20px;" flex>Balance</th>
                     <th style=" border-bottom: 1px solid;text-align: left;padding-left: 20px;" flex>Paid</th> 
                  </tr>
                  <tr ng-repeat="item in item.paidInvoice"  class="border_bottom" >
                     <td style="padding: 20px;"flex>{{item.sdate|date}}</td>
                     <td style="padding: 20px;"flex>{{item.invono}}</td>
                     <td style="padding: 20px;"flex>{{item.amount}}</td>
                     <td style="padding: 20px;"flex>{{item.balance}}</td>
                     <td style="padding: 20px;"flex>{{item.amount - item.balance}}</td> 
                  </tr>
               </table>
            </div>

            <div layout layout-sm="column" layout-margin  flex>
               <div flex="40" class="blankspace"></div>
               <table>
                  <tr>
                     <td style="padding-top:30px;" flex><b>Total payments Applied USD</b></td>
                     <td style="padding-left: 70px; padding-top:30px;" flex>{{item.total|currency}}</td>
                  </tr>
                  <tr >
                     <td  style="padding-top:30px;" flex><b>Excess Payment USD</b></td>
                     <td style="padding-left: 70px; padding-top:30px;" flex>{{item.outStandingPayment|currency}}</td>
                  </tr>
               </table>
            </div>
            <md-divider></md-divider>


            <div layout layout-sm="column" layout-margin>
              <section-title title="History and Comment"> </section-title>
               <md-input-container flex> 
                  <label ng-class="lblVisibility">Write a comment..</label>              
                  <textarea id="CommentTxt" ng-keydown="SaveComment(product,$event)" 
                  ng-model="product.Commentstxt" columns="1" ng-blur="CheckText(product,$event)" 
                  md-maxlength="150"></textarea>
               </md-input-container>
            </div>
            <div layout layout-sm="column" layout-margin>
             <section-title> </section-title>
              
               <ul flex id="todo-list" style="margin-top:-20px;">
                

                  <div ng-show= "ProgressBar" ng-model="CommentObj" layout="row" layout-sm="row" layout-align="center start"
                 style="border-style: inset;height: 50px;">
                              
                      <span flex><a style="color:red" href ng-click="Repost(CommentObj)">click here to send again</a></span>

                      <md-button ng-click="CommentEdit(product,CommentObj)" style="height:30px;" aria-label="change address" href>
                      <md-icon md-svg-icon="img/ic_edit_24px.svg" style="height:20px; width:20px;"></md-icon>
                    </md-button>

                    <md-button ng-click="CurrentCommentDelete(CommentObj)" style="height:30px;" aria-label="change address" href>
                      <md-icon md-svg-icon="img/ic_highlight_remove_24px.svg" style="height:20px; width:20px;"></md-icon>
                    </md-button>                  
                 </div>
                   <div ng-show="commentProgress" layout="column" layout-sm="column" layout-align="center center" style="z-index: 10;height: 10%;width: 60%;">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                      <span> 
                        <b>Please wait....</b>
                      </span>
                    </div>


                  <li class="view" style="min-height:{{item.textareaHeight}};padding:10px;" flex layout="row"
                   ng-repeat="item in item.Comments  | unique:'TodayDate'">
                    
                      
                      <img ng-if="item.type =='comment'" flex="5" src="../../img/material alperbert/avatar_tile_h_28.png" style="border-radius:20px;  height: 30px;"/>

                      <img ng-if="item.type =='activity'" flex="5" src="../../img/material alperbert/avatar_tile_a_28.png" style="border-radius:20px;  height: 30px;"/>
                      

                      <div flex layout="row" id="mainTable" style="min-heigth:35px;">
                        <span  flex="30" style="color: #A9A9A9;padding-left: 12px;padding-top: 8px;">{{item.TodayDate | datetime}}
                        </span> 
                        <textarea readonly="readonly" flex ng-model="item.Comment" column="1" style="color: #A9A9A9;resize: none; margin-top: 5px;border: none; overflow:hidden;"></textarea>
                        <span ng-if="item.type =='comment' && item.edited"  flex="10" style="color: #A9A9A9;padding-top: 8px; font-size:13px;">Edited</span> 
                      </div>

                       <md-button type="button" ng-if="item.type =='comment'" ng-click="CommentEdit(product,item,$index)" style="height:30px;" aria-label="change address" >
                          <md-icon md-svg-icon="img/ic_edit_24px.svg" style="height:20px; width:20px;"></md-icon>
                        </md-button>
                      

                       <md-button type="button" ng-if="item.type =='comment'" ng-click="CommentDelete(item,$index)" style="height:30px;" aria-label="change address" >
                          <md-icon md-svg-icon="img/ic_highlight_remove_24px.svg" style="height:20px; width:20px;"></md-icon>
                        </md-button>

                        <div ng-if="item.type =='activity'" flex ="10"></div>

                       <md-divider></md-divider>
                
                  </li>


                </ul>
            </div>
         </md-content>
      </form>
   </md-whiteframe>
</div>
