<md-dialog style="max-width:960px;" arial-label="add produst">
        <md-toolbar  class="modal-header">
            <div class="md-toolbar-tools">
                <h2>Add Line Item</h2>
                <span flex></span>
                <md-button href class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width:850px;" >
            <div layout layout-sm="column" layout-margin  >
                 <section-title title="Item Details"> </section-title>
                <md-autocomplete flex="" required="" 
                          ng-keypress="enter($event)"
                        md-input-name="autocompleteField"
                         md-no-cache="$root.noCache" 
                         md-selected-item="$root.selectedItemm" 
                         md-search-text="$root.searchTextt"
                          md-items="item in $root.querySearchh($root.searchTextt)" 
                          md-item-text="item.dis" 
                          md-floating-label="Product or Service"
                          md-autofocus="true"
                          md-selected-item-change="setSelectedClient($root.searchTextt)">  
                    <md-item-template >
                        <span  md-highlight-text="$root.searchTextt">{{item.dis}}</span>
                    </md-item-template>
                </md-autocomplete >
            </div>
            <div layout layout-sm="column" layout-margin >
                <section-title> </section-title>
                <md-input-container flex style="margin-top:0px;">
                    <label>Quantity</label>
                    <input type="number" ng-model="qty" ng-change="setSelectedClient($root.searchTextt)" required/>
                </md-input-container>
                <div flex ng-repeat="pim in promoItems" >
                    <md-input-container >
                        <label>Unit</label>
                            <md-select ng-model="pim.ProductUnit" ng-change="setUOM(pim)" flex required/>
                            <md-optgroup label="Terms type">
                                 <md-option ng-repeat="tax in $root.AllUnitOfMeasures" value="{{tax.unitsOfMeasurement}}">
                              <!--   {{tax.unitsOfMeasurement}} -->
                              </md-option>
                                
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                </div>
               <div ng-repeat="pim in promoItems">
                <md-input-container flex>
                    <label>Price</label>
                    <input type="text" ng-model="pim.price" required ng-change="setprice(pim)"/>
                </md-input-container>
                </div>
            </div>
            <div layout layout-sm="column" layout-margin>
               <section-title> </section-title>
                
                <md-input-container flex>
                    <label>Discount</label>
                     <input type="text" ng-model="discount" />
                </md-input-container>

                 <div flex ng-repeat="pim in promoItems" >
                <md-input-container flex style="margin-top:9px;">
                    <label>Tax</label>
                     <md-select ng-model="pim.tax.taxname" ng-disabled="TaxDisabled" ng-change="setTax(pim)" flex required/>
                            <md-optgroup label="Tax">
                                <md-option ng-repeat="tax in $root.taxType" value="{{tax.taxname}}">
                                {{tax.taxname}} 
                              </md-option>
                            </md-optgroup>
                        </md-select>
                </md-input-container>
                </div>
                <md-input-container flex>
                    <label>Amount</label>
                    <span style="display:none">{{calAMount()}}</span >
                    <input ng-model="Amount| currency" ng-disabled="true">
                </md-input-container>
            </div>
            <div layout layout-sm="column" layout-margin>
                <section-title> </section-title>
                
                <md-input-container flex>
                    <label>Optional line comment</label>
                    <input type="text" ng-model="olp"/>
                </md-input-container>
            </div>
         </md-dialog-content>
            <div class="md-actions" layout="row">
                <span flex></span>
                <md-button href ng-click="addproductToarray(pim)" class="md-primary">OK</md-button>
            </div>
    </md-dialog>

