<form id="form" name="editForm">
	<md-content >
	<div layout layout-sm="column" layout-margin>
		<div flex="5" hide-sm>	
		</div>
		<div flex="20" hide-sm>
		</div>
		<md-input-container flex="30">
		<label>Estimate Sequence</label>
		<input type="text" ng-model="$root.Settings12thdoor.preference.estimatepref.estimatesequence" required>
	</md-input-container>
</div>

<!-- <div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="30">
	<label>Default Payment Terms</label>
	<md-select ng-model="ctrl.userState">
	<md-option ng-repeat="" value="">{{state.abbrev}}</md-option>
</md-select>
</md-input-container>
</div> -->

<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="30">
	<label>Default Validity</label>
	<md-select ng-model="$root.Settings12thdoor.preference.estimatepref.defaultvalidity">
	<md-option>7 Days</md-option>
	<md-option>14 Days</md-option>
	<md-option>30 Days</md-option>
</md-select>
</md-input-container>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-switch flex="40" class="md-primary" ng-model="$root.Settings12thdoor.preference.estimatepref.displayshiptoaddressestimate" aria-label="Switch 1">Display ship to address on Estimate
</md-switch>
</div>
<md-divider></md-divider>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-switch flex="33" class="md-primary" ng-model="$root.Settings12thdoor.preference.estimatepref.sendpdfestimateAsattachment" aria-label="Switch 1">
	Send PDF Estimate as attachment
</md-switch>
<div layout="row" layout-align="start center" style="margin-top: 19px;">
	<a href="#" class="tooltipSmallLength" data-tooltip="If not selected, customer can view online via email link">
		<md-icon style="color:#A5A0A0" md-svg-src="img/ic_info_24px.svg" aria-label="Insert Drive Icon">
	</md-icon>
</a>
</div>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-switch flex="40" class="md-primary" ng-model="$root.Settings12thdoor.preference.estimatepref.nofifyadminwhenviewedOraccepted" aria-label="Switch 1">
	Notify admin when viewed or accepted
</md-switch>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-switch flex="30" class="md-primary" ng-model="$root.Settings12thdoor.preference.estimatepref.copyadminforallestimate" aria-label="Switch 1">Copy Admin for all estimates
</md-switch>
</div>
<md-divider></md-divider>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="40">
	<label>
		Default comment (top of Estimate)
	</label>
	<input type="text" ng-model="$root.Settings12thdoor.preference.estimatepref.defaultcomment" required>
</md-input-container>
<div flex="20" layout="row" layout-align="start center">
	<md-button class="md-primary" style="font-size:12px;" >
	Copy from invoice
</md-button>
</div>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="40">
	<label>Default note (bottom of estimate)</label>
	<textarea ng-model="$root.Settings12thdoor.preference.estimatepref.dafultnote" columns="1" md-maxlength="150"></textarea>
</md-input-container>
<div flex="20" layout="row" layout-align="start center">
	<md-button class="md-primary" style="font-size:12px;" >
	Copy from invoice
</md-button>
</div>
</div>

<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<div layout="column" layout-align="center start" flex>
		<ul as-sortable="sortableOptions" style="width:60%; margin-bottom: 42px; margin-top: 0px;" ng-model="asdc">
			<li ng-repeat="item in $root.Settings12thdoor.preference.estimatepref.CusFiel" as-sortable-item>
				<md-card style="margin-left:-41px;" class="add-mdcard" as-sortable-item-handle>
				<md-card-content>
				<div layout="row" layout-align="space-around center" layout-sm="column" style="height:10px; margin-top: 10px; margin-bottom: 10px; padding: 5px;">
					<div flex>
						<span style="color:#808080;font-size:15px;">{{item.name}}
							<md-tooltip md-direction="right">Custom Fields name</md-tooltip>
						</span>
					</div>
					<div flex>
						<span style="color:#808080;font-size:15px;">{{item.type}}
							<md-tooltip md-direction="right">Fields Type</md-tooltip>
						</span>
					</div>
					<div flex="5">
						<md-menu md-position-mode="target-right target" layout="row" flex-sm="100" layout-align="end center" style="margin-top:-4px;">
						<md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
						<md-icon md-menu-origin  md-svg-src="img/ic_more_horiz_24px.svg"></md-icon>
					</md-button>
					<md-menu-content width="4">
					<md-menu-item>
					<md-button ng-click="editestimatecusFieldsrow(item , $event)">
					<p>Edit</p>
					<md-icon md-menu-align-target ></md-icon>
				</md-button>
			</md-menu-item>
			<md-menu-item>
			<md-button ng-click="deleteestimatecusfieldsrow(item , $index)">
			<p>Delete</p>
			<md-icon md-menu-align-target ></md-icon>
		</md-button>
	</md-menu-item>
</md-menu-content>
</md-menu>
</div>
</div>
</md-card-content>
</md-card>
</li>
</ul>

<div flex layout="row" layout-align="start end" style=" margin-top:-33px;">
	<md-button  class="md-raised" ng-click="addcusfieldsEstimate($event)">
	Add custom fields
</md-button>
</div>

</div>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-switch flex="33" class="md-primary" ng-model="$root.Settings12thdoor.preference.estimatepref.emailcustomeruponsavingestimate" ng-init="$root.Settings12thdoor.preference.estimatepref.emailcustomeruponsavingestimate=true" aria-label="Switch 1">
	Email customer upon saving estimate
</md-switch>
<md-input-container flex="30" ng-if="$root.Settings12thdoor.preference.estimatepref.emailcustomeruponsavingestimate" style="margin-bottom:-19px;">
<label></label>
<md-select ng-model="$root.Settings12thdoor.preference.estimatepref.emailcustomeroption">
<md-option selected>Display pop up and prompt</md-option>
<md-option>Send email in background</md-option>
</md-select>
</md-input-container>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-switch flex class="md-primary" ng-model="$root.Settings12thdoor.preference.estimatepref.includeproductbrochurescustomeremail" aria-label="Switch 1">
	Include product brochures in customer email
</md-switch>
</div>
</md-content>
</form>