<div>
	<form id="form" name="editForm" ng-submit="submit()" style="box-shadow:0 5px 5px -3px rgba(0,0,0,.14),0 8px 10px 1px rgba(0,0,0,.098),0 3px 14px 2px rgba(0,0,0,.084)">
		<md-content style="overflow:hidden;">
		<md-divider></md-divider>
		<md-list style="margin-top: 20px; margin-bottom: 20px;">
		<div layout-gt-sm="row">
			<section-title title="Account Owner Details"></section-title>
		</div>

		<md-list-item>
		<div layout-gt-sm="column" flex>
			<p>Account Owner</p>
			<p style="margin-top: -15px; color: rgba(0,0,0,0.54); font-size:13px;">To update your name or email address. please edit your personal profile</p>
		</div>
		<md-input-container flex="40">
		<input ng-model="$root.Settings12thdoor.profile.accountOwner" ng-disabled="true" placeholder="Account Owner">
	</md-input-container>
</md-list-item>

<md-list-item>
<div layout-gt-sm="column" flex>
	<p>Your Email</p>
	<p style="margin-top: -15px; color: rgba(0,0,0,0.54); font-size:13px;">To update your name or email address. please edit your personal profile</p>
</div>
<md-input-container flex="40">
<input ng-model="$root.Settings12thdoor.profile.adminEmail" ng-disabled="false" placeholder="Your Email">
</md-input-container>
</md-list-item>

<md-list-item class="secondary-button-padding">
<div layout-gt-sm="column" flex>
	<p>Account Url</p>
</div>
<div flex="40">
	<md-input-container d-no-float class="md-block" flex-gt-sm>
	<input type="text" ng-model="$root.Settings12thdoor.profile.accountUrl" ng-disabled="true" placeholder="Account Url">
</md-input-container>
<md-button class="md-primary md-secondary" style="font-size:12px;" ng-click="changeUrl($event)">
Change
</md-button>
</div>
</md-list-item>

<md-divider></md-divider>

<div layout-gt-sm="row">
	<section-title title="Company Information"></section-title>
</div>

<md-list-item>
<p>Company Name</p>
<md-input-container flex="40">
<input type="text" ng-model="$root.Settings12thdoor.profile.companyName" placeholder="Company Name">
</md-input-container>
</md-list-item>

<md-list-item>
<p>Street</p>
<md-input-container flex="40">
<input type="text" ng-model="$root.Settings12thdoor.profile.street" placeholder="Street">
</md-input-container>
</md-list-item>

<md-list-item>
<p>City</p>
<md-input-container flex="40">
<input ng-model="$root.Settings12thdoor.profile.city" placeholder="City" >
</md-input-container>
</md-list-item>

<md-list-item>
<p>State</p>
<md-input-container flex="40">
<input ng-model="$root.Settings12thdoor.profile.state" placeholder="State" required>
</md-input-container>
</md-list-item>

<md-list-item>
<p>Zip</p>
<md-input-container flex="40">
<input ng-model="$root.Settings12thdoor.profile.zip" placeholder="Zip" required>
</md-input-container>
</md-list-item>

<md-list-item>
<p>Country</p>
<md-input-container flex="40">
<md-select ng-model="$root.Settings12thdoor.profile.country" placeholder="Country">
<md-option ng-repeat="c in country" value="">{{state.abbrev}}</md-option>
</md-select>
</md-input-container>
</md-list-item>

<md-list-item>
<p>Phone Number</p>
<md-input-container flex="40">
<input type="text" ng-model="$root.Settings12thdoor.profile.phoneNo" placeholder="Phone Number">
</md-input-container>
</md-list-item>

<md-list-item>
<p>Fax</p>
<md-input-container flex="40">
<input type="text" ng-model="$root.Settings12thdoor.profile.fax" placeholder="Fax">
</md-input-container>
</md-list-item>

<md-list-item>
<p>Company Email</p>
<md-input-container flex="40">
<input type="text" ng-model="$root.Settings12thdoor.profile.companyEmail" placeholder="Will display on invoices, estimates etc..">
</md-input-container>
</md-list-item>

<md-list-item>
<p>Website</p>
<md-input-container flex="40">
<input type="text" ng-model="$root.Settings12thdoor.profile.website" placeholder="Website">
</md-input-container>
</md-list-item>

<md-divider></md-divider>

<md-list-item ng-click="uploadImage($event)">
<div layout-gt-sm="row" flex>
	<p>Upload Company Logo</p>
	<div flex layout="row" layout-align="end center" ng-repeat="logo in $root.Settings12thdoor.profile.name">
		<div><p style="color:#B5B5B5;font-size:16px;">{{logo.name}}</p></div>
		<div><md-icon ng-click="deletelogoimage(logo, $index)" style="color:#A5A0A0" md-svg-src="img/ic_close_24px.svg" aria-label="Insert Drive Icon"></md-icon></div>
	</div>
</div>
</md-list-item>

<md-divider></md-divider>

<div layout-gt-sm="row">
	<section-title title="Custom Fields"></section-title>
</div>
<div layout-gt-sm="column" style="padding:0px 4% 24px;">
	<div as-sortable="sortableOptions" ng-model="asdc" flex="100">
		<div ng-repeat="item in $root.Settings12thdoor.profile.CusFiel" as-sortable-item flex>
			<md-card class="add-mdcard" style="padding:5px;" as-sortable-item-handle flex>
			<md-card-content>
			<div layout="row">
				<div flex>
					<span style="color:#808080;font-size:15px;">{{item.labelshown}}
						<md-tooltip md-direction="right">Custom Fields name</md-tooltip>
					</span>
				</div>
				<div flex>
					<span style="color:#808080;font-size:15px;">{{item.type}}
						<md-tooltip md-direction="right">Fields Type</md-tooltip>
					</span>
				</div>
				<div flex>
					<md-menu md-position-mode="target-right target" layout="row" layout-align="end end" flex-sm="100" style="margin:-16px 0px -32px;">
					<md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
					<md-icon md-menu-origin  md-svg-src="img/ic_more_horiz_24px.svg"></md-icon>
				</md-button>
				<md-menu-content width="4">
				<md-menu-item>
				<md-button ng-click="editprofilecusFieldsrow(item , $event)">
				<p>Edit</p>
				<md-icon md-menu-align-target ></md-icon>
			</md-button>
		</md-menu-item>
		<md-menu-item>
		<md-button ng-click="deleteprofilerow(item, $index)">
		<p>Delete</p>
		<md-icon md-menu-align-target ></md-icon>
	</md-button>
</md-menu-item>
</md-menu-content>
</md-menu>
</div>
</div>
</md-card-content>
</md-card>
</div>
</div>
<div layout-gt-sm="row" layout-align="start start" style="padding: 10px 9px 0px;">
	<md-button  class="md-raised" ng-click="addcusfieldsProfile($event)">
	Add custom fields
</md-button>
</div>
</div>

<md-divider></md-divider>

<div layout-gt-sm="row">
	<section-title title="Regional Settings"></section-title>
</div>

<md-list-item>
<p>Base Currency</p>
<md-input-container flex="40">
<md-select ng-model="$root.Settings12thdoor.profile.baseCurrency" placeholder="Base Currency">
<md-option>USD</md-option>
<md-option>CAD</md-option>
</md-select>
</md-input-container>
</md-list-item>

<md-list-item>
<p>Time Zone</p>
<md-input-container flex="40">
<md-select ng-model="$root.Settings12thdoor.profile.timeZone" placeholder="Time Zone">
<md-option ng-repeat="z in zones" value="">{{state.abbrev}}</md-option>
</md-select>
</md-input-container>
</md-list-item>

<md-list-item>
<p>Date Format</p>
<md-input-container flex="40">
<md-select ng-model="$root.Settings12thdoor.profile.dataFormat" placeholder="Date Format">
<md-option ng-repeat="d in format" value="">{{state.abbrev}}</md-option>
</md-select>
</md-input-container>
</md-list-item>

<md-list-item>
<p>Currency Format</p>
<md-input-container flex="40">
<md-select ng-model="$root.Settings12thdoor.profile.currencyFormat" placeholder="Currency Format">
<md-option ng-repeat="cf in currFor" value="">{{state.abbrev}}</md-option>
</md-select>
</md-input-container>
</md-list-item>

<md-list-item>
<p>Decimal Places</p>
<md-input-container flex="40">
<md-select ng-model="$root.Settings12thdoor.profile.decimalPlaces" placeholder="Decimal Places">
<md-option ng-repeat="deci in decimals" value="">{{state.abbrev}}</md-option>
</md-select>
</md-input-container>
</md-list-item>

<md-list-item>
<p>Paper Size</p>
<md-input-container flex="40">
<md-select ng-model="$root.Settings12thdoor.profile.paperSize" placeholder="Paper Size">
<md-option>letter(8.5" x 11")</md-option>
<md-option>A3(11.69" x 16.54")</md-option>
<md-option>A4(8.27" x 11.69")</md-option>
</md-select>
</md-input-container>
</md-list-item>

</md-list>

<!-- <md-divider></md-divider>
<div layout layout-sm="column" layout-margin>
	<div flex="5">
		<img src="img/material alperbert/avatar_tile_a_28.png" style="margin-top:22px;border-radius:20px"/>
	</div>
	<div flex="20" style="margin-top:35px;">
		<label style="font-weight:700">Appearance</label>
	</div>
	<div flex>
		<md-card style="margin-top: 28px;">
		<md-card-content style="background:#efefef; height:31px;">
		<center style="margin-top:7px;">Theme</center>
	</md-card-content>
	<md-content flex style="overflow:hidden;">
	<div layout="row" layout-align="center center" layout-sm="column" layout-margin>
		<div flex style="border: 1px solid #efefef;"><img ng-src="img/default.png"></div>
		<div flex style="border: 1px solid #efefef;"><img ng-src="img/color.png"></div>
	</div>
</md-content>
</md-card>
</div>
</div> -->
</md-content>
</form>
</div>

<div class="lock-size" layout="row">
	<md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
	ng-class="demo.selectedMode" style="position:fixed;bottom:20px;right:20px;">
	<md-fab-trigger>
	<md-button aria-label="menu" class="md-fab " style="background-color:#db4437;" ng-click="submit()">
	<md-icon md-svg-src="img/ic_add_24px.svg" style="width:30px;"></md-icon>
</md-button>
</md-fab-trigger>
<md-fab-actions>
</md-fab-actions>
</md-fab-speed-dial>
</div>
