<!--CARD CONTAINER START-->
<style type="text/css">
md-input-container.md-input-focused label {
  display: none
}
.ShowLabel{
  display: block !important
}
.Hidelabel{
   display: none   !important
}
</style>
<div class="card-container" style="padding:20px;" >
   <!--WHITEFRAME START-->
   <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" style="border:1px solid #ccc;max-width:960px;margin:0 auto;z-index:2" ng-repeat="product in ViewExpense">
      <!--FORM START-->
      <form name="editForm" ng-submit="submit()" style="width:100%">
         <md-content flex>

          <div layout="row" layout-sm="column" style="background-color: rgba(128, 128, 128, 0.05);    height: 60px;">
               
               <div style="margin-left: 20px;" flex layout="row" layout-sm="column" layout-align="start center">

                 
                    <span style="padding-right: 15px; color:grey;  border-right-style: solid; border-width:1px; font-size:18px;"> {{product.Productname}}</span>
                            <span style="padding-right: 15px; color:grey;  border-right-style: solid; padding-left: 15px;  border-width:1px; font-size:18px; ">{{product.ProductCode}}</span>



                    
                   <span style="padding-left: 16px; background-color: #339C38; margin-left: 16px; width:15%" ng-if="product.status == 'Active'">
                       <b style="font-color:#FFFFFF;padding-right: 15px;">
                           <font color="white">{{product.status}}</font>
                       </b>
                   </span>
                   <span style="padding-left: 16px; background-color: #212121; margin-left: 16px; width: 18%" ng-if="product.status == 'Inactive'">
                       <b style="font-color:#FFFFFF;padding-right: 15px;">
                           <font color="white">{{product.status}}</font>
                       </b>
                   </span>
                   <!-- <span style="padding-left: 16px;"  >
                     {{expense.Status}}
                   </span>
                   -->
                  
                    
               </div>
                <div flex="10" hide-sm>
                      
               </div>
                <div flex layout layout-align="end center" >
                  <div  style="margin-top:-20px;">
                          <md-button ng-click="print(product)" style="height:30px;" aria-label="change address" href>
                                    <md-icon md-svg-icon="img/ic_print_24px.svg" style="height:20px; width:20px;"></md-icon>
                                </md-button>

                      
                          <md-button ng-click="ConvertToPdf(product)" style="height:30px;" aria-label="change address" href>
                                    <md-icon md-svg-icon="img/ic_file_download_24px.svg" style="height:20px; width:20px;"></md-icon>
                                </md-button>
                        <md-button ng-click="SendEmail($event,product)" style="height:30px;" aria-label="change address" href>
                                    <md-icon md-svg-icon="img/ic_email_24px.svg" style="height:20px; width:20px;"></md-icon>
                                </md-button>
                          
                               <md-menu md-position-mode="target-right target" >
                            <md-button href aria-label="Open demo menu" class="md-icon-button"  ng-click="$mdOpenMenu()">
                                <md-icon md-menu-origin md-svg-src="img/ic_more_horiz_24px.svg"style="margin-top:10px;" ></md-icon>
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item>
                                  <md-button href ng-click="ChangeStatus(product)">
                                      <p>{{ProductStatus}}</p>
                                      <md-icon md-menu-align-target ></md-icon>
                                  </md-button>
                                </md-menu-item>
                                <md-menu-item >
                                    <md-button href ng-click="EditProduct(product)">
                                        <p>Edit</p>
                                        <md-icon href md-menu-align-target ></md-icon>
                                    </md-button>
                                </md-menu-item>
                                 <md-menu-item >
                                    <md-button href ng-click="CopyProduct(product)">
                                        <p>Copy</p>
                                        <md-icon md-menu-align-target ></md-icon>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item >
                                    <md-button href ng-click="DeleteProduct(product,$event)">
                                        <p>Delete</p>
                                        <md-icon href md-menu-align-target ></md-icon>
                                    </md-button>
                                </md-menu-item> 
                               </md-menu-content>
                        </md-menu>
                        </div>
                      
                   </div>
               
            </div>

            <div layout layout-sm="column" layout-margin>
               <section-title title="Product Summary"> </section-title>
               
            </div>

            <div id="widget" layout layout-align="start start" layout-sm="column" id="contentDiv" >
                <div flex="5" hide-sm></div>
                    <div flex="45">                   
                      <div flex="80" ng-if="FileType == 'png'" style="padding-left: 28px;">
                           <img style="width: 90%" ng-src="data:image/png;base64,{{ImageData.Body}}" />                  
                      </div>
                      <div flex="80" ng-if="FileType == 'jpg' || FileType == 'jpeg' " style="padding-left: 28px;">
                           <img style="width: 90%" ng-src="data:image/jpeg;base64,{{ImageData.Body}}" />                  
                      </div>
                      <div flex="80" ng-if="FileType == 'svg'" style="padding-left: 28px;">
                           <img style="width: 90%" ng-src="data:image/svg+xml;base64,{{ImageData.Body}}" />             
                      </div>
                     </div>
                  <div flex="5" hide-sm></div>
                   <div flex="40" style="width:67%;margin-left: 16px; ">
                   <div flex style="height:15%;background-color:rgba(182, 182, 182, 0.46);">
                      <div layout layout-align="center center" style="height:100%">
                           <span style="font-size:23px;"><b>{{product.Productname}}</b></span>
                      </div>
                    
                   </div>
                   <div style="height:15px;"></div>
                   <div flex layout="row" style="height:50px;">
                       
                      <div flex>
                         <span>{{product.description}} </span>
                      </div>
                      
                   </div>
                   <div style="height:15px;"></div>
                   <div flex layout="row">
                      <div flex>
                         <span>Product Code</span>
                      </div>
                      <div flex>
                         <span>{{product.ProductCode}} </span>
                      </div>
                      
                   </div>
                   <div style="height:15px;"></div>
                   <div flex layout="row">
                      <div flex>
                         <span>Default UOM</span>
                      </div>
                      <div flex>
                         <span>  </span>
                      </div>
                      
                   </div>
                   <div style="height:15px;"></div>
                   <div flex layout="row">
                      <div flex>
                         <span>Price (with tax)</span>
                      </div>
                      <div flex>
                         <span><b>USD {{product.productprice}} </b></span>
                      </div>
                      
                   </div>
                   <div style="height:15px;"></div>
                   <div flex layout="row">
                      <div flex>
                         <span>Tax</span>
                      </div>
                      <div flex>
                         <span>{{product.producttax.taxname}} </span>
                      </div>
                      
                   </div>
                   <div style="height:15px;"></div>
                    <div flex layout="row">
                      <div flex>
                         <span>Cost</span>
                      </div>
                      <div flex>
                         <span>{{product.costprice}} </span>
                      </div>
                      
                   </div>
                   <div style="height:15px;"></div>
                    <div flex layout="row">
                      <div flex>
                         <span>Brand</span>
                      </div>
                      <div flex>
                         <span>{{product.brand}} </span>
                      </div>
                      
                   </div>
                   <div style="height:15px;"></div>
                    <div flex layout="row">
                      <div flex>
                         <span>Category</span>
                      </div>
                      <div flex>
                         <span>{{product.ProductCategory}} </span>
                      </div>
                      
                   </div>
                   <div style="height:15px;"></div>
                    <div flex layout="row">
                      <div flex>
                         <span>Track</span>
                      </div>
                      <div flex>
                         <span>{{product.inventory}} </span>
                      </div>
                      
                   </div>
                   <div style="height:15px;"></div>
                    <div flex layout="row">
                      <div flex>
                         <span>Stock</span>
                      </div>
                      <div flex>
                         <span>{{product.stocklevel}} </span>
                      </div>
                      
                   </div>
                    
                    
                   <div style="height:15px;"></div>
                    <div flex layout="row">
                      <div flex>
                         <span>Tags</span>
                      </div>
                      <div flex layout="row"  layout-sm="row" style="margin-left: -20px;">
                            <span  ng-repeat="item in product.tags"><span style="margin-left: 10px;">{{item}}
                            </span></span>                                 
                           <br>

                      </div>
                      
                   </div>
                   <div style="height:15px;"></div>
                   <div flex="5" hide-sm>
                      
                   </div>
                  </div>
            </div>

            <div layout layout-sm="column" layout-margin>
              <section-title title="History and Comment"> </section-title>
               <md-input-container flex> 
                  <label ng-class="lblVisibility">Write a comment..</label>              
                  <textarea id="CommentTxt" ng-keydown="SaveComment(product,$event)" 
                  ng-model="product.Commentstxt" columns="1" ng-blur="CheckText(product,$event)" 
                  md-maxlength="150"></textarea>
               </md-input-container>
            </div>
            <div layout layout-sm="column" layout-margin>
             <section-title> </section-title>
              
               <ul flex id="todo-list" style="margin-top:-20px;">
                <div ng-show= "ProgressBar" ng-model="CommentObj" layout="row" layout-sm="row" layout-align="center start"
                 style="border-style: inset;height: 50px;">
                              
                      <span flex><a style="color:red" href ng-click="Repost(CommentObj)">click here to send again</a></span>

                      <md-button ng-click="CommentEdit(product,CommentObj)" style="height:30px;" aria-label="change address" href>
                      <md-icon md-svg-icon="img/ic_edit_24px.svg" style="height:20px; width:20px;"></md-icon>
                    </md-button>

                    <md-button ng-click="CurrentCommentDelete(CommentObj)" style="height:30px;" aria-label="change address" href>
                      <md-icon md-svg-icon="img/ic_highlight_remove_24px.svg" style="height:20px; width:20px;"></md-icon>
                    </md-button>                  
                 </div>
                  <li class="view" style="min-height:{{item.textareaHeight}};padding:10px;" flex layout="row"
                   ng-repeat="item in product.Comments  | unique:'TodayDate'">
                   <img flex="5" src="../../img/material alperbert/avatar_tile_h_28.png" style="border-radius:20px;  height: 30px;"/>
                   <div flex layout="row" id="mainTable" style="min-heigth:35px;">
                     <span  flex="30" style="color: #A9A9A9;padding-left: 12px;padding-top: 8px;">{{item.TodayDate | datetime}}
                     </span> 
                     <textarea readonly="readonly" flex ng-model="item.Comment" column="1" 
                     style="color: #A9A9A9;resize: none; margin-top: 5px;border: none; overflow:hidden;"></textarea>
                     <!-- <span  flex style="padding-left: 12px;padding-top: 8px;">{{item.Comment}}</span>  -->
                   </div>
                   <md-button type="button" ng-click="CommentEdit(product,item,$index)" style="height:30px;" aria-label="change address" >
                      <md-icon md-svg-icon="img/ic_edit_24px.svg" style="height:20px; width:20px;"></md-icon>
                    </md-button>
                  

                   <md-button type="button" ng-click="CommentDelete(item,$index)" style="height:30px;" aria-label="change address" >
                      <md-icon md-svg-icon="img/ic_highlight_remove_24px.svg" style="height:20px; width:20px;"></md-icon>
                    </md-button>

                   <md-divider></md-divider>
                  </li>
                </ul>
            </div>
           
             
            <div layout="row" layout-align="end start" layout-margin  ng-show="true" >
                
               <div style="margin-left: 15px;">
                  <md-button style="margin-left: 15px;" class="md-raised"  type="button" ng-click="viewExpense()">Cancel</md-button>
               </div>
            </div>
         </md-content>
      </form>
   </md-whiteframe>
   <br><br>
   <!--WHITEFRAME END-->
</div>
 