<div class="card-container" style="padding:20px;">
    <!--WHITEFRAME START-->
    <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" style="border:1px solid #ccc;max-width:960px;margin:0 auto" ng-repeat="item in EstimateArray">
    <form name="editForm"  style="width:960px;"  >
            <md-content flex>
            <div layout layout-sm="column" layout-margin flex>
            <div flex="15">
				<label>Estimate No:</label>
				<label ng-if="item.estimateNo == '-999'">{{item.estimateRefNo}}</label>
					<label ng-if="item.estimateNo != '-999'">{{item.estimateNo}}</label>
				</div>
						<div flex>
                            <span style="padding-right: 15px; padding-left: 15px; font-size:13px; width:70px; height:40px; border: 1px solid #F4A460;background-color: #F4A460;" ng-if="item.status == 'Valid'">
                                <b style=" width:70px; font-color:#FFFFFF;">
                                    <font color="white">Valid</font>
                                </b>
                            </span>
                            <span style="padding-right: 15px; padding-left: 15px; font-size:13px; width:70px; height:40px; border: 1px solid #FF0000;background-color: #FF0000; " ng-if="item.status == 'Expired'">
                                <b style="width:70px; font-color:#FFFFFF;">
                                    <font color="white">Expired</font>
                                </b>
                            </span>
                             <span style="padding-right: 15px; padding-left: 15px; font-size:13px; width:70px; height:40px; border: 1px solid #B22222;background-color: #B22222;" ng-if="item.status == 'Rejected'">
                                <b style="width:70px; font-color:#FFFFFF;">
                                    <font color="white">Rejected</font>
                                </b>
                            </span>
                             <span style="padding-right: 15px; padding-left: 15px; font-size:13px; width:70px; height:40px; border: 1px solid #228B22;background-color: #228B22;" ng-if="item.status == 'Accepted'">
                                <b style="width:70px; font-color:#FFFFFF;">
                                    <font color="white">Accepted</font>
                                </b>
                            </span>
                            <span style="padding-right: 15px; padding-left: 15px; font-size:13px; width:70px; height:40px; border: 1px solid #000000; background-color: #000000;" ng-if="item.status == 'Cancelled'">
                                <b style="width:70px; font-color:#FFFFFF;">
                                    <font color="white">Cancelled</font>
                                </b>
                            </span>
                            <span style="padding-right: 15px; padding-left: 15px; font-size:13px; width:70px; height:40px; border: 1px solid #696969;background-color: #696969;" ng-if="item.status == 'Draft'">
                                <b style="width:70px; font-color:#FFFFFF;">
                                    <font color="white">Draft</font>
                                </b>
                            </span> 
                        </div>
                     <div  style="margin-top:-20px;">
                        	 <md-button ng-click="printDetails()" style="height:30px;" aria-label="change address" href>
                                    <md-icon md-svg-icon="img/ic_print_24px.svg" style="height:20px; width:20px;"></md-icon>
                                </md-button>
                      
                        	 <md-button ng-click="download()" style="height:30px;" aria-label="change address" href>
                                    <md-icon md-svg-icon="img/ic_file_download_24px.svg" style="height:20px; width:20px;"></md-icon>
                                </md-button>
                        
                        	 <md-button ng-click="sendMail(item)" style="height:30px;" aria-label="change address" href>
                                    <md-icon md-svg-icon="img/ic_email_24px.svg" style="height:20px; width:20px;"></md-icon>
                               </md-button>
                               <md-menu md-position-mode="target-right target" >
                            <md-button href aria-label="Open demo menu" class="md-icon-button"  ng-click="$mdOpenMenu()">
                                <md-icon md-menu-origin md-svg-src="img/ic_more_horiz_24px.svg"style="margin-top:10px;" ></md-icon>
                            </md-button>
                            <md-menu-content width="4">
                            <md-menu-item >
                                    <md-button href ng-click="convertToInvoice(item)">
                                        <p>Convert to Invoice</p>
                                        <md-icon href md-menu-align-target ></md-icon>
                                    </md-button>
                                </md-menu-item>
                                 <md-menu-item >
                                    <md-button href ng-click="AcceptStatus(item)">
                                        <p>Accepted by Customer</p>
                                        <md-icon href md-menu-align-target ></md-icon>
                                    </md-button>
                                </md-menu-item>
                                 <md-menu-item >
                                    <md-button href ng-click="RejectedEstimate(item)">
                                        <p>Rejected by Customer</p>
                                        <md-icon href md-menu-align-target ></md-icon>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item >
                                    <md-button href ng-click="editestimate(item)">
                                        <p>Edit</p>
                                        <md-icon href md-menu-align-target ></md-icon>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item >
                                    <md-button href ng-click="copyEstimate(item)">
                                        <p>Copy</p>
                                        <md-icon md-menu-align-target ></md-icon>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item >
                                    <md-button href ng-click="cancelStatus(item)">
                                        <p>Cancel</p>
                                        <md-icon md-menu-align-target ></md-icon>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item >
                                    <md-button aria-label="delete" href ng-click="deleteRecord(item)">
                                        <p>Delete</p>
                                        <md-icon md-menu-align-target ></md-icon>
                                    </md-button>
                                </md-menu-item>
                                
                            </md-menu-content>
                        </md-menu>
                        </div>
				</div>

				<md-divider></md-divider>
				<div layout layout-sm="column" layout-margin flex>
					<img style="margin-top:-5px;" src="img/image1.jpg">
				</div>
				<div layout layout-sm="column" layout-margin flex style="margin-top:-50px;">
				<div flex="10" class="blankspace"></div>
					<h1 style="">Estimate</h1>
				</div>
				<div layout layout-sm="column" layout-margin flex style="margin-top:-20px;">
				<div flex="10" class="blankspace"></div>
					<label ng-if="item.estimateNo == '-999'">{{item.estimateRefNo}}</label>
					<label ng-if="item.estimateNo != '-999'">{{item.estimateNo}}</label>
					<div flex="50" class="blankspace"></div>
				</div>
				<div layout layout-sm="column" layout-margin style="margin-top:-18px;" flex>
				<div flex="65" class="blankspace"></div>
					<label>To:</label>
				</div>
				<div layout layout-sm="column" layout-margin style="margin-top:10px;" flex>
				<div flex="10" class="blankspace"></div>
					<label flex="10">Invoice Date</label>
					<label flex="15"> {{item.Startdate|date}}</label>
			<div flex="25" class="blankspace"></div>
					<label><b>{{item.Name}}</b></label>
				</div>
				<div layout layout-sm="column" layout-margin style="margin-top:-15px;" flex>
				<div flex="10" class="blankspace"></div>
					<label flex="10">Due Date</label>
					<label flex="15"> {{item.termtype}}</label>
					<div flex="25" class="blankspace"></div>
					<label>{{street}}</label>
		
				</div>
				<div layout layout-sm="column" layout-margin style="margin-top:-15px;" flex>
				<div flex="10" class="blankspace"></div>
					<label flex="10">Customer Reference</label>
					<label flex="15"> {{item.cusRef}}</label>
					<div flex="25" class="blankspace"></div>
					<label>{{city}}</label>	
				</div>
				
				<div layout layout-sm="column" layout-margin style="margin-top:-15px;"  flex>
				<div flex="10" class="blankspace"></div>
					<label flex="10">Currency</label>
					<label flex="15">USD</label>
					<div flex="25" class="blankspace"></div>
					<label>{{country}}</label>
				</div>
				<div layout layout-sm="column" layout-margin  flex>
				<div flex="10" class="blankspace"></div>
					<label flex="10">Comments</label>
					<label flex>{{item.comments}}</label>
				</div>
				<div layout layout-sm="column" style="margin-top:30px;" layout-margin  flex>
				<div flex="10" class="blankspace"></div>
					<table>
					<tr>
						<th style=" width:450px;" flex="50">Description</th>
						<th style="padding: 10px;" flex>Qty</th>
						<th style="padding: 10px;" flex>Unit</th>
						<th style="padding: 10px;" flex>Price</th>
						<th style="padding: 10px;" flex>Amount</th>
						<md-divider></md-divider>
						</tr>

						<tr ng-repeat="prod in item.EstimateProducts">
							<td style=" width:450px;" flex="50"><b>{{prod.Productname}}</b><br>
							Optional product line comment- {{prod.olp}}</td>
							<td style="padding: 10px;"flex>{{prod.quantity}}</td>
							<td style="padding: 10px;"flex>{{prod.ProductUnit}}</td>
							<td style="padding: 10px;"flex>{{prod.price}}</td>
							<td style="padding: 10px;"flex>{{prod.amount|currency}}</td> 
						</tr>
						<md-divider></md-divider>
					</table>
				</div>
				 <md-divider></md-divider>

				 <div layout layout-sm="column" layout-margin  flex>
				 	<div flex="55" class="blankspace"></div>
				 	<table>
				 		<tr>
				 			<td style="padding-top:15px;" flex>Sub Total</td>
				 			<td style="padding-left: 75px; padding-top:15px;" flex>
				 			{{item.total|currency}}</td>
				 		</tr>
				 		<tr>
				 			<td  style="padding-top:15px;" flex>Discount</td>
				 			<td style="padding-left: 75px; padding-top:15px;" flex>
				 			{{item.discountAmount|currency}}</td>
				 		</tr>
				 		<tr>
				 			<td style="padding-top:15px;" flex>Tax</td>
				 			<td style="padding-left: 75px; padding-top:15px;" flex>
				 			{{item.salesTaxAmount|currency}}</td>
				 		</tr>
				 		<tr>
				 			<td style="padding-top:15px;" flex> Other Tax</td>
				 			<td style="padding-left: 75px; padding-top:15px;" flex>
				 			{{item.otherTaxAmount|currency}}</td>
				 		</tr>
				 		<tr>
				 			<td style="padding-top:15px;" flex> Shipping</td>
				 			<td style="padding-left: 75px; padding-top:15px;" flex>
				 			{{item.shipping|currency}}</td>
				 		</tr>
				 		<tr>
				 			<td style="padding-top:15px;" flex> Total USD</td>
				 			<td style="padding-left: 75px; padding-top:15px;" flex>
				 			{{item.finalamount|currency}}</td>
				 		</tr>
				 		<tr>
				 			<td style="padding-top:15px;" flex> Paid</td>
				 			<td style="padding-left: 75px; padding-top:15px;" flex>
				 			{{item.paidAMount|currency}}</td>
				 		</tr>
				 		<tr style="background-color:#C0C0C0;">
				 			<td style="padding-top:15px; " flex> <label><b>Balance Due USD</b></label></td>
				 			<td style="padding-left: 75px; padding-top:15px;" flex><b>$200.00</b></td>
				 			<!-- {{item.balanceDue|currency}}</td> -->
				 		</tr>
				 	</table>
				 </div>

				<div layout layout-sm="column" layout-margin  flex>
				<div flex="5" class="blankspace"></div>
				<label>{{item.notes}}</label>
				</div>
				
				<div layout layout-sm="column" layout-margin  flex>
					<div flex="5" class="blankspace"></div>
					<label>GST Registration No:1231564878</label>					
				</div>
				<div layout layout-sm="column" layout-margin  flex>
					<div flex="5" class="blankspace"></div>
					<label>PST Registration No:1231564878</label>
				</div>
				<md-divider></md-divider>
				<div layout layout-sm="column" layout-margin>
                    <section-title title="History & Comments"> </section-title>

                    		<img src="img/material alperbert/avatar_tile_h_28.png" style="height:30px;margin-top: 30px;" />
						 <md-input-container flex >
							<label>Write a comment</label>

		                   <input id="new-todo" ng-model="item.addView"  ng-keyup="addTodo(item)"/>
                     	</md-input-container>
				</div>
				<div layout layout-sm="column" layout-margin>
                     <section-title> </section-title>
                    <ul class="divbutton" id="todo-list" style="margin-top:-20px;">
					          <li ng-repeat="todo in item.commentsAndHistory | orderBy:todo.date" style="padding:10px; margin-left:-48px;" flex>
					            <img src="img/material alperbert/avatar_tile_h_28.png" />
					            
					              <font  color="#A9A9A9">{{todo.date|date}} {{todo.text}}</font> 
					              <md-button href aria-label="delete" ng-mouseover="display:none;" ng-click="deleteComments(todo)" style="width:25px; height:10px; padding:15px;">
					             <img src="img/ic_clear_24px.svg" style=" width:15px; height:15px; margin-top:5px;" /></md-button>
					          </li>
					        </ul>
                    </div>
                    <div layout layout-sm="column" layout-margin>
                    <section-title> </section-title>
                     <a id="clear-completed" ng-click="clear()" ng-show="hasDone()">
					   Clear <span >{{(todos.length - remaining())}} {{itemText()}}</span>.
					          </a>
                    </div>

				<md-divider></md-divider>
				
				<div layout layout-sm="column" ng-show="item.displayShippingAddress" layout-margin>
					<section-title title="Shipping Address"> </section-title>
					<div layout layout-sm="column" layout-margin>
					{{ShippingStreet}}<br>
					{{ShippingCity}}<br>
					{{ShippingCountry}}<br>
					</div>
				</div>
				            </md-content>
            </form>
    </md-whiteframe>
    </div>
     <div  class="lock-size" layout="row" >
    <md-button href class="md-fab" aria-label="Profile" ng-click="view()" style=" position:fixed;top:270px;right:50px;background:#db4437">
                <md-icon md-svg-src="img/ic_add_24px.svg" ></md-icon>
                <md-tooltip md-direction="left">All Invoices</md-tooltip>
            </md-button>

           